.tc p {
  margin: 1% 0;
}

.tc p b {
  font-size: 150%;
}

.tc p:nth-last-child(3) {
  text-align: center;
  color: gray;
}

.tc ul li {
  margin: 10px 0;
  font-family: "montRegular";
  line-height: 1.2;
  list-style: inherit;
}
.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  column-gap: 10px;
}
.logos-group a {
  display: flex;
}
.logos a img {
  width: 100%;
  height: 100%;
  max-width: 120px;
  object-fit: contain;
}

.logos .onjn {
  width: 95%;
  margin-top: 3px;
}

.logos .logo_clinica {
  width: 55%;
}

.logos .gambleaware {
  width: 100%;
  object-fit: contain;
}

.logos .gamcare {
  width: 98%;
}

.logos .gamcare {
  width: 98%;
}

.logos-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logos-group:nth-child(1) {
  flex-direction: row;
  column-gap: 10px;
}

.logos-group:nth-child(2) {
  flex-direction: row;
}

.logos-group:nth-child(2) a:nth-child(2) {
  justify-content: center;
}
.tc a {
  color: var(--color_blue);
  text-decoration: underline;
}

.terms-container {
  max-width: var(--max-w-1400);
  width: 100%;
  margin: 0 auto;
  text-align: start;
}

hr {
  border-color: gray;
}

#termsAndConditionsS {
  padding: 3rem;
  position: relative;
}
#termsAndConditionsS ul {
  margin-left: 10px;
}
#termsAndConditionsS ul .insideUl {
  margin-left: 30px;
}

#termsAndConditionsS ul li span {
  text-shadow: var(--textShadowSmooth);
  font-family: "montBold";
}

.terms-container {
  color: var(--color_white);
  padding: 4rem 1rem;
  border-radius: 10px;
  position: relative;
  margin: 0 auto;
}

#termsAndConditionsS::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  mask: var(--mask-reverse2);
  background: rgb(3 8 28 / 78%);
  z-index: -1;
}

@media screen and (max-width: 991px) {
 
  .t-table {
    padding: 0.8rem 0;
  }
  #termsAndConditionsS {
    padding: 2rem 1rem;
  }
  footer {
    padding: 1rem 10px;
  }
  footer .parent {
    padding: 0;
    margin: 20% 0px;
  }
  .tc p {
    margin: 1.2rem 0;
  }
}
