html,
body {
    background-color: #102438;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    width: 100vw;
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #333;

}


.cards {
    width: 100%;
    height: 40vh;
}

.cards .card {
    width: 15vw;
    height: 21vw;
    background-color: #fff;
    position: absolute;
    top: 35%;
    left: calc(30% - 7.5vw);
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    border-radius: 15px;
    /* overflow: hidden; */
    transition: transform 1s, left 0.5s, top 0.5s;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

.cards .card .face {
    backface-visibility: hidden;
    background-color: #fff;
    color: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;
}

.cards .card .face.front {
    background-color: #fff;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

.cards .card .face.back {
    padding: 10px;
    box-sizing: border-box;
}

.cards .card .face.back:before {
    box-sizing: border-box;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #020000;
    /* border-radius: 14px; */
    position:absolute;
    top: 0;
    left: 0;
    /* border: 3px solid #ed4747; */
    background-image: url(./png/card.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: linear-gradient(-60deg, transparent 40%, #ed4747 40%, #ed4747 60%, transparent 60%), linear-gradient(60deg, transparent 40%, #ed4747 40%, #ed4747 60%, transparent 60%); */
    /* background-size: 8px 8px; */
}

.cards .card.open {
    transform: rotate(0deg) rotateY(180deg);
}

.cards .card[data-order="1"] {
    left: calc(0%);
    bottom: 200px;
}

.cards .card[data-order="2"] {
    left: calc(20%);

}

.cards .card[data-order="3"] {
    left: calc(40%);

}

.cards .card[data-order="4"] {
    left: calc(60%);

}

.card[data-order="3"] .front,.card[data-order="2"] .front {
    color: crimson;
}

.cards .card:hover {
    top: 30%;
}

.cards.gather {
    cursor: pointer;
}

.cards.gather .card {
    top: 20%;
    left: calc(50% - 7.5vw);
    transform: rotate(360deg);
}

.cards.gather:hover .card[data-order="1"] {
    transform: rotate(355deg);
}

.cards.gather:hover .card[data-order="2"] {
    transform: rotate(360deg);
}

.cards.gather:hover .card[data-order="3"] {
    transform: rotate(365deg);
}

.cards.gather:hover .card[data-order="4"] {
    transform: rotate(370deg);
}