*,*::after,*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#modal {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #modal p {
    color: white;
    font-size: 24px;
  }
  
  #modal button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: white;
    border: none;
    cursor: pointer;
  }

  .countdown-text {
    font-size: 68px;
    color: black;
    text-align: center;
    position: relative;
    width: 200px;
    height: 200px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .countdown-text::after {
    content: "";
    position: absolute;
    top:0 ;
    left: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: -1;
    

  }



  #popup-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  #popup-modal p {
    margin-bottom: 10px;
  }
  
  #popup-modal button {
    padding: 8px 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #popup-modal button:hover {
    background-color: #45a049;
  }