

ul, li{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  /* Container */
  .grid-cosntainesr { 
    position: relative;
    width: 100%;
    overflow-x: hidden;
    transform: transitionX(0);
  }
  
  /* Preview/Next Buttons */
  b {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.5em;
    width: 20px;
    height: 20x;
    line-height: 20px;
    font-size: 1.2em;
    color: #666;
    cursor: pointer;
    transform: translateY(-50%) scale(1);
    transition: transform .1s ease-out;
  }
  
  b:last-child {
    left: unset;
    right: 0.5em;
  }
  
  /* Button animation on hover */
  b:hover{
    transform: translateY(-50%) scale(1.3);
  }
  
  /* Slider */
  ul {
    position: relative;
    padding: 2em 0;
    display: flex;
    width: 100%;
    height: 150px;
    transform: translateX(0);
    transition: transform .3s ease-out;
  }
  
  /* Items */
  li {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    font-weight: 500;
    font-family: arial;
    color: #555;
    min-width: calc(100% / 3);
    background: #fff;
    border-radius: .5em;
    /* Animation */
    transform: translateX(10%) scale(0.5);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    transition: all .3s ease-out;
  }
  
  /* Featured Item */
  .featured {
    z-index: 1;
    /* Animation  */
    transform: scale(1);
    box-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%), 0 8px 10px -7px rgb(0 0 0 / 20%)
  }
  
  .featured + li {
    /* Offset the next element under the selected element */
    transform: scale(.5) translateX(-25%) !important;
  }