<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.23.1/bootstrap-vue.min.js" integrity="sha512-SP/zE7YazvnUG95bWnA1AeC5+WtAOqumEHSgcKTNfVefAMsDcVCt6D3Q3goqR3vSf50zPG3OZtnMjBJd9GBgkw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.js"></script>
  <link rel="stylesheet" href="./style.css">
  <title>poker games</title>
</head>

<body>
  <div class="container-app">

    <div id="app">
      
      <div class="control "><input type="checkbox" v-model="gather" class="control-hide" /><input type="checkbox"
          v-for="card in cards" v-model="card.open"  class="control-hide"/>
          <!-- <button @click="shuffle" class="btn btn-classic">Shuffle</button> -->
        <h1 v-html="state">{{state}}</h1>
        
      </div>
      <div class="popup-modal" v-if="showPopupModal">
        <div class="popup-content">
          <div v-if="popupType === 'start'">
            <div v-html="popupMessage"></div>
            <button @click="closePopupModalAndStartGame" class="popup-start btn-classic">restart Game</button>
          </div>
          <div v-else-if="popupType === 'continue'">
            <div v-html="popupMessage"></div>
            <button @click="closePopupModalAndShowPrize" class="popup-continue btn-classic">claim</button>
          </div>
        </div>
      </div>
      <div class="cards" id="cards-container" :class="{ gather: gather, 'pointer-events-off': !pickOutState }">
        <div class="card" v-for="card in cards" :class="{open: card.open}" :data-order="card.id"
          @click="openCard(card)">
          <div class="face back"> </div>
          <!-- <div class="face front" :style="{ color: getSymbolColor(card.label) }">{{ getSymbol(card.label) }}</div> -->
          <div class="face front" :style="{ backgroundImage: `url(${getSymbolImage(card.label)})` }">{{ getSymbol(card.label) }}</div>
        </div>
      </div>
    </div>

  </div>
  <script src="./index.js"></script>
</body>

</html>