*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "montSemiBold";
  height: 100%;
  scroll-behavior: smooth; /* Enable smooth scrolling for anchor links */
  overflow-x: hidden;
  background: white;
}

:root {
  --bg-desktop: url(./assets/integrat.webp);
  --bg-mobile: url(./assets/stero3_mob.webp);
  --cta_color: "";
  --__sport: rgb(100, 176, 0);
  --__casino: transparent linear-gradient(312deg, #1f71ad 0%, #00c0fa 100%) 0%
    0% no-repeat padding-box;
  --__sport_hover: linear-gradient(135deg, #90e000, #64b000);
  --button_color: linear-gradient(to right, #ff1c26, #a81c1f);
  --button_color-hover: linear-gradient(to left, #ff1c26, #a81c1f);
  --color_blue: #c5e6ff;
  --color_red: #ff0000;
  --color_white: #fff;
  --color_softGray: #bfbfbf;
  --header_color: #141c33;
  --footer_color: #010718;
  --textShadowFull: var(--textShadow) 0px 0px 10px,
    var(--textShadow) 0px 0px 10px, var(--textShadow) 0px 0px 5px,
    var(--textShadow) 0px 0px 16px;
  --textShadow: #ff0000;
  --textShadowSmooth: var(--textShadow) 0px 0px 0px,
    var(--textShadow) 0px 0px 10px, var(--textShadow) 0px 0px 2px,
    var(--textShadow) 0px 0px 6px;
  --mask: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0,
      rgba(0, 0, 0, 1) 95%,
      rgba(0, 0, 0, 0) 100%,
      rgba(0, 0, 0, 0) 0
    )
    100% 0% / 100% 100% repeat-x;

  --mask-reverse: linear-gradient(
      to top,
      rgba(0, 0, 0, 1) 0,
      rgba(0, 0, 0, 1) 30%,
      rgba(0, 0, 0, 0) 100%,
      rgba(0, 0, 0, 0) 0%
    )
    100% 0% / 100% 100% repeat-x;

  --f-size-small: 13px;
  --f-size-medium: 16px;
  --f-size-large: 1em;
  --f-size-xxl: 1.2em;
  --f-size-2xxl: 2.2em;
  --f-size-3xxl: 3.2em;

  --max-w-1600: 1600px;
}

@font-face {
  font-family: "montBlack";
  src: url("./fonts/montserrat-black-webfont.woff2") format("woff2"),
    url("./fonts/montserrat-black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "montBold";
  src: url("./fonts/montserrat-bold-webfont.woff2") format("woff2"),
    url("./fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "montSemiBold";
  src: url("./fonts/montserrat-semibold-webfont.woff2") format("woff2"),
    url("./fonts/montserrat-semibold-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "montRegular";
  src: url("./fonts/montserrat-regular-webfont.woff2") format("woff2"),
    url("./fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h2 {
  font-size: var(--f-size-xxl);
  text-align: center;
  margin: 10px 0;
}

/* settings */
/* settings */
/* settings */
.d-flex-center,
.d-flex-start {
  display: flex;
  align-items: center;
}

.d-flex-center {
  justify-content: center;
}

.d-flex-start {
  justify-content: start;
}
.flex-stretch {
  align-items: stretch !important;
}
.flex-between {
  justify-content: space-between;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.green {
  background: green;
}
.m-4 {
  margin: 4em auto 3em auto;
}
.mt-4 {
  margin: 4em auto 0 auto;
}
.mb-4 {
  margin: 1em auto 4em auto;
}
body {
  background: rgb(19, 42, 105);
  background: radial-gradient(
    circle,
    rgba(19, 42, 105, 1) 0%,
    rgba(16, 23, 70, 1) 50%,
    rgba(8, 14, 33, 1) 100%
  );
}
/* end settings */
/* end settings */
/* end settings */

/* --------------- */

.main-section,
.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-section .right-side {
  height: fit-content;
}

/* GENERAL */
/* GENERAL */
/* GENERAL */

.section,
footer,
.left-side,
.right-side {
  width: 100%;
  height: 100%;
}
.main-section {
  width: 100%;
  height: 100%;
}
.section:not(.section.s1),
footer {
  padding: 15px;
}

.main {
  padding: 22px;
  overflow-x: hidden;
}

.section:nth-child(1) {
  height: 100vh;
}

@media (orientation: portrait) {
  .section:nth-child(3) {
    height: 100%;
  }
}

.main-section .left-side img {
  width: 80%;
  height: 100%;
  object-fit: contain;
}

button:not(.controls button) {
  width: 250px;
  margin: 0 auto;
  line-height: 1.2;
  padding: 0.8em 2em;
  border-radius: 10px;
  border: none;
  outline: none;
  background: var(--button_color);
  color: white;
  font-family: "montBold";
  text-transform: uppercase;
  font-size: var(--f-size-large);
  cursor: pointer;
}
button.sm {
  width: 150px !important;
}
button.lg {
  width: 300px !important;
}
@media (max-width: 768px) {
  button:not(.controls button) {
    width: fit-content !important;
  }
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  justify-content: space-around;
  position: relative;
  padding: 5em 15px !important;
  color: var(--color_white);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  background: hsla(228, 67%, 18%, 1);
  background: radial-gradient(
    circle,
    hsl(228deg 71.96% 27.09%) 0%,
    hsl(225deg 78.58% 9.26%) 100%
  );
  background: -moz-radial-gradient(
    circle,
    hsl(228deg 71.96% 27.09%) 0%,
    hsl(225deg 78.58% 9.26%) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    hsl(228deg 71.96% 27.09%) 0%,
    hsl(225deg 78.58% 9.26%) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0F1B4C", endColorstr="#141C33", GradientType=1 );
}

.section.visible,
footer.visible {
  opacity: 1;
}

.section h2 {
  font-size: var(--f-size-2xxl);
}

.section_title {
  font-size: var(--f-size-xxl);
  width: 100%;
  max-width: 75%;
  text-align: center;
}

.section .parent {
  max-width: var(--max-w-1600);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}


#scrollToTop {
  padding: 10px 20px;
  font-size: var(--f-size-medium);
  cursor: pointer;
  background-color: #1f71ad;
  color: white;
  border: none;
  border-radius: 5px;
  position: absolute;
}

#scrollToTop:hover {
  background-color: #145a8a;
}
/* END GENERAL */
/* END GENERAL */
/* END GENERAL */

/* section1 */
/* section1 */
/* section1 */

.section.s1 {
  background-image: var(--bg-desktop);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  mask: var(--mask);
}

@media (max-width: 991px) {
  .section.s1 {
    background-image: var(--bg-mobile);
  }
}

/* Offer */
/* Offer */
/* Offer */

.offer {
  color: white;
  text-transform: uppercase;
  text-align: center;
  height: fit-content;
  line-height: 0.9;
  margin-top: -4em;
}
.offer-content {
  font-size: 4vh;
  margin-bottom: 0.5em;
}

.line-0 {
  font-size: 1.9em;
  text-align: center;
  width: 100%;
}

.line-0,
.line-1 {
  text-shadow: var(--textShadowFull);
  color: var(--color_white);
}

.line-0,
.line-1,
.line-2,
.line-3 {
  font-family: "montBlack";
}

.line-1 {
  font-size: 1.7em;
}

.line-2 {
  font-size: 1.4em;
}

.line-2,
.line-3 {
  color: var(--color_blue);
  font-size: 1.5em;
}

.line-3 {
  font-size: 2.28em;
}

/* end Offer */
/* end Offer */
/* end Offer */

.section.s1 {
  position: relative;
}

/* end section 1 */
/* end section 1 */
/* end section 1 */

.pragmatic-logo {
  position: absolute;
  top: 13%;
  left: 52%;
  width: 12%;
  height: auto;
  object-fit: contain;
}


/* section2  */
/* section2  */
/* section2  */


.section.s2 .left-side {
  height: auto;
  max-width: 100%;
}

/* end section2 */
/* end section2 */
/* end section2 */

/* section 3 */
/* section 3 */
/* section 3 */
.section.s3 {
  background-color: #f0f0f0;
  max-height: 1080px;
}
/* end section 3 */
/* end section 3 */
/* end section 3 */

/* footer */
/* footer */
/* footer */
footer {
  background: var(--header_color);
  padding: 20px;
  color: var(--color_white);
  text-align: center;
  scroll-snap-align: start;
  position: relative;
  color: black;
}

/* terms css */
/* terms css */
/* terms css */

footer {
  opacity: 1;
  background: var(--header_color);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.terms-container {
  background: var(--color_white);
  padding: 20px;
}

.terms-container h2 {
  text-align: center;
  margin: 20px 0;
}

.tc p b {
  font-size: var(--f-size-xxl);
}

.tc ul li {
  font-size: var(--f-size-medium);
  margin: 5px 0;
}



/* terms css */
/* terms css */
/* terms css */

/* end Footer */
/* end Footer */
/* end Footer */
