*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: sans-serif;
}

:root {
  --bg-desktop: url(./assets/bg-desktop.webp);
  --bg-mobile: "";

  --cta_color: "";


    --__sport: rgb(100, 176, 0);
    --__casino: transparent linear-gradient(312deg, #1F71AD 0%, #00C0FA 100%) 0% 0% no-repeat padding-box;
    --__sport_hover: linear-gradient(135deg, #90e000, #64b000);
    --button_color: linear-gradient(to right, #ff1c26, #a81c1f);
    --button_color-hover: linear-gradient(to left, #ff1c26, #a81c1f);
    --color_blue: #c5e6ff;
    --color_red: #ff0000;
    --color_white: #fff;
    --color_softGray: #bfbfbf;
    --header_color: #141C33;
    --footer_color: #010718;
    --textShadowFull: var(--textShadow) 0px 0px 10px, var(--textShadow) 0px 0px 10px, var(--textShadow) 0px 0px 5px, var(--textShadow) 0px 0px 16px;
    --textShadow: #ff0000;
    --textShadowSmooth: var(--textShadow) 0px 0px 0px, var(--textShadow) 0px 0px 10px, var(--textShadow) 0px 0px 2px, var(--textShadow) 0px 0px 6px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h2 {
  font-size: 1.2em;
  text-align: center;
  margin: 30px 0;
}

/* settings */
/* settings */
/* settings */

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.max-w-1400 {
  max-width: 1400px;
  margin: 0 auto;
}

.max-w-1600 {
  max-width: 1400;
  margin: 0 auto;
}

.h-screen {
  height: 100vh;
  width: 100%;
}

.h-full {
  width: 100%;
  height: 100%;
}

.h-half {
  height: 50%;
  width: 100%;
}

.gray {
  background: gray;
}

.red {
  background: red;
}

.green {
  background: green;
}

/* end settings */
/* end settings */
/* end settings */

/* --------------- */

/* sections */
/* sections */
/* sections */

.main {
  padding: 22px;
}

.section {
  width: 100%;
  height: 100%;
  border: 2px solid red;
}

.section:nth-child(1), .section:nth-child(2), .section:nth-child(3) {
  height: 100vh;
}



/* end sections */
/* end sections */
/* end sections */

/* terms css */
/* terms css */
/* terms css */

.tc ul li {

}

.tc p b {
  font-size: 1.2em;
}

.tc li b span {
  color: red;
}


footer {
  background: var(--header_color);
}

.terms-container {
  background: white;
  padding: 20px;
}

.terms-container h2 {
  text-align: center;
  margin: 25px 0;
}
.tc p b {
  font-size: 1.3em;
}

.tc ul li {
  font-size: 16px;
  margin: 5px 0;
}

/* terms css */
/* terms css */
/* terms css */





/* section1 */
/* section1 */
/* section1 */

.section.s1 {
  background-image: var(--bg-desktop);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}



/* Offer */
/* Offer */
/* Offer */

.offer {
  display: grid;
  place-content: center;
  color: white;
}






/* end Offer */
/* end Offer */
/* end Offer */





/* end section 1 */
/* end section 1 */
/* end section 1 */


