*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "montSemiBold";
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: var(--color_white);
}
.html {
  font-size: 1rem;
}
@media (min-width: 5120px) {
  html {
    font-size: 120%;
  }
}

@media (min-width: 2560px) and (max-width: 5119px) {
  html {
    font-size: 110%;
  }
}

@media (min-width: 1441px) and (max-width: 2559px) {
  html {
    font-size: 100%;
  }
}

@media (max-width: 1440px) {
  html {
    font-size: 90%;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 80%;
  }
}
:root {
  /* --bg-desktop: url(./assets/desktop_principal\ copy.webp); */
  --bg-mobile: url(./assets/bg/bg-full-mobile.webp);
  --bg-sect1: url(./assets/bg/bg-full.webp);
  --bg-sect2: url(./assets/bg/sect2.webp);
  --bg-sect3: url(./assets/bg/tnc2.webp);
  --bg-sect3-mob: url(./assets/bg/tnc2-mob.webp);
  --bg-sect4: url(./assets/bg/sect4_new.webp);
  --bg-sect4-mob: url(./assets/bg/section4_mob.webp);

  --__casino: transparent linear-gradient(312deg, #1f71ad 0%, #00c0fa 100%) 0%
    0% no-repeat padding-box;

  --button_color: linear-gradient(90deg, #ff1c26, #a81c1f);
  --button_color-hover: linear-gradient(50deg, #a81c1f, #ff1c26);

  --color_blue: #c5e6ff;
  --color_red: #ff0000;
  --color_white: #fff;
  --color_softGray: #bfbfbf;

  --header_color: #141c33;
  --footer_color: #010718;

  --textShadowFull: var(--textShadow) 0px 0px 6px,
    var(--textShadow) 0px 0px 16px, var(--textShadow) 0px 0px 5px,
    var(--textShadow) 0px 1px 6px, 5px 4px 0px black;
  --textShadow: #ff0000;
  --textShadowSmooth: var(--textShadow) 0px 0px 0px,
    var(--textShadow) 0px 0px 10px, var(--textShadow) 0px 0px 2px,
    var(--textShadow) 0px 0px 6px;

  --mask: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0,
      rgba(0, 0, 0, 1) 95%,
      rgba(0, 0, 0, 0) 100%,
      rgba(0, 0, 0, 0) 0
    )
    100% 0% / 100% 100% repeat-x;
  --mask-reverse: linear-gradient(
      to top,
      rgba(0, 0, 0, 1) 0,
      rgba(0, 0, 0, 1) 30%,
      rgba(0, 0, 0, 0) 100%,
      rgba(0, 0, 0, 0) 0%
    )
    100% 0% / 100% 100% repeat-x;
  --mask-reverse2: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0,
      rgba(0, 0, 0, 1) 47%,
      rgba(0, 0, 0, 0) 100%,
      rgba(0, 0, 0, 0) 0%
    )
    100% 0% / 100% 100% repeat-x;

  --mask-section: linear-gradient(
      to top,
      rgba(0, 0, 0, 1) 0,
      rgba(0, 0, 0, 1) 15%,
      rgba(0, 0, 0, 0) 29%,
      rgba(0, 0, 0, 0) 0%
    )
    100% 0% / 100% 100% repeat-x;

  --mask-section-reverse: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0,
      rgba(0, 0, 0, 1) 15%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0) 0%
    )
    100% 0% / 100% 100% repeat-x;

  --f-size-small: 14px;
  --f-size-lg: 1rem;
  --f-size-xxl: 1.2rem;
  --f-size-2xxl: 2.2rem;
  --f-size-3xxl: 3.2rem;
  --max-w-1600: 1600px;
  --max-w-1400: 1400px;
  --medium: calc(1.3vh + 1.3vw);
}

@font-face {
  font-family: "montBlack";
  src: url("./src/fonts/montserrat-black-webfont.woff2") format("woff2"),
    url("./src/fonts/montserrat-black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "montExtraBold";
  src: url("./src/fonts/montserrat-extrabold-webfont.woff2") format("woff2"),
    url("./src/fonts/montserrat-extrabold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* <a href="${game.game_url}" target="_blank" class="play-overlay absolute"><p>Play</p></a> */

@font-face {
  font-family: "montBold";
  src: url("./src/fonts/montserrat-bold-webfont.woff2") format("woff2"),
    url("./src/fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "montSemiBold";
  src: url("./src/fonts/montserrat-semibold-webfont.woff2") format("woff2"),
    url("./src/fonts/montserrat-semibold-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "montRegular";
  src: url("./src/fonts/montserrat-regular-webfont.woff2") format("woff2"),
    url("./src/fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  cursor: url("./assets/stuff/cursor4.webp") 40 40, auto;
}
.pointer {
  cursor: url("./assets/stuff/cursor5.webp") 40 40, auto;
}
.dataTables_paginate,
a,
button:not(.controls button) {
  cursor: url("./assets/stuff/cursor5.webp") 40 40, auto !important;
}

#target {
  z-index: 1;
}
#usersTable_paginate {
  visibility: hidden !important;
}
.bullet-hole {
  width: 70px;
  height: 70px;
  background-image: url("./assets/stuff/holeblue.webp");
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 1;
}
h2 {
  font-size: var(--medium);
  text-align: center;
  margin: 1% auto 1%;
  font-family: "montExtraBold";
  max-width: 75%;
  text-transform: uppercase;
  /* line-height: 1.2; */
  text-shadow: var(--textShadowFull);
  user-select: none;
}

@media (orientation: portrait) and (max-width: 991px) {
  h2 {
    max-width: 100%;
    font-size: 150%;
  }
}

h3 {
  font-size: 1.4rem;
  text-align: center;
  margin: 10px 0;
}

p {
  font-family: "montSemiBold";
  font-size: 100%;
}
img,
p,
h2,
h3,
table,
.offer {
  user-select: none;
}

/* settings */
/* settings */
/* settings */
.d-flex-center,
.d-flex-start {
  display: flex;
  align-items: center;
}

.d-flex-center {
  justify-content: center;
}
.d-flex-start {
  justify-content: start;
}
.flex-stretch {
  align-items: stretch !important;
}
.flex-between {
  justify-content: space-between;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

body {
  background: rgb(2, 21, 44);
  position: relative;
}

/*  header casino */
/*  header casino */
/*  header casino */

/*  header casino */
/*  header casino */

/* end settings */
/* end settings */
/* end settings */
/* --------------- */

/* GENERAL */
/* GENERAL */
/* GENERAL */

footer,
.left-side,
.right-side,
.main-section {
  width: 100%;
  height: 100%;
}

.main {
  overflow-x: hidden;
}

.section:nth-child(1) {
  height: calc(100vh - 110px);
}

@media (min-width: 1025px) {
  .section:nth-child(1) {
    height: calc(100vh - 110px);
  }

}

.main-section .left-side img {
  width: 80%;
  height: 100%;
  object-fit: contain;
}

/* buttons */
button {
  overflow: hidden;
}

button:not(.controls button) {
  width: fit-content;
  padding: 1.4rem 2rem;
  border-radius: 10px;
  border: none;
  outline: none;
  background: var(--button_color);
  filter: drop-shadow(2px 3px 3px black);
  color: #fff;
  font-family: "montExtraBold";
  text-transform: uppercase;
  font-size: 130%;
  border-bottom: 1px solid #643316;
}

button:not(.controls button):hover {
  background: var(--button_color-hover);
}

.section.s2 .container-btn button {
  font-size: 1rem;
  padding: 1rem 2rem;
}

.optout-btn {
  width: fit-content;
  background: var(--button_color);
  padding: 0.3em !important;
  border-radius: 5px !important;
  border: none !important;
  outline: none !important;
  font-size: 80% !important;
  line-height: 1;
  text-transform: lowercase !important;
  border-radius: 2px !important;
}

.container-btn {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
#actionButton {
  margin: 2% auto 2%;
  overflow: hidden;
}

.shape::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-200%, -50%) rotate(-60deg);
  width: 75%;
  height: 90%;
  background: rgba(218, 218, 218, 0.322);
  animation: slide-before 3s 0.6s ease infinite;
}

@keyframes slide-before {
  0% {
    transform: translateX(-200%) rotate(-60deg);
  }
  100% {
    transform: translateX(100%) rotate(-60deg);
  }
}

/* end buttons */

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 1;
  position: relative;
  padding: 0rem 15px 0rem !important;
  color: var(--color_white);
  z-index: 15;
}

.section.s3::before,
.section.s2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section.s2::before {
  mask: var(--mask-section);
  background: rgb(4 21 43 / 66%);
  z-index: 1;
}
.section.s3::before {
  mask: var(--mask-reverse2);
  /* background: rgb(11 11 11 / 31%); */
  z-index: 1;
}

.section ._page {
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

._page.visible,
footer ._page.visible {
  opacity: 1;
}

.section_title {
  width: 100%;
  max-width: 100%;
  text-align: center;
}

.section ._page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
}

.section .parent:not(.section.s1 .parent) {
  max-width: var(--max-w-1400);
}

.section .parent {
  display: flex;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section:nth-child(1) .parent {
  flex-direction: row;
}

.logo {
  width: 50%;
  margin-bottom: 0%;
}

.pragmatic-logo {
  width: 80%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 1025px) {
  .pragmatic-logo {
    display: none !important;
  }
}
.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* END GENERAL */
/* END GENERAL */
/* END GENERAL */

/* section1 */
/* section1 */
/* section1 */

.section.s1 {
  flex-direction: column;
}

.section.s1::after,
.section.s2::after,
.section.s3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}
.section.s1::after {
  background-position: center;
  background-image: var(--bg-sect1);
}

.section.s1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mask: var(--mask-section);
  background: rgb(2 15 32 / 66%);
  z-index: 1;
}

.section.s1 .carousel {
  position: relative;
}

.section.s1 .carousel::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Offer */
/* Offer */
/* Offer */

.offer {
  color: white;
  text-transform: uppercase;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.offer-html {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.offer-content {
  font-size: 4.5vh;
  position: relative;
  width: fit-content;
  letter-spacing: 0.5px;
  line-height: 1.1;
}

.line-0 {
  font-size: 1.56em;
  text-align: center;
  width: 100%;
  margin-bottom: -0.15em;
}
.line-0,
.line-1 {
  text-shadow: var(--textShadowFull);
  color: var(--color_white);
}

.line-0,
.line-1,
.line-2,
.line-3 {
  font-family: "montBlack";
}

.line-1 {
  font-size: 1.4em;
}

.line-2 {
  margin-bottom: -0.15em;
}

.line-2,
.line-3 {
  font-size: 1.15em;
  text-shadow: 2px 6px 2px black;
  color: var(--color_blue);
}

/* end section 1 */
/* end section 1 */
/* end section 1 */

/* section2  */
/* section2  */
/* section2  */

.section.s2 .left-side {
  height: auto;
  max-width: 100%;
}

.section.s2,
.section.s3 {
  height: 100vh !important;
}

.section.s2 .section_title p {
  text-align: center;
  text-shadow: 2px 2px 6px black;
  margin: 6px 0;
  font-size: 115%;
}

.section.s2 .section_title p span {
  color: var(--color_blue);
  font-family: "montBold";
}

.section.s2 .section_title p:nth-last-child(1) {
  font-family: "montBlack";
  font-size: 1.5rem;
  color: var(--color_blue);
}

.section:nth-child(2) .parent {
  margin: 5% 0 0%;
  height: 100%;
  justify-content: center;
  gap: 10px;
}
.section.s2::after {
  background-image: var(--bg-sect4);
}

.section.s3::after {
  background-image: var(--bg-sect2);
}

/* end section2 */
/* end section2 */
/* end section2 */

/* section 3 */
/* section 3 */
/* section 3 */
.section.s3 {
  height: 100%;
}

.section.s3 .left-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* end section 3 */
/* end section 3 */
/* end section 3 */

/* footer */
/* footer */
/* footer */
footer {
  padding: 20px;
  color: var(--color_white);
  text-align: center;
  scroll-snap-align: start;
  position: relative;
  color: black;
  height: auto;
  opacity: 1;
}

footer::after {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  mask: var(--mask-section);
  background: #01172b3d;
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: var(--bg-sect3);
  mask: var(--mask-section-reverse);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1025px) {
  footer::before {
    background-image: var(--bg-sect3-mob);
  }
}

footer .parent {
  z-index: 1;
  position: relative;
  padding: 1%;
}

footer .section_title {
  width: 50%;
  max-width: 100%;
  margin: 2% auto;
  text-align: center;
  font-size: 110%;
}

@media (orientation: portrait) {
  .offer-content {
    font-size: 3.3vh;
  }
  .section:nth-child(1) .parent {
    display: grid;
    grid-template-rows: 1fr 50vh;
  }

  .section_title {
    margin: 2% auto;
  }
  footer .section_title {
    width: 90%;
    margin: 2% auto;
  }
}

@media (max-width: 1280px) {
  .section .parent {
    max-width: 1200px;
  }
}

@media (min-width: 1025px) {
  .right-side {
    width: 70%;
  }
}

@media (max-width: 1024px) {
  button:not(.controls button) {
    padding: 1rem 2rem;
    font-size: 100%;
  }
  .section:nth-child(2) .parent {
    padding: 20% 0px 2rem;
  }
  .section:nth-child(3) .parent {
    padding: 5% 0px 0rem;
  }

  h2 {
    font-size: calc(100% + 2.5vw);
    width: 100%;
  }
  .section.s1::after {
    background-image: var(--bg-mobile);
    background-position: top;
  }

  .section:nth-child(1) .parent {
    flex-direction: column-reverse !important;
  }

  .section:nth-child(1) .left-side {
    height: auto;
  }

  .section.s1 {
    height: 87vh;
  }

  .section.s2,
  .section.s3 {
    height: 100% !important;
  }

  .section.s3 {
    height: 100%;
  }

  .parent-name p:nth-child(2) {
    font-size: 0.9rem;
  }

  .section.s2 .section_title p {
    text-align: center;
    font-size: 115%;
    width: 100%;
    padding: 0 2%;
    /* margin: 4px 0; */
    line-height: 1.2;
  }

  .section.s2 .section_title p:nth-last-child(1) {
    text-align: center !important;
  }
  .section .parent:not(.section.s1 .parent) {
    padding: 10% 0px;
  }
  .section.s2 .section_title p:nth-last-child(1) {
    font-size: 1.5rem;
    margin: 8px 0 -10px;
  }
}
.tableNetBet tr {
  font-size: 90%;
}
@media (min-width: 992px) and (max-height: 870px) and (orientation: landscape) {
  .section:nth-child(2) .parent {
    height: 100%;
    gap: 0%;
  }
  .section.s3 {
    height: 100% !important;
  }
  .section.s3 .parent {
    margin: 4% 0 4%;
  }
  .section.s2,
  .section.s3 {
    height: 100% !important;
  }
  .section.s2 h2 {
    margin: 4rem 0 1%;
  }
  .section:nth-child(2) .parent {
    gap: 20px;
  }
  .section:nth-child(2) .parent {
    margin: 2% 0 0;
  }
}

@media (min-width: 992px) and (max-width: 1600px) and (max-height: 870px) and (orientation: landscape) {
  .section.s2 .carousel {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
  }
  .container-table {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
  }
}
.section:nth-child(2) .parent {
  gap: 15px;
}
@media (min-width: 1921px) {
  .section .parent {
    max-width: 90%;
  }

  .section.s2 .section_title p {
    font-size: 130%;
  }
  .section .parent:not(.section.s1 .parent),
  .terms-container {
    max-width: var(--max-w-1600) !important;
  }
  .tc ul li,
  .tableNetBet tr,
  p {
    font-size: 110%;
  }
}
