.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.max-w-1400 {
  max-width: 1400px;
  margin: 0 auto;
}

.h-screen {
  height: 100vh;
}

.h-full {
  height: 100%;
}

.h-half {
  height: 50%;
}

.red {
  background: red;
}

.green {
  background: green;
}