*,
*::after,
*::before {
  box-sizing: border-box;
  /* margin: 0;
            padding: 0; */
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: #333; */
}
#theGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
}
.container {
  position: relative;
}
#timer {
  position: absolute;
  border: 1px solid black;
  left: 40%;
  top: 5%;
  padding: 1em;
  background: grey;
  color: white;
  font-size: 1.1em;
}
/* Style for grid cells */
.rf-tgrid {
  font-family: Arial;
  font-weight: normal;
  font-size: 14px;
  margin: 1px;
  padding: 8px;
  /*    border: 1px solid bisque;*/
  vertical-align: middle;
  text-align: center;
}

/* Style for the grid */
.rf-tablestyle {
  border: 2px solid;
  border-color: black;
  background-color: #eee;
  cursor: pointer;
}

/* Style for the div containing the grid */
/* #rf-searchgamecontainer {
  float: left;
  padding-right: 50px;
} */

/* Style for the div containing the word list */
#rf-wordcontainer {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  float: left;
  padding-right: 10px;
  cursor: default;
  /* margin: 1em 1em 1em 0; */
  width: 100%;
  border: 2px solid;
  border-color: black;
  background-color: #eee;
  cursor: pointer;
}

/* Style for the words that have been found */
.rf-foundword {
  font-family: Arial, sans-serif;
  text-decoration: line-through;
  color: darkslategray;
}

#rf-tablegrid .rf-armed {
  /*  background: lightcyan;*/
}

#rf-tablegrid .rf-highlight {
  background: red;
}

#rf-tablegrid .rf-glowing {
  background: rgb(255, 123, 0);
}

#rf-tablegrid .rf-selected {
  background: #074168;
}

/* style for words that didn't make it on the grid */
.rf-pfalse {
  color: #111;
  visibility: hidden;
}
