*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: #333; */
}

body {
  font-family: "Play", sans-serif;
}
.container {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.397);
  border-radius: 20px;
  background: #6e6e6e;
  z-index: 0;
}
#theGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 20px;
  overflow: hidden;
}

.container {
  position: relative;
}
.timer_container {
  position: relative;
  left: 0;
  top: 10px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 2em 1.5em;
  background: rgb(8, 202, 105);
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.timer_container span:nth-child(1) {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
  color: white;
  /* text-decoration: underline; */
}
#timer {
  font-size: 1.4em;
  color: white;
  font-weight: bold;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.514);
  padding: 0.5em;
  background: rgb(68, 68, 68);
  width: 100px;
  text-align: center;
  border-radius: 4px;
}
.text_top {
  font-weight: bold;
  color: black;
  text-align: center;
  margin-bottom: 1em;
}
/* Style for grid cells */
.rf-tgrid {
  font-weight: bold;
  font-size: 1em;
  padding: 0.6em;
  /*    border: 1px solid bisque;*/
  vertical-align: middle;
  text-align: center;
}

/* Style for the grid */
.rf-tablestyle {
  border: 1px solid white;
  border-bottom: none;
  background-color: #eee;
  cursor: pointer;
  padding: 1em;
}
@media (max-width: 768px) and (orientation: portrait) {
  .rf-tgrid {
    font-weight: bold;
    font-size: 1em;
    padding: 0.32em;
    /* border: 1px solid bisque; */
    vertical-align: middle;
    text-align: center;
    width: 10px;
    height: 30px;
  }
}
/* Style for the div containing the grid */
/* #rf-searchgamecontainer {
  float: left;
  padding-right: 50px;
} */

/* Style for the div containing the word list */
#rf-wordcontainer {
  font-family: Arial, sans-serif;
  padding: 1em 1.5em;
  cursor: default;
  width: 100%;
  border-top: 2px solid grey;
  background-color: #eee;
  cursor: pointer;
}
#rf-wordcontainer ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
#rf-wordcontainer ul li {
  font-size: 1.4em;
  font-weight: bold;
  list-style: none;
}

/* Style for the words that have been found */
.rf-foundword {

  text-decoration: line-through;
  color: darkslategray;
}

#rf-tablegrid .rf-armed {
  /*  background: lightcyan;*/
}

#rf-tablegrid .rf-highlight {
  background: red;
}

#rf-tablegrid .rf-glowing {
  background: rgb(255, 115, 0);
}

#rf-tablegrid .rf-selected {
  background: #070f35;
  color: white;
}

/* style for words that didn't make it on the grid */
.rf-pfalse {
  color: #111;
  visibility: hidden;
}
