/*Basic Styling */
* {
	margin: 0;
	padding: 0%;
	box-sizing: border-box;
}

body {
	background-color: #ffffff;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

header {
	height: 20vh;
	font-family: 'Bangers', cursive;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	text-align: center;
}

.instructions {
	height: 15vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	font-family: 'McLaren', cursive;
	margin: 30px 0;
}

.door-row {
	text-align: center;
	margin-top: 40px;
}

.door {
	width: 200px;
	height: 350px;
	margin: 10px 40px;
	margin-bottom: 40px;
	cursor: pointer;
	border: 10px solid #000;
}

.buttons {
	width: 300px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	padding: 10px 40px;
	background-color: #000;
	border: none;
	border-radius: 50px;
	color: #f5f5f5;
	cursor: pointer;
	margin: 0 20px;
	font-size: 18px;
	outline:none;
	box-shadow: 0px 10px 13px -7px #000000,
				7px 5px 15px 5px rgba(0, 0, 0, 0);
}

button:active {
	transform: scale(0.9);
}

.result p {
	font-size: 22px;
	line-height: 40px;
	text-align: center;
}

.result p:first-child {
	font-family: 'Bangers', cursive;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 40px;
	margin-bottom: 30px;
}

.links {
	width: 100vw;
	height: 10vw;
	text-align: center;
	margin: 40px 0;
}

.result a {
	color: gray;
	background-color: #000;
	text-decoration: none;
}
.result a:hover {
	color:#f5f5f5;
}

@media screen and (max-width:700px) {
	header {
		margin-top: 20px;
		font-size: 20px;
		text-align: center;
	}
}
