*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.container_test {
  flex-basis: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 200px;
  gap: 10px;
  border: 2px solid black;
  position: relative;
}
.container_test::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: azure;
  z-index: -1;
  opacity: 0.3;
}

._prov {
  width: fit-content;
  background-size: cover !important;
  position: relative;
  background: url("sprite-SPAIN_march2023-V2.png") no-repeat;
}

.test {
  width: 184px;
  border: 1px solid rgb(255, 255, 255);
  overflow: hidden;
  height: 60px;
}
.test img {
  background-color: rgb(59, 59, 59);
  /* height: 3200px; */
  position: relative;
  top: 0 !important;
  left: 0px;
  width: fit-content;
}

.test .providersamatic {
  /* top: 0px; */
  background-position-y: -9px;
}

.test .providershacksaw {
  /* top: -57px; */
  background-position-y: -78px;
}

.test .providersbetsoft {
  /* top: -114px; */
  background-position-y: -148px;
}

.test .providersblueprint {
  /* top: -166px; */
  background-position-y: -208px;
}

.test .providersbooming-games {
  /* top: -221px; */
  background-position-y: -274px;
}
.test .providersevolution {
  /* top: -280px; */
  background-position-y: -344px;
}
.test .providerseyecon {
  /* top: -334px; */
  background-position-y: -408px;
}
.test .providerszitro {
  /* top: -386px; */
  background-position-y: -472px;
}
.test .providersgameart {
  /* top: -427px; */
  background-position-y: -520px;
}

.test .providersrfranco {
  /* top: -477px; */
  background-position-y: -580px;
}
.test .providersgamingone {
  /* top: -670px; */
  background-position-y: -649px;
}
