*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* remove body*/
body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #333;
}

/* optional  */
.container_parent_img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* max-width: 1200px;
  height: fit-content; */
  gap: 10px;
  border: 1px solid red;
  padding: 1em;
}

._prov {
  width: fit-content;
  background-size: cover !important;
  position: relative;
  background: url("sprite-SPAIN_march2023-V3.png") no-repeat;
}

/* optional  */
._parent_img {
  max-width: 184px;
  width: 184px;
  border: 1px solid rgb(255, 255, 255);
  overflow: hidden;
  height: fit-content;
  background-color: rgb(59, 59, 59);
  aspect-ratio: 92/29; 
}


._parent_img .providersamatic {
  background-position-y: -9px;
}

._parent_img .providershacksaw {
  background-position-y: -78px;
}

._parent_img .providersbetsoft {
  background-position-y: -148px;
}

._parent_img .providersblueprint {
  background-position-y: -208px;
}

._parent_img .providersbooming-games {
  background-position-y: -274px;
}
._parent_img .providersevolution {
  background-position-y: -344px;
}
._parent_img .providerseyecon {
  background-position-y: -408px;
}
._parent_img .providerszitro {
  background-position-y: -472px;
}
._parent_img .providersgameart {
  background-position-y: -520px;
}

._parent_img .providersrfranco {
  background-position-y: -580px;
}
._parent_img .providersgamingone {
  background-position-y: -649px;
}

._parent_img .providerseurasian {
  background-position-y: -710px;
}

._parent_img .providersspinberry {
  background-position-y: -787px;
}

._parent_img .providersmerkur {
  background-position-y: -858px;
}

._parent_img .providersnolimit {
  background-position-y: -930px;
}

._parent_img .providers1x2 {
  background-position-y: -1000px;
}

._parent_img .providersrelax {
  background-position-y: -1071px;
}

._parent_img .providersamusnet {
  background-position-y: -1140px;
}

._parent_img .providersspribe {
  background-position-y: -1205px;
}

._parent_img .providersinspired {
  background-position-y: -1266px;
}


._parent_img .providersgamesglobal {
  background-position-y: -1324px;
}

._parent_img .providersskywind {
  background-position-y: -1386px;
}

._parent_img .providerssynot {
  background-position-y: -1443px;
}

._parent_img .providerswazdan {
  background-position-y: -1494px;
}

._parent_img .providersisoftbet  {
  background-position-y: -1542px;
}
._parent_img .providerspragmaticplay  {
  background-position-y: -1606px;
}


._parent_img .providersleander  {
  background-position-y: -1672px;

}


._parent_img .providersmga {
  background-position-y: -1739px;
}



._parent_img .providersnetent {
  background-position-y: -1809px;
}


._parent_img .providersplayngo  {
  background-position-y: -1874px;
}


._parent_img .providersplayson  {
  background-position-y: -1934px;
}


._parent_img .providersgreentube {
  background-position-y: -1989px;
}
._parent_img .providerspariplay {
  background-position-y: -2045px;
}
._parent_img .providersredrake {
  background-position-y: -2114px;
}
._parent_img .providersthunderkick  {
  background-position-y: -2184px;

}
._parent_img .providersyggdrasil {
  background-position-y: -2246px;
}


._parent_img .providersoryx  {
  background-position-y: -2310px;
}

/* last */
._parent_img .test_logo {
  background-position-y: -2360px;
}
