*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    font-family: 'DM Sans', sans-serif;
    transition: background 0.4s ease-in;
    background-color: #c394f8;
}

body.blue {
    background-color: #428aa6;
}

input[type="checkbox"] {
    display: none;
}

.card-person {
    position: absolute;
    width: 300px;
    height: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: transform 0.4s ease;
    cursor: pointer;
    border: 1px solid black;
}

.container-carousel {
    width: 100%;
    max-width: 800px;
    height: calc(68vh - 10px);
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 3px solid chartreuse;
    overflow: hidden;
}

.cards {
    position: relative;
    width: 350px;
    height: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 2px solid black;
}

/* img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
} */
#item-1:checked~.cards #person-3,
#item-2:checked~.cards #person-1,
#item-3:checked~.cards #person-2 {
    transform: translatex(-40%)  scale(1);
    opacity: 1;
    z-index: 0;
    
   
}

#item-1:checked~.cards #person-2,
#item-2:checked~.cards #person-3,
#item-3:checked~.cards #person-1 {
    transform: translatex(40%) scale(1);
    opacity: 1;
    z-index: 0;
  
  
}

#item-1:checked~.cards #person-1,
#item-2:checked~.cards #person-2,
#item-3:checked~.cards #person-3 {
    transform: translatex(0) scale(1.15) translateY(3em);
    opacity: 1;
    z-index: 1;
/* background-color: aqua; */
 
}

#item-1:checked~.cards #person-1 .img-BlueShape,
#item-2:checked~.cards #person-2 .img-BlueShape,
#item-3:checked~.cards #person-3 .img-BlueShape {
    transform: translatex(0) scale(1.3) translateY(3em);
    opacity: 1;
    z-index: 1;
background-color: red;
 
}
/* #item-1:not(:checked)~.cards #person-1 .img-BlueShape,
#item-2:not(:checked)~.cards #person-2 .img-BlueShape,
#item-3:not(:checked)~.cards #person-3 .img-BlueShape {
    transform: translatex(0) scale(1.3) translateY(3em);
    opacity: 1;
    z-index: 1;
background-color: black;
 
} */

#item-1:checked~.cards #person-1 .box-rating,
#item-2:checked~.cards #person-2 .box-rating,
#item-3:checked~.cards #person-3 .box-rating {
    transform: translatex(0) scale(1.3) translateY(3em);
    opacity: 1;
    z-index: 1;
background-color: red;
 
}

#item-1:checked~.cards #person-1 img,
#item-2:checked~.cards #person-2 img,
#item-3:checked~.cards #person-3 img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
   
  
}

.player-circles {
    background-color: #fff;
    border-radius: 8px;
    min-width: 320px;
    padding: 16px 10px;
}

.upper-part {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    height: 36px;
    overflow: hidden;
}



.song-info {
    width: calc(100% - 32px);
    display: block;
}

.song-info .title {
    color: #403d40;
    font-size: 14px;
    line-height: 24px;
}

.sub-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.subtitle,
.time {
    font-size: 12px;
    line-height: 16px;
    color: #b80bb8;
}

.time {
    font-size: 12px;
    line-height: 16px;
    color: #bb0e0e;
    font-weight: 500;
    margin-left: auto;
}

.progress-bar {
    height: 3px;
    width: 100%;
    background-color: #e9efff;
    border-radius: 2px;
    overflow: hidden;
}

.progress {
    display: block;
    position: relative;
    width: 60%;
    height: 100%;
    background-color: #2992dc;
    border-radius: 6px;
}

.info-area {
    width: 100%;
    position: absolute;
    top: 0;
    left: 30px;
    transition: transform 0.4s ease-in;
}
input[type="checkbox"]:checked {
    background-color: purple;
  }

#item-2:checked~.player-circles #test {
    transform: translateY(0);
    background-color: aqua;
}

#item-2:checked~.player-circles #test {
    transform: translateY(-40px);

}

#item-3:checked~.player-circles #test {
    transform: translateY(-80px);
}

@media (orientation:portrait) and (min-width:320px) {

    .char-person1 img,
    .char-person2 img,
    .char-person3 img {
        height: 400px;
    }

    .container-char {
        position: relative;
    }

}

/* smartphones, iPhone, portrait 480x320 phones */

@media (min-width:320px) {

    .pacanele,
    .third,
    .stero {
        position: absolute;
        bottom: 35%;
    }

    .img-BlueShape {
        height: 150px;
    }

    .players {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box-rating {
        position: absolute;
        bottom: 15%;

    }

    .box-rating-pacanele {
        bottom: 20%;
    }

    .box-rating-stero {
        left: calc(0% + 1em);
    }

    .box-rating-casino {
        right: calc(0% + 1em);
    }


}

@media (min-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */
}