*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text_color: #fff09a;
  --bg_dark_color: #212529;

  /*netbet bg color*/
  --NetBet-orange: orangered;
}

.color-NetBet-orange {
  background: var(--NetBet-orange);
  border-radius: 10px;
}

.w-85 {
  width: 85%;
}
.w-80 {
  width: 80%;
}
.section.active{
  background-color:red;
}

.section {
  width: 100%;
  height: 100vh;
}
.modal-body {
  overflow-y: scroll;
  max-height: 65vh;
  height: 65vh;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.modal-body .row {
  row-gap: 30px;
}

.modal {
  --bs-modal-border-width: unset !important;
}

.modal-content {
  background: #f3f5e1c7 !important;
}

.modal-header {
  background: var(--bg_dark_color) !important;
}

.modal-title,
.btn-close {
  color: var(--text_color);
}

.modal-content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, #e8fbff82, #d3c06329) !important;
  z-index: -1;
}

.btn-primary {
  filter: drop-shadow(10px 17px 10px rgba(0, 0, 0, 0.653));
  padding: 1em 2em;
  width: 250px;
  font-size: 1.2em !important;
  text-transform: uppercase;
  font-weight: bold !important;
  line-height: 1.4;
}

.card-custom {
  /* background-image: radial-gradient(circle, yellow, orange); */
  border: solid 2px #000;
  border-top-right-radius: 0px;
  box-shadow: 0 6px 6px -6px #000;
  overflow: hidden;
  height: 200px;
  cursor: pointer;
}

.card-custom:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 20px 2px #5e5e5e;
  transition: all 0.5s ease;
  /* box-shadow: 0 6px 6px -6px orange; */
}

.card-image {
  background-size: contain;
  background-position: 26%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
  bottom: -1em;
}

.col-lg-4:nth-child(4n + 1) .card-custom,
.col-lg-4:nth-child(4n + 2) .card-custom,
.col-lg-4:nth-child(4n + 3) .card-custom,
.col-lg-4:nth-child(4n + 4) .card-custom {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.col-lg-4:nth-child(4n + 1) .card-custom {
  /* background-image: radial-gradient(circle, yellow, orange); */
  background-image: url(./_modal/_yellowModalBg.jpg);
}

.col-lg-4:nth-child(4n + 2) .card-custom {
  /* background-image: radial-gradient(circle, lightblue, deepskyblue); */
  background-image: url(./_modal/_blueModalBg.jpg);
}

.col-lg-4:nth-child(4n + 3) .card-custom {
  /* background-image: radial-gradient(circle, palegreen, yellowgreen); */
  background-image: url(./_modal/_greenModalBg.jpg);
}

.col-lg-4:nth-child(4n + 4) .card-custom {
  /* background-image: radial-gradient(circle, lightcoral, tomato); */
  background-image: url(./_modal/_redModalBg.jpg);
}

.text {
  background-color: #fff;
  border: solid 2px #000;
  margin: 0;
  padding: 3px 10px;
  text-transform: capitalize;
  font-size: 1.4em;
}

.addBvote {
  position: absolute;
  bottom: 0;
  left: 4e;
}

.card-text.vote.true {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 200%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(27deg);
  font-size: 5em;
  z-index: 21;
  background: rgba(255, 255, 255, 0.212);
  height: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: grayscale(1);
}

.top-left {
  left: -6px;
  position: absolute;
  top: -2px;
  transform: skew(-15deg);
}

.bottom-right {
  bottom: -2px;
  position: absolute;
  right: -6px;
  transform: skew(-15deg);
  font-size: 1.2em;
}

.card-wrapp .card-button .btn-custom {
  bottom: -5px;
  position: relative;
  right: -5px;
  transform: skew(-15deg);
  font-size: 1.2em;
  border-top-left-radius: 10px;
  border-top-left-radius: 10px;
}

.speech {
  background-color: #fff;
  border: solid 2px #000;
  border-radius: 12px;
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em 1em;
  position: absolute;
  z-index: 2;
}

.speech:before {
  border: solid 12px transparent;
  border-left: solid 12px #000;
  border-top: solid 12px #000;
  bottom: -24px;
  content: "";
  height: 0;
  left: 24px;
  position: absolute;
  transform: skew(-15deg);
  width: 0;
}

.speech:after {
  border: solid 10px transparent;
  border-left: solid 10px #fff;
  border-top: solid 10px #fff;
  bottom: -19px;
  content: "";
  height: 0;
  left: 27px;
  position: absolute;
  transform: skew(-15deg);
  width: 0;
}

.card-text.top-left:hover {
  background-color: crimson;
  transition: all 0.5s ease;
  color: white;
  left: -8px;
}

.container-section {
  height: 100%;
  width: 100%;
}
@media (max-width: 1200px) {
  .container-section {
    height: 100%;
  }
}

.container-stuff {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  z-index: 2;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.section_one {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section_two {
  /* background: purple; */
  width: 95%;
  /* height: 100vh; */
  position: relative;
  z-index: 22;
}

thead tr th,
tfoot tr th a {
  color: var(--text_color) !important;
}

h2 {
  color: white;
  text-transform: uppercase;
}

.col.text-center.py-4 {
  background-color: black;
  width: 95%;
  color: var(--text_color);
  display: flex;
  justify-content: center;
}

.container-content .s-providers {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.s-providers ._prov_transf_top_l,
.s-providers ._prov_transf_bottom_r {
  transform: rotate(10deg);
}

.s-providers ._prov_transf_top_r,
.s-providers ._prov_transf_bottom_l {
  transform: rotate(-10deg);
}

._prov_transf_center_r {
  transform: translateX(35px);
}

._prov_transf_center_l {
  transform: translateX(-35px);
}

.s-providers div img {
  /* height: 10vh; */
  height: 100%;
  width: 23vh;
  object-fit: contain;
}

.s-providers:nth-child(1) {
  filter: drop-shadow(20px 20px 20px #333);
}

.s-providers:nth-child(3) {
  filter: drop-shadow(-20px 20px 20px #333);
}

.container-content .bg-img img {
  height: 60vh;
  width: 100%;
  object-fit: contain;
}

.container-content {
  display: flex;
  justify-content: center;
}

.container-swiper {
  transform: translateY(-25px);
}

.container-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-btn {
  z-index: 55;
}
.btn:hover {
  background-color: unset;
  border-color: unset;
  color: var(--bs-btn-hover-color);
}

.btn-NetBet-normal {
  background-color: var(--NetBet-orange);
  border: none !important;
  color: #fff;
  text-transform: uppercase;
  padding: 0.5em 1em;
  font-weight: bold;
}
.container-content {
  z-index: 51;
}

.animate {
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

/* .btn {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
} */

.btn-NetBet-large {
  background-color: var(--NetBet-orange);
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 5px solid rgb(254, 150, 102);
  filter: drop-shadow(4px 2px 0px rgb(254, 150, 102));
  text-shadow: 0px 2px #333;
  color: white;
  border-radius: 2px;
  padding: 0.5em 2em;
}
.toggleButton {
  position: absolute;
  top: -1em;
  left: 50%;
  transform: translate(-50%, -50%);
}
#termsAndConditions {
  display: none;
  /* background-color: #f0f0f0; */
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 10px;
}
.termsAndConditions {
  width: 80%;
  margin: auto;
  background-color: red;
  padding: 2em;
  position: relative;
}

.btn-NetBet-large:active {
  transform: translate(-48%, -45%);
  -webkit-transform: translate(-48%, -45%);
  background-color: var(--NetBet-orange);
  border: none;
  outline: none;
  filter: drop-shadow(0px 0px 0px rgb(254, 150, 102));
  border-bottom: 1px solid rgb(254, 150, 102);
  transition: all 0.1s ease;
}

.scroll-container {
  position: relative;
}
.scroll-container a img {
  filter: drop-shadow(-6px 6px 1px lightgrey);

}
.scroll-container a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;


  
}
.section_one .bgD {
  background: #fdd835;
  background: url(./_bg/bg_nospikes.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: fixed;
}

.section_one {
  position: relative;
  /* height: 100vh; */
}

.section_two,
.section_three,
.section_four {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section_three {
  /* background: crimson; */
  /* background: url(./_bg/bg_clouds2.png); */
  position: relative;
  width: 100%;
  /* height: 100vh; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 3;
}
.section_three::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url(./_bg/clouds_larrge.png);
  z-index: 2;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section_three::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    hsl(176deg 88% 19%) 0%,
    hsl(187deg 79% 17%) 25%,
    hsl(197deg 71% 14%) 50%,
    hsl(207deg 63% 11%) 75%,
    hsl(217deg 57% 7%) 100%
  );
  background-image: linear-gradient(
    to right top,
    #051937,
    #003253,
    #004d64,
    #006766,
    #00805d
  );
  z-index: 0;
}
.section_four {
  background: rgb(215, 214, 215);
  height: fit-content;
  /* max-height: 250px; */
}

.section_two .container-stuff {
  flex-direction: column;
}
.section_two .container-stuff .paragraph {
  width: 88%;
  text-align: justify;
}
.section_two .row {
  align-items: center;
  flex-direction: row-reverse;
}

.section_two .table-responsive .table tbody tr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_two #gameImages a img {
  border-radius: 8px;
  height: 100%;
  width: 100%;
  max-height: 12vh;
}
.section_two #gameImages a:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease;
}
.section_two #gameImages {
  gap: 0.7em;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-items: center;
  margin: 0;
}

/* Stilurile pentru tablete */
@media (max-width: 1024px) {
  .section_two #gameImages {
    grid-template-columns: repeat(5, 1fr); /* 5 cutii pe linie */
  }
}

/* Stilurile pentru mobil */
@media (max-width: 768px) {
  .section_two #gameImages {
    grid-template-columns: repeat(3, 1fr); /* 3 cutii pe linie */
  }
}

.section_two .s2_providers div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section_two .s2_providers div:hover {
transform: scale(1.05);
transition: transform 0.5s ease;
}

.section_two .s2_providers div a img {
  height: 100%;
  max-height: 5vh;
  object-fit: cover;
  filter: drop-shadow(6px 6px 4px #3534);
}

.section_two .s2_providers div:nth-child(2) a img {
  max-height: 8vh;
  transform: translateY(-8px);
}

.section_two .s2_providers div:nth-child(4) a img {
  max-height: 5.5vh;
  transform: translateY(0px);
}

.section_three .s3_clouds {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 12;
  height: 5em;
  width: 100%;
  transform: translateY(-5px) rotate(180deg);
}
.section_three .table-responsive tr {
  cursor: pointer;
}
.section-middle {
  /* background: crimson; */
  height: 104px;
  /* background: linear-gradient(180deg, #329cb6, #3048b9); */
  /* background:url(./_bg/norisori.png) ; */
  z-index: 3;
  top: 0;
  position: absolute;
  /* transform: translateY(-104px); */
}

.section-middle::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  /* z-index: 412; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4em;
}

.norisori {
  width: 100%;
  height: 100%;
  background: url(./_bg/norisori.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  z-index: 5;
  position: absolute;
  top: 4px;
  width: 100%;
}

.spikes {
  background: url(./_bg/bg_spikes.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.parallax-item:nth-child(4) {
  background-color: chocolate;
}

/*tables*/
/*tables*/
/*tables*/

.table-responsive {
  border-radius: 10px;
  overflow-x: unset !important;
}

.table-title h4 {
  background: var(--NetBet-orange);
  /* width: 30%; */
  position: relative;
  text-align: center !important;
  /* top: 5%;
  left: 50%;
  transform: translate(-50%, -50%); */
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/*end tables*/
/*end tables*/
/*end tables*/
/*end tables*/

/*swipper css*/
/*swipper css*/
/*swipper css*/
.stream-slider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: black; */
}

.stream-slider img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* width: 30vh; */
  /* margin: auto; */
}

.stream-slider .swiper-wrapper {
  transition-timing-function: linear;
  /* transition: all 3s linear !important; */
  /* transition-duration:3000ms !important; */
}

.stream-slider .slide-streamer {
  transition-property: transform;
}

/* .slide-streamer.swiper-slide-visible.swiper-slide-active {
      background: yellow !important;
      border: 4px solid yellow !important;
      transition: all 0.3s ease;
    } */

/* .swiper-slide.swiper-slide-visible.swiper-slide-next {
      background: blue !important;
      border: 4px solid blue !important;
    }
    .swiper-slide.swiper-slide-visible.swiper-slide-prev {
      background: green !important;
      border: 4px solid green !important;
    }  */

/* .swiper-slide.swiper-slide-visible {
      background: black !important;
      border: 4px solid black !important;
    } */

.slide-streamer {
  border: 3px solid #fff;
  /* background-image: url(./png/bg2.jpg); */
  background-size: cover;
  text-align: center;
  margin: auto;
  width: 270px !important;
  height: 22vh;
  border-radius: 30px;
  overflow: hidden;
  font-family: "Bangers", cursive;
}

.bottom_swiper_box {
  height: fit-content;
  position: absolute;
  font-size: 2em;
  width: 100%;
  bottom: -0.7em;
  left: 0.2em;
  text-align: start;
  text-indent: 10px;
  z-index: 0;
  letter-spacing: -6px;
  color: rgb(255, 204, 108);
  text-shadow: 0 1px 0px #1e1e1e, 1px 0 0px #262626, 1px 2px 0px #1e1e1e,
    2px 1px 0px #262626, 2px 3px 0px #1e1e1e, 3px 2px 0px #262626,
    3px 4px 0px #1e1e1e, 4px 3px 0px #262626, 4px 5px 0px #1e1e1e,
    5px 4px 0px #262626, 5px 6px 0px #1e1e1e, 6px 5px 0px #262626,
    6px 7px 0px #1e1e1e, 7px 6px 0px #262626, 7px 8px 0px #1e1e1e,
    8px 7px 0px #262626, 2px 2px 0px rgba(206, 89, 55, 0);
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}

.bottom_swiper_box span:nth-child(1) {
  font-size: 1.7em;
}

.bottom_swiper_box span:nth-child(2) {
  font-size: 2.8em;
}


.top_swiper_box {
  height: fit-content;
  position: absolute;
  width: 40%;
  font-size: 3em;
  top: 0;
  left: 0.2em;
  color: rgb(255, 148, 166);
  text-shadow: 0 1px 0px #1e1e1e, 1px 0 0px #262626, 1px 2px 0px #1e1e1e,
    2px 1px 0px #262626, 2px 3px 0px #1e1e1e, 3px 2px 0px #262626,
    3px 4px 0px #1e1e1e, 4px 3px 0px #262626, 4px 5px 0px #1e1e1e,
    5px 4px 0px #262626, 5px 6px 0px #1e1e1e, 6px 5px 0px #262626,
    6px 7px 0px #1e1e1e, 7px 6px 0px #262626, 7px 8px 0px #1e1e1e,
    8px 7px 0px #262626, 2px 2px 0px rgba(206, 89, 55, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.top_swiper_box span:nth-child(1) {
  font-variant: small-caps;
}




.providers-table td div a img {
  /* width: 100%; */
  height: 40px;
  /* object-fit: cover; */
}


.table {
  border-spacing: 0 0.85rem !important;
}

.table .dropdown {
  display: inline-block;
}

.table td,
.table th {
  vertical-align: middle;
  margin-bottom: 10px;
  border: none;
}

.table thead tr,
.table thead th {
  border: none;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: transparent;
}

.table td {
  background: #fff;
}

.table td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.table td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.avatar-table {
  width: 2.75rem;
  height: 2.75rem;
  line-height: 2.8rem;
  border-radius: 50%;
  display: inline-block;
  background: transparent;
  position: relative;
  text-align: center;
  color: #868e96;
  font-weight: 700;
  vertical-align: bottom;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.avatar-sm {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.83333rem;
  line-height: 1.5;
}

.avatar-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.avatar-blue {
  background-color: #c8d9f1;
  color: #467fcf;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
  top: 28px;
  right: 14px !important;
  left: unset;
  height: 18px;
  width: 18px;
  border: none;
  font-family:unset;
  box-shadow: none;
}
.dtr-control div {
  gap: 10px;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child,
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child {
  padding-left:15px;
}

table.dataTable>tbody>tr.child ul.dtr-details {
  width: 100%;
}

table.dataTable>tbody>tr.child span.dtr-title {
  min-width: 50%;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.child,
table.dataTable.dtr-inline.collapsed>tbody>tr>th.child,
table.dataTable.dtr-inline.collapsed>tbody>tr>td.dataTables_empty {
  padding: 0.75rem 1rem 0.125rem;
}

div.dataTables_wrapper div.dataTables_length label,
div.dataTables_wrapper div.dataTables_filter label {
  margin-bottom: 0;
}
.dataTables_wrapper {
  /* background: #f5f5f5; */
  /* border: coral; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 2em; */
  position: relative;
  /* height: 40em; */
}
.section_three .table-responsive {
  background: #f5f5f5;
  padding: 1.5em;
}
.table-dark {
  background: var(--bg_dark_color);
}
div.dataTables_wrapper div.dataTables_paginate {
  position: absolute;
  bottom: 0;
  right: 0;
  /* display: flex; */
  /* gap: 10px; */
}

@media (max-width: 767px) {
  div.dataTables_wrapper div.dataTables_paginate ul.pagination {
      -ms-flex-pack: center !important;
      justify-content: center !important;
      margin-top: 1rem;
  }
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  /* border: 1px solid crimson; */
  color: white;
  background: #c8d9f1;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
   border: 1px solid crimson; 
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 2em;
  padding: 0.1em 0.5em;
  margin-left: 2px;
  text-align: center;
  cursor: pointer;
  color: inherit !important;
  border: 1px solid #c3c1c1;
  border-radius: 2px;
  /* background: transparent; */
}
.btn-icon {
  background: #fff;
}

.btn-icon .bx {
  font-size: 20px;
}

.btn .bx {
  vertical-align: middle;
  font-size: 20px;
}

.dropdown-menu {
  padding: 0.25rem 0;
}

.dropdown-item {
  padding: 0.5rem 1rem;
}

.badge {
  padding: 0.7em 0.75em;
  text-transform: uppercase;
  font-size: 0.7em;
}

.badge-success-alt {
  background-color: #d7f2c2;
  color: #7bd235;
}

.table a {
  color: #212529;
}

.table a:hover,
.table a:focus {
  text-decoration: none;
}

table.dataTable {
  /* margin-top: 12px !important; */
}

.icon>.bx {
  display: block;
  min-width: 1.5em;
  min-height: 1.5em;
  text-align: center;
  font-size: 1.0625rem;
}

.btn {
  font-size: 0.9375rem;
  font-weight: 500;
  padding: 0.5rem 0.75rem;
}

.avatar-blue {
  background-color: #c8d9f1;
  color: #467fcf;
}

.avatar-pink {
  background-color: #fcd3e1;
  color: #f66d9b;
}




@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
}
@media (max-width: 480px) {
  .toggleButton {
    font-size: 0.8em;
  }
  .spikes {
    display: none;
  }
  .section_one .s-providers {
    display: none;
  }

  .section_one .slide-streamer {
    width: 200px !important;
    height: 20vh;
  }
  .section_one .top_swiper_box,
  .bottom_swiper_box span:nth-child(2) {
    font-size: 1.5em;
  }
  .section_one .bottom_swiper_box span:nth-child(1) {
    font-size: 1em;
  }
  .section_one .bottom_swiper_box {
    bottom: 0;
  }

  .section_two {
    padding: 0.7em 0 1.5em 0;
  }
  .section_two .container .row:first-child {
    margin-top: 1.5em;
  }
  .container-section {
    height: 100% !important;
  }
  .section_two .row h2 {
    font-size: 1em;
    padding: 0.8em !important;
  }
  .section_two .row h5 {
    font-size: 1em;
    width: 90% !important;
    text-align: justify !important;
    margin-top: 1em;
  }
  .section_two .container-stuff {
    gap: 0;
  }
  .section_two .btn-NetBet-normal._mobile {
    margin: 0.8em 0;
  }
  .section_two #gameImages {
    grid-template-columns: repeat(4, 1fr);
    gap: 0.3em;
  }
  .section_two .s2_providers {
    margin-top: 1em;
    row-gap: 0.7em;
  }
  .section_two .s2_providers div {
    width: 33%;
  }
  .section_two .row {
    align-items: unset;
  }
  .section_two #gameImages a img {
    max-height: 20vw;
    width: unset;
  }
  .section_two .s2_providers div a img {
    max-height: 8vw;
    filter: drop-shadow(3px 2px 2px #3534);
  }
  .section_two .s2_providers div:nth-child(2) a img {
    max-height: 12vw;
    transform: translateY(-5px);
  }
  .section_two .s2_providers div:nth-child(4) a img {
    max-height: 9vw;
  }

  .section_three .s3_clouds {
    height: 4em;
  }
  .section_three .s3_clouds .norisori {
    background-size: cover;
    top: 0;
  }
  .section_three h4 {
    font-size: 1em;
  }
  .section_three .table-responsive thead tr th {
    font-size: 0.9em;
  }
  .section_three .table-responsive tbody tr th {
    font-size: 0.9em;
  }
}

/* 
    .top_swiper_box::after {
      background: none;
      content: attr(data-text);
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      color: rgb(255, 131, 48);
      height: 50%;
      overflow: hidden;
    }

    .top_swiper_box::before {
      background: none;
      content: attr(data-text);
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 0;
      color: rgb(252, 62, 122);
      overflow: hidden;
    } */

/*end swipper css*/
/*end swipper css*/
/*end swipper css*/

/* #fullpage .section {
  height: 100vh;
} */
