*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Play", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@font-face {
  font-family: Bangers-Regular;
  src: url(./_font/Bangers-Regular.ttf);
}
:root {
  --color-white: #fff;
  --color-black: #000;
  --color-softGrey: #e7e7e7;
  --text_color: var(--color-white) 09a;
  --bg_dark_color: #212529;

--shadow-soft:rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
--shadow-medium:rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
--shadow-border:rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  /*netbet bg color*/
  --NetBet-orange: orangered;
  --NetBet-blue:#2a2e38;
  --bg-s1: url(./_bg/bg_nospikes.jpg);
  --bg-spikes: url(./_bg/bg_spikes.png);
}
.top_swiper_box span,
.top_swiper_box,
.bottom_swiper_box span,
.bottom_swiper_box {
  font-family: Bangers-Regular !important;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1199px) {
  body {
    font-size: 90%;
  }
}

@media (max-width: 991px) {
  body {
    font-size: 85%;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 90%;
  }
}

.color-NetBet-orange {
  background: var(--NetBet-orange);
  border-radius: 10px;
}

.color-softGrey {
  border-radius: 10px;
  /* background: var(--color-softGrey); */
  font-weight: bold;
  color: var(--color-black);
}

.clouds-bottom {
  position: absolute;
  width: 100%;

  z-index: 1;
}
@media (max-width:767px) {
  .clouds-bottom {
    height: 100%;
  }
}
.clouds-bottom:first-child {
  top: -6.5em;
}
.clouds-bottom:nth-child(3) {
  bottom: -100px;
  transform: rotate(180deg);
  -webikit-transform: rotate(-180deg);
}
.clouds-bottom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section {
  width: 100%;
  height: 100vh;
  position: relative;
  background: white;
}

.section._s1,
.section._s2,
.section._s3,
.section._s4 {
  position: relative;
}
.bgd,
.spikes,.avatar-blue {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
@media (orientation: portrait) {
  .section {
    height: 100%;
  }
  .table-responsive {
    width: 100%;
  }
}

/*reset boostrap*/
/*reset boostrap*/
/*reset boostrap*/
/*reset boostrap*/
.section_two,
.section_three,
.section_four {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 4;
}

.w-85 {
  width: 85%;
}
.w-80 {
  width: 80%;
}
thead tr th,
tfoot tr th a {
  color: var(--text_color) !important;
}

h2 {
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
/*END reset boostra*/
/*END reset boostra*/
/*END reset boostra*/
/*END reset boostra*/
/*END reset boostra*/
/*END reset boostra*/

/*Buttons*/
/*Buttons*/
/*Buttons*/
/*Buttons*/

.section_one .container-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.section_one .container-btn {
  z-index: 55;
}

.btn:hover {
  background-color: var(--NetBet-orange);
  border-color: unset;
  color: var(--bs-btn-hover-color);
}
.btn {
  font-weight: bold !important;
}
.btn-primary {
  filter: drop-shadow(10px 17px 10px rgba(0, 0, 0, 0.653));
  padding: 1em 2em;
  width: 250px;
  font-size: 1.2em !important;
  text-transform: uppercase;
  font-weight: bold !important;
  line-height: 1.4;
  background: var(--NetBet-orange);
  outline: none;
  border: none;
}

.btn-NetBet-normal {
  background-color: var(--NetBet-orange);
  border: none !important;
  color: var(--color-white);
  text-transform: uppercase;
  padding: 0.5em 1em;
  font-weight: bold;
}

.btn-NetBet-large {
  background-color: var(--NetBet-orange);
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 5px solid rgb(254, 150, 102);
  filter: drop-shadow(4px 2px 0px rgb(254, 150, 102));
  text-shadow: 0px 2px #333;
  color: white;
  border-radius: 2px;
  padding: 0.5em 2em;
}

/*Buttons*/
/*Buttons*/
/*Buttons*/
/*Buttons*/

/*MODAL*/
/*MODAL*/
/*MODAL*/
/*MODAL*/

.container-modal .modal-body {
  overflow-y: scroll;
  max-height: 65vh;
  height: 100%;
}

@media (orientation: portrait) {
  .container-modal .modal-body {
    overflow-y: scroll;
    max-height: 100%;
    height: 100%;
  }
}

.container-modal .modal-body .row {
  row-gap: 12px;
}

.container-modal .modal {
  --bs-modal-border-width: unset !important;
}

.container-modal .modal-content {
  background: #f3f5e1c7 !important;
}

.container-modal .modal-header,
.container-modal .modal-footer {
  background: var(--bg_dark_color) !important;
  color: var(--color-white);
}
.container-modal .modal-header h4,
.container-modal .modal-footer h4 {
  text-align: center;
  width: 100%;
}
/*END MODAL*/
/*END MODAL*/
/*END MODAL*/
/*END MODAL*/

/*card MODAL voting*/
/*card MODAL voting*/
/*card MODAL voting*/

.card-custom {
  border: solid 2px #000;
  border-top-right-radius: 0px;
  box-shadow: 0 6px 6px -6px #000;
  overflow: hidden;
  height: 100%;
  cursor: pointer;
}
.card-custom.voted {
  filter: grayscale(1);
  position: relative;
}
.card-custom.voted::after {
  content: "VOTAT";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 3.5em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  transform: rotate(35deg);
  color: white;
}
.card-custom.voted::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: crimson;
  z-index: 2;
  opacity: 0.9;
}

.card-custom.non-voted {
  filter: grayscale(1);
}

.card-custom:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 20px 2px #5e5e5e;
  transition: all 0.5s ease;
  /* box-shadow: 0 6px 6px -6px orange; */
}

.card-image {
  background-size: contain;
  background-position: 26%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
  bottom: -1em;
  z-index: 2;
}
#dynamicCardBody .card-wrapp {
  width: 20%;
  height: 150px;
  padding: 0 0.4em;
  max-width: 20%;
}
.col-lg-4:nth-child(4n + 1) .card-custom,
.col-lg-4:nth-child(4n + 2) .card-custom,
.col-lg-4:nth-child(4n + 3) .card-custom,
.col-lg-4:nth-child(4n + 4) .card-custom {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.card-custom .text {
  background-color: var(--color-white);
  border: solid 2px var(--color-black);
  margin: 0;
  padding: 3px 10px;
  text-transform: capitalize;
  font-size: 2vh;
}
.card-custom .addVote {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(15deg);
  font-size: 4em;
}

.card-custom .top-left {
  left: -6px;
  position: absolute;
  top: -2px;
  transform: skew(-15deg);
}

.card-custom .bottom-right {
  bottom: -2px;
  position: absolute;
  right: -6px;
  transform: skew(-15deg);
  font-size: 1.2em;
}

.card-wrapp .card-button .btn-custom {
  bottom: -5px;
  position: relative;
  right: -5px;
  transform: skew(-15deg);
  font-size: 1.2em;
  border-top-left-radius: 10px;
  border-top-left-radius: 10px;
}

.card-custom .speech {
  background-color: var(--color-white);
  border: solid 2px var(--color-black);
  border-radius: 12px;
  display: flex;
  margin: 0.5em;
  padding: 0.2em 0.3em;
  position: absolute;
  z-index: 3;
  top: 16px;
  right: -4px;
  height: 54px;
  font-size: 1em;
  width: 38%;
  line-height: 0.9;
  /* vertical-align: middle; */
  align-items: center;
  justify-content: center;
}

.card-custom .speech:before {
  border: solid 12px transparent;
  border-left: solid 12px var(--color-black);
  border-top: solid 12px var(--color-black);
  bottom: -24px;
  content: "";
  height: 0;
  left: 24px;
  position: absolute;
  transform: skew(-15deg);
  width: 0;
}

.card-custom .speech:after {
  border: solid 10px transparent;
  border-left: solid 10px var(--color-white);
  border-top: solid 10px var(--color-white);
  bottom: -19px;
  content: "";
  height: 0;
  left: 27px;
  position: absolute;
  transform: skew(-15deg);
  width: 0;
}

.card-custom .card-text.top-left:hover {
  background-color: blue;
  transition: all 0.5s ease;
  color: var(--color-white);
  left: -8px;
}

/*end card MODAL voting*/
/*end card MODAL voting*/
/*end card MODAL voting*/

/*sections all STUFF*/
/*sections all STUFF*/
/*sections all STUFF*/

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

/*SECTION 1*/
/*SECTION 1*/
/*SECTION 1*/
/*SECTION 1*/

.section._s1 .spikes {
  background: var(--bg-spikes);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.section_one {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;
  height: 100%;
  z-index: 10;
}

.section_one .s-providers {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.section_one .s-providers_left div a img  {
  width: 16vh;
}
._prov_transf_bottom_r,
._prov_transf_top_r {
  width: 30vh;
}
.section_one .s-providers ._prov_transf_top_l,
.section_one .s-providers ._prov_transf_bottom_r {
  transform: rotate(10deg);
}

.section_one .s-providers ._prov_transf_top_r,
.section_one .s-providers ._prov_transf_bottom_l {
  transform: rotate(-10deg);
}

.section_one ._prov_transf_center_r {
  transform: translateX(35px);
}

.section_one ._prov_transf_center_l {
  transform: translateX(-35px);
}

.section_one .s-providers div img {
  /* height: 10vh; */
  height: 100%;
  width: 23vh;
  object-fit: contain;
}

.section_one .s-providers:nth-child(1) {
  filter: drop-shadow(20px 20px 20px #333);
}

.section_one .s-providers:nth-child(3) {
  filter: drop-shadow(-20px 20px 20px #333);
}

.section_one .content-elements .bg-img img {
  height: 60vh;
  width: 100%;
  object-fit: contain;
}

.section_one .content-elements {
  display: flex;
  justify-content: center;
}

.section_one .container-swiper {
  transform: translateY(-25px);
  -webkit-transform: translateY(-25px);
}

.section._s1 .bgD {
  background: var(--bg-s1);
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: absolute;
}

/*SECTION 1*/
/*SECTION 1*/
/*SECTION 1*/
/*SECTION 1*



/*SECTION 2*/
/*SECTION 2*/
/*SECTION 2*/

.section_two .container-stuff {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
  flex-direction: column;
  height: 100%;
}

.section_two .container-stuff .paragraph {
  text-align: justify;
}

.section_two > .row {
  align-items: center;
  flex-direction: row-reverse;
  margin: 0 auto;
}

.section_two .table-responsive .table tbody tr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_two #gameImages a img {
  border-radius: 8px;
  height: 100%;
  width: 100%;
  max-height: 12vh;
}


.section_two #gameImages {
  gap: 0.7em;
  display: grid;
  place-items: center;
  margin: 0;
}

.section_two #gameImages {
  grid-template-columns: repeat(7, 1fr);
}
@media (max-width: 1024px) {
  .section_two #gameImages {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 768px) {
  .section_two #gameImages {
    grid-template-columns: repeat(3, 1fr);
  }
}
.section_two .scroll-container {
  position: relative;
}
.section_two .title_s2 {
  position: relative;
  color: var(--color-black);
  top: 0px;
  width: 100%;
  left: 0;

}

.section_two .s2_providers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.section_two .s2_providers div:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease;
}

.section_two .s2_providers div a img {
  height: 100%;
  width: 100%;
  max-height: 12vh;
  object-fit: cover;

  filter: drop-shadow(6px 6px 4px #3534);
}
@media (max-width:767px) {
    .section_two .s2_providers .col-2:nth-child(1), .section_two .s2_providers .col-2:nth-child(2) {
    width: 33% !important;
  }

  .section_two .s2_providers .col-2:nth-child(3),  .section_two .s2_providers .col-2:nth-child(4),  .section_two .s2_providers .col-2:nth-child(5) {
    width: 45% !important;
  } 
}

.section_two .s2_providers div:nth-child(5) a img {

  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
}
/* 
.section_two .s2_providers div:nth-child(2) a img {
  max-height: 8vh;
  transform: translateY(-8px);
  -webkit-transform: translateY(-8px);
}

.section_two .s2_providers div:nth-child(4) a img {
  max-height: 5.5vh;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
} */

/*end SECTION 2*/
/*end SECTION 2*/
/*end SECTION 2*/

/*start SECTION 3*/
/*start SECTION 3*/
/*start SECTION 3*/

.section._s3::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right top, #5f9dc5, #00805d);
}

.section_three .table-responsive tr {
  cursor: pointer;

}

.section_three #streamersTable .table-body tr {
  box-shadow: var(--shadow-border);
  border-radius: 10px;
  overflow: hidden;

}


#usersTable .table-body .avatar-table,
#usersTable .table-body .text-muted{
  display: none !important;
}
#usersTable .table-body tr {
  height: 4em !important;
}
/*end SECTION 3*/
/*end SECTION 3*/
/*end SECTION 3*/

/*start SECTION 4*/
/*start SECTION 4*/
/*start SECTION 4*/

.section._s4 {
  height: 100%;
  background-image: linear-gradient(to right top, #ffffff, #5f9dc5);
}
.section_four {
  max-height: 100%;
  display: block;
}
.section._s4 .col {
  padding: 0;
}

@media (max-width:767px) {
  
  .section._s4 .termsAndConditions {
    padding: 1em 2em 1em 1em;
  }
}
#termsAndConditions {
  display: none;
  /* background-color: #f0f0f0; */
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 10px;
}
.termsAndConditions {
  width: 100%;
  margin: auto;
  background-color: #fbfbfb;
  padding: 3em;
  position: relative;
  font-size: 0.9em;
  border-radius: 10px;
  text-align: justify;
}

/*end SECTION 4*/
/*end SECTION 4*/
/*end SECTION 4*/

/*start swipper slide css*/
/*start swipper slide css*/
/*start swipper slide css*/
.stream-slider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stream-slider img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.stream-slider .swiper-wrapper {
  transition-timing-function: linear;
}

.stream-slider .slide-streamer {
  transition-property: transform;
}

.slide-streamer {
  border: 3px solid var(--color-white);
  /* background-image: url(./png/bg2.jpg); */
  background-size: cover;
  text-align: center;
  margin: auto;
  width: 250px !important;
  height: 20vh;
  border-radius: 30px;
  overflow: hidden;
  font-family: "Bangers", cursive;
}

.bottom_swiper_box {
  height: fit-content;
  position: absolute;
  font-size: 2em;
  width: 100%;
  bottom: -0.7em;
  left: 0.2em;
  text-align: start;
  text-indent: 10px;
  z-index: 0;
  letter-spacing: -6px;
  color: rgb(255, 204, 108);
  text-shadow: 0 1px 0px #1e1e1e, 1px 0 0px #262626, 1px 2px 0px #1e1e1e,
    2px 1px 0px #262626, 2px 3px 0px #1e1e1e, 3px 2px 0px #262626,
    3px 4px 0px #1e1e1e, 4px 3px 0px #262626, 4px 5px 0px #1e1e1e,
    5px 4px 0px #262626, 5px 6px 0px #1e1e1e, 6px 5px 0px #262626,
    6px 7px 0px #1e1e1e, 7px 6px 0px #262626, 7px 8px 0px #1e1e1e,
    8px 7px 0px #262626, 2px 2px 0px rgba(206, 89, 55, 0);
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}

.bottom_swiper_box span:nth-child(1) {
  font-size: 1.7em;
}

.bottom_swiper_box span:nth-child(2) {
  font-size: 2.8em;
}

.top_swiper_box {
  height: fit-content;
  position: absolute;
  width: 40%;
  font-size: 3em;
  top: 0;
  left: 0.2em;
  color: rgb(255, 148, 166);
  text-shadow: 0 1px 0px #1e1e1e, 1px 0 0px #262626, 1px 2px 0px #1e1e1e,
    2px 1px 0px #262626, 2px 3px 0px #1e1e1e, 3px 2px 0px #262626,
    3px 4px 0px #1e1e1e, 4px 3px 0px #262626, 4px 5px 0px #1e1e1e,
    5px 4px 0px #262626, 5px 6px 0px #1e1e1e, 6px 5px 0px #262626,
    6px 7px 0px #1e1e1e, 7px 6px 0px #262626, 7px 8px 0px #1e1e1e,
    8px 7px 0px #262626, 2px 2px 0px rgba(206, 89, 55, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.top_swiper_box span:nth-child(1) {
  font-variant: small-caps;
}

.providers-table td div a img {
  height: 40px;
}

.table {
  border-spacing: 0 0.85rem !important;
}

.table .dropdown {
  display: inline-block;
}

.table td,
.table th {
  vertical-align: middle;
  margin-bottom: 10px;
  border: none;
}

.table thead tr,
.table thead th {
  border: none;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: transparent;
}

.table td {
  background: var(--color-white);
}

.table td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.table td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.table-hover>tbody>tr:hover>* {
  --bs-table-bg-state: rgb(42 127 207 / 13%) !important;
}

.avatar-table {
  width: 2.75rem;
  height: 2.75rem;
  line-height: 2.8rem;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  text-align: center;
  color: #868e96;
  font-weight: 700;
  vertical-align: bottom;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* border: 1px solid black; */
  z-index: 4;
  overflow: hidden;
}
.avatar-blue img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.avatar-blue::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #71a2e1;
  opacity: 0.4;
  left: 0;
  top: 0;
  z-index: -1;
}

.avatar-sm {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.83333rem;
  line-height: 1.5;
}

.avatar-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}



.avatar-pink {
  background-color: #fcd3e1;
  color: #f66d9b;
}

table.dataTable.dtr-inline.collapsed
  > tbody
  > tr[role="row"]
  > td:first-child:before,
table.dataTable.dtr-inline.collapsed
  > tbody
  > tr[role="row"]
  > th:first-child:before {
  top: 28px;
  right: 14px !important;
  left: unset;
  height: 18px;
  width: 18px;
  border: none;
  font-family: unset;
  box-shadow: none;
}
.dtr-control div {
  gap: 10px;
}

table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child,
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child {
  padding-left: 15px;
}

table.dataTable > tbody > tr.child ul.dtr-details {
  width: 100%;
}

table.dataTable > tbody > tr.child span.dtr-title {
  min-width: 50%;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td.child,
table.dataTable.dtr-inline.collapsed > tbody > tr > th.child,
table.dataTable.dtr-inline.collapsed > tbody > tr > td.dataTables_empty {
  padding: 0.75rem 1rem 0.125rem;
}

/* div.dataTables_wrapper div.dataTables_length label,
div.dataTables_wrapper div.dataTables_filter label {
  margin-bottom: 0;
} */
.dataTables_wrapper {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.section_three .table-responsive {
  background: #f5f5f5;
  padding: 1.5em;
  border-radius: 16px;
  box-shadow: var(--shadow-medium);
}

.table-title h4 {
  position: relative;
  text-align: center !important;
  margin: 0;
  margin-bottom: -0.5em;
  margin-top: -0.5em;
  font-size: 1.7em;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--NetBet-orange);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.table-dark {
  background: var(--bg_dark_color);
}

div.dataTables_wrapper div.dataTables_paginate {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  color: var(--color-white);
  background: #c8d9f1;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 2em;
  padding: 0.1em 0.5em;
  margin-left: 2px;
  text-align: center;
  cursor: pointer;
  color: inherit !important;
  border: 1px solid #c3c1c1;
  border-radius: 2px;
}
.btn-icon {
  background: var(--color-white);
}

.btn-icon .bx {
  font-size: 20px;
}

.btn .bx {
  vertical-align: middle;
  font-size: 20px;
}

.dropdown-menu {
  padding: 0.25rem 0;
}

.dropdown-item {
  padding: 0.5rem 1rem;
}

.dataTables_wrapper .badge {
  padding: 0.7em 0.75em;
  text-transform: uppercase;
  font-size: 0.7em;
  background-color: var(--NetBet-orange) !important;
  display: flex;
  width: fit-content;
  margin: auto;
}

.dataTables_wrapper .badge-success-alt {
  color: var(--color-white);
  background-color: var(--NetBet-blue) !important;
}

.table a {
  color: #212529;
}

.table a:hover,
.table a:focus {
  text-decoration: none;
}

.icon > .bx {
  display: block;
  min-width: 1.5em;
  min-height: 1.5em;
  text-align: center;
  font-size: 1rem;
}

@media (orientation: portrait) {
  .modal-body .card-wrapp {
    width: 45% !important;
    padding: 0 0.2em !important;
    height: 95px !important;
    margin: 0 auto;
    max-width: 45% !important;
  }

  .modal-body .card-custom .text {
    padding: 2px 10px;
    font-size: 0.8em;
  }
  .card-custom .text {
    font-size: 0.9em;
    padding: 1px 5px 2px 10px;
  }
  .card-custom .speech {
    font-size: 0.8em;
    padding: 0.5em 0.5em;
    line-height: 1.2;
    font-weight: bold;
    transform: translateY(11px) rotate(3deg);
    -webkit-transform: translateY(11px) rotate(3deg);
    margin: 0;
  }
  .card-custom .bottom-right {
    font-size: 0.8em;
  }
  .card-custom .speech:after {
    border: solid 6px transparent;
    border-left: solid 6px var(--color-white);
    border-top: solid 6px var(--color-white);
    bottom: -11px;
    left: 16px;
  }
  .card-custom .speech:before {
    border: solid 7px transparent;
    border-left: solid 7px var(--color-black);
    border-top: solid 7px var(--color-black);
    bottom: -14px;
    left: 14px;
  }
  .section_three {
    padding: 0;
  }
  .container-section > .col {
    padding: 5px 15px;
  }
  .container-section > .row {
    padding: 5px 15px;
  }
}

@media (max-width: 480px) {
  .toggleButton {
    font-size: 0.8em;
  }
  .spikes {
    display: none;
  }
  .section_one .s-providers {
    display: none;
  }

  .section_one .slide-streamer {
    width: 200px !important;
    height: 20vh;
  }
  .section_one .top_swiper_box,
  .bottom_swiper_box span:nth-child(2) {
    font-size: 1.5em;
  }
  .section_one .bottom_swiper_box span:nth-child(1) {
    font-size: 1em;
  }
  .section_one .bottom_swiper_box {
    bottom: 0;
  }

  .section_two {
    padding: 0.7em 0 1.5em 0;
  }
  .section_two .container .row:first-child {
    margin-top: 1.5em;
  }

  .section_two .row h2 {
    font-size: 1rem;
    padding: 0.8em !important;
  }
  .section_two .row h5 {
    font-size: 1rem;
    width: 90% !important;
    text-align: justify !important;
    margin-top: 1em;
  }
  .section_two .container-stuff {
    gap: 0;
  }
  .section_two .btn-NetBet-normal._mobile {
    margin: 0.8em 0;
  }
  .section_two #gameImages {
    grid-template-columns: repeat(4, 1fr);
    gap: 0.3em;
  }
  .section_two .s2_providers {
    margin-top: 1em;
   gap: unset;
  }
  .section_two .s2_providers div {
    /* width: 33%; */
  }
  .section_two .row {
    align-items: unset;
  }
  .section_two #gameImages a {
    width: 100%;
    height: 100%;
  }
  .section_two #gameImages a img {
    max-height: 20vw;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .section_two .s2_providers div a img {
    max-height: 8vw;
    filter: drop-shadow(3px 2px 2px #3534);
  }
  .section_two .s2_providers div:nth-child(2) a img {
    max-height: 12vw;
    transform: translateY(-5px);
  }
  .section_two .s2_providers div:nth-child(4) a img {
    max-height: 9vw;
  }

  .section_three h4 {
    font-size: 1em;
  }
  .section_three .table-responsive thead tr th {
    font-size: 0.9em;
  }
  .section_three .table-responsive tbody tr th {
    font-size: 0.9em;
  }
}
