<div class="section4_footer" id="bottomIconsssJs">
  <div class="section4_botIcons" id="iconsBsoxJs">
    <ul>
      <li>
        <div class="container-hover-icons bounce-4">
          <div class="finder-icon square-icon-size" id="myBtn3">
            <div class="finder-icon-grey-side"></div>
            <div class="finder-icon-eyes">
              <div class="finder-icon-eye-left eye"></div>
              <div class="finder-icon-eye-right eye"></div>
            </div>
            <div class="finder-icon-smile"></div>
          </div>
        </div>
      </li>
      <hr />
      <li>
        <div class="container-hover-icons bounce-4">
          <div class="container-aboutMe square-icon-size">
            <div class="aboutMe-text" id="myBtn2">ME</div>
          </div>
        </div>
      </li>
      <li>
        <div class="container-hover-icons bounce-4">
          <div class="figma-icon square-icon-size" id="unfinishButton1">
            <div class="figma-icons-center">
              <div class="figma-shape1 figma"></div>
              <div class="figma-shape2 figma"></div>
              <div class="figma-shape3 figma"></div>
              <div class="figma-shape4 figma"></div>
              <div class="figma-shape5 figma"></div>
              <div class="figma-shape6 figma"></div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="container-hover-icons bounce-4">
          <div class="linkDin-icon square-icon-size" id="linkedinButton">
            <div>in</div>
          </div>
        </div>
      </li>
      <li>
        <div class="container-hover-icons bounce-4">
          <div class="music-icons circe-icon-size" id="unfinishButton">
            <div class="music-icons-center">
              <div class="music-icon-top"></div>
              <div class="music-icon-bars">
                <div class="music-bar1 music-bars"></div>
                <div class="music-bar2 music-bars"></div>
              </div>
              <div class="music-icon-circle">
                <div class="music-circle1 music-circle"></div>
                <div class="music-circle2 music-circle"></div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="container-hover-icons bounce-4">
          <div class="photos-icons square-icon-size">
            <div class="photos-icons-center">
              <div class="photo-icon-shape1 photo-icon"></div>
              <div class="photo-icon-shape3 photo-icon"></div>
              <div class="photo-icon-shape4 photo-icon"></div>
              <div class="photo-icon-shape5 photo-icon"></div>
              <div class="photo-icon-shape6 photo-icon"></div>
              <div class="photo-icon-shape7 photo-icon"></div>
              <div class="photo-icon-shape8 photo-icon"></div>
              <div class="photo-icon-shape9 photo-icon"></div>
            </div>
          </div>
        </div>
      </li>
      <hr />
      <li>
        <div class="container-hover-icons bounce-4">
          <div class="appStore-icon icons-dimension circle-icon-size">
            <div class="appstore-icon-line1 appStore-icons-inside"></div>
            <div class="appstore-icon-line2 appStore-icons-inside"></div>
            <div class="appstore-icon-line3 appStore-icons-inside"></div>
          </div>
        </div>
      </li>
      <li>
        <div class="container-hover-icons bounce-4">
          <div class="calendar-icon circe-icon-size" id="unfinishButton12">
            <div class="calendar-icon-bg">
              <div class="calendar-icon-top">
                <div>jun</div>
              </div>
              <div class="calendar-icon-middle">
                <div>21</div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="container-hover-icons bounce-4">
          <div class="google-maps-icon square-icon-size">
            <div class="google-maps-circlePart"></div>
            <div class="google-maps-greenPart"></div>
            <div class="google-maps-lineStraightPart"></div>
            <div class="google-maps-lineRotateghtPart"></div>
            <div class="google-maps-pinkShape"></div>
            <div class="google-maps-whiteShape"></div>
            <div class="google-maps-white2Shape"></div>
            <div class="google-maps-speed">
              280
              <div class="google-maps-speed-shape1"></div>
              <div class="google-maps-speed-shape2"></div>
              <div class="google-maps-speed-shape2"></div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="container-hover-icons" data-popup-target=".popupMac2">
          <div
            class="icon-chrome chrome circle-icon-size"
            id="chromePageButton"
          >
            <div class="icon-chrome-red"></div>
            <div class="icon-chrome-green"></div>
            <div class="icon-chrome-yellow"></div>
            <div class="icon-chrome-circle"></div>
            <div class="icon-chrome-center"></div>
          </div>
        </div>
      </li>
      <li>
        <div class="container-hover-icons bounce-4">
          <div class="git-hub-container">
            <div class="github-icon circle-icon-size" id="githubButton">
              <div class="github-icon-ears">
                <div class="github-icon-ears-left"></div>
                <div class="github-icon-ears-right"></div>
              </div>
              <div class="github-icon-face"></div>
              <div class="github-icon-body"></div>
              <div class="github-icon-tails"></div>
            </div>
          </div>
        </div>
      </li>
      <hr />
      <li>
        <div class="container-hover-icons bounce-4">
          <div class="adobe-icons afterEffect-icon square-icon-size">
            <div>Ae</div>
          </div>
        </div>
      </li>
      <li>
        <div class="container-hover-icons bounce-4">
          <div class="adobe-icons premiere-icon square-icon-size">
            <div>Pr</div>
          </div>
        </div>
      </li>
      <li>
        <div class="container-hover-icons bounce-4">
          <div class="adobe-icons adobe-xd-icon square-icon-size">
            <div>Xd</div>
          </div>
        </div>
      </li>
      <li>
        <div class="container-hover-icons bounce-4">
          <div class="adobe-icons photoshop-icon square-icon-size">
            <div>Ps</div>
          </div>
        </div>
      </li>
      <hr />
      <li>
        <div class="container-hover-icons bounce-4">
          <div class="notes-icon square-icon-size">
            <div class="notes-icon-top"></div>
            <div class="notes-icon-container">
              <hr />
              <hr />
              <hr />
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="container-hover-icons bounce-4">
          <div class="folder-me2 circle-icon-size">
            <img src="/macOS_Luna_beta/template/assets/png/folders/mac_folder2.png" alt="mac_folder" />
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
