@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

:root {
  /*responsive*/
  --auto-grid-min-size: 53%;
  /*Logo-img*/
  /* --logo-header: url(./images/section5/Quatar-logo/png); */
  /*responsive*/
  --scrollSectionsColumns: 25%;
  --scrollSectionsRows: 20%;
  /*Bg-img*/
  --panelBg-D: #333;
  /*colors all*/
  --background-nav-gradient: rgb(106, 106, 106);
  --light-bg: white;
  --light-primary: rgb(247, 249, 250);
  --dark-bg: black;
  --dark-primary: #15181c;
  --gray-text: rgb(153, 153, 153);
  /*colors all*/
  --pulse-btn: #e82a08;
  --btn-append: crimson;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Play", sans-serif;
}

h1,
li,
p,
div,
span,
a {
  font-family: "Play", sans-serif;
}
a:link,
a:visited {
  color: #666;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-size: 100%;
}
li {
  list-style: none;
}
/* @media (min-width: 450px) {
    body {
        font-size: 90%;
    }
}
@media (max-width: 767px) {
    body {
        font-size: 50%;
    }
}
@media (max-width: 1199px) {
    body {
        font-size: 50%;
    }
}  */
/* 

@media (min-width: 991px) {
    body {
        font-size: 85%;
    }
}

@media (min-width: 1199px) {
    body {
        font-size: 100%;
    }
} */

html,
body {
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 992px) {
  :root {
    --bg-section-one: url(./images/section1/bg-section1.jpg);
    --bg-section-two: url(./images/section2/bg-section2.png);
    --bg-section-three: url(./images/section3/bg-section3.png);
    --bg-section-four: url(./images/section4/bg-section4.png);
    --bg-section-five: url(./images/section5/bg-section5.jpg);
  }
}

/* @media screen and (min-width: 480px) {
  :root {
    --bg-section-one: url(./images/section1/bg-section1.jpg);
    --bg-section-two: url(./images/section2/bg-section2.png);
    --bg-section-three: url(./images/section3/bg-section3.png);
    --bg-section-four: url(./images/section4/bg-section4.png);
    --bg-section-five: url(./images/section5/bg-section5.jpg);
    --bg-section-six: url(./images/section5/bg-section6.jpg);
    --bg-section-seven: url(./images/section5/bg-section7.png);
    --bg-section-eight: url(./images/section5/bg-section8.png);
    --bg-section-nine: url(./images/section5/bg-section9.jpg);
    --bg-section-ten: url(./images/section5/bg-section10.jpg);
    --bg-section-eleven: url(./images/section5/bg-section11.jpg);
  }
} */

/*****background general******/

.lozad[data-src]:not(.no-fade) {
  transition: opacity 0.8s ease;
  opacity: 0;
}
.lozad[data-src]:not(.no-fade)[data-fully-loaded="true"] {
  opacity: 1;
}

.panel[data-section-name] {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
}
/*blue*/
.panel[data-section-name="home"],
.panel[data-section-name="section_6"],
.panel[data-section-name="section_11"],
.panel[data-section-name="section_16"],
.panel[data-section-name="section_21"] {
  background-image: var(--bg-section-one);
}
/*green*/
.panel[data-section-name="section_2"],
.panel[data-section-name="section_7"],
.panel[data-section-name="section_12"],
.panel[data-section-name="section_17"],
.panel[data-section-name="section_22"] {
  background-image: var(--bg-section-two);
}
/*grey*/
.panel[data-section-name="section_3"],
.panel[data-section-name="section_8"],
.panel[data-section-name="section_13"],
.panel[data-section-name="section_18"],
.panel[data-section-name="section_23"] {
  background-image: var(--bg-section-three);
}
/*pink*/
.panel[data-section-name="section_4"],
.panel[data-section-name="section_9"],
.panel[data-section-name="section_14"],
.panel[data-section-name="section_19"] {
  background-image: var(--bg-section-four);
}
/*orange*/
.panel[data-section-name="section_5"],
.panel[data-section-name="section_10"],
.panel[data-section-name="section_15"],
.panel[data-section-name="section_20"] {
  background-image: var(--bg-section-five);
}

/*****background general******/

/****** Main ********/

.inner {
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.panel {
  position: relative;
}

.home {
  width: 100%;
  /* overflow: hidden; */
}

.panel.home {
  background-color: #f0f2f4;
  border-bottom: 1px solid #ddd;
}

/*TODO:pagination ***/

/* .pagination {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 10px;
  height: 100%;
  margin: auto;
  font-size: 1.2em;
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.pagination a {
  display: block;
  width: 80px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  position: relative;
  padding: 4px;
}

.pagination a.active:after {
  background: crimson;
  border: 1px solid #aaa;
  width: 8px;
  height: 8px;
  right: 0;
}

.pagination a .hover-text {
  position: absolute;
  right: 20px;
  top: 5px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.pagination a:hover .hover-text {
  opacity: 1;
}

.pagination a:after {
  width: 10px;
  height: 10px;
  display: block;
  background: #aaa;
  border-radius: 50%;
  content: "";
  position: absolute;
  margin: auto;
  top: -1em;
  right: 4px;
  bottom: 0;
} */

/*TODO:START general*/

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.grid-template {
  display: grid;
  grid-template-columns: repeat(5, minmax(10vw, 1fr));
  grid-template-rows: repeat(11, 9vh);
  place-content: flex-start;
  padding: 0.5em 0.6em;
  height: 100%;
}

.vertical-title {
  text-transform: uppercase;
  color: #fff;
  padding: 5px 10px;
  margin: 10px 10px 0px;
  line-height: 0.92;
  writing-mode: tb-rl;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  white-space: nowrap;
  width: 100%;
  text-shadow: -5px 7px 5px rgb(0 0 0 / 60%);
  opacity: 0.9;
}
.header-content-text {
  writing-mode: vertical-rl;
  grid-column: 1 / span 2;
  grid-row: 3 / span 6;
  text-align: center;
  font-size: 3.4vh;
  z-index: 20;
  text-align: start;
}

.logo-top {
  grid-column: 1 / span 7;
  grid-row: 1;
  text-align: center;
  z-index: 200;
}
.logo-top img {
  width: 100%;
}

/*TODO:general*/
.content-placeHold {
  grid-column: 3 / span 3;
  grid-row: 2 / span 6;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  align-items: center;
  justify-content: space-evenly;
  height: 80%;
  position: absolute;
  z-index: 2;
}

/* .constent {
  grid-column: 2 /span 4;
  grid-row: 4;
  background: red;
  z-index: 120;
} */
.panel {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.content-place-items {
  grid-column: 2 / 6;
  grid-row: 2 / 6;
}
.place-bottom {
  grid-row: 9;
  grid-column: 1 / span 6;
  z-index: 30;
  color: white;
}
.place-bottom img {
  width: 100% !important;
}

.gallery-wrapper {
  grid-column: 1 / 6;
  grid-row: 1 / 9;
  z-index: 0;
}

/*******************TODO:section 1  START***********************/

.home .header-content-text {
  writing-mode: vertical-rl;
  grid-column: 1 / span 2;
  grid-row: 1 / span 7;
  text-align: center;
  z-index: 4;
}

.home h1 {
  text-transform: uppercase;
  text-shadow: -2px -6px 5px rgb(0 0 0 / 60%);
  width: 100%;
  text-align: start;
  opacity: 0.8;
  font-size: 3em;
  line-height: 0.66;
}
.home h1 span:not(.span-h1-s1) {
  font-size: 0.46em;
}
.home .span-h1-s1 {
  font-size: 1em;
}

.ball_animation {
  animation: ball-animation 0.7s ease forwards;
}

@keyframes ball-animation {
  0% {
    width: 40px;
    height: 40px;
    border-radius: 2em;
    transform: translateX(0px) translateY(0px);
    opacity: 0;
  }

  25% {
    transform: translateX(-200px) translateY(-10px);
    opacity: 1;
    width: 100%;
    height: 10%;
    border-radius: 2em;
  }
  to {
    border-radius: 0em;
    width: 200%;
    height: 200%;
    transform: translateX(-350px) translateY(-300px);
  }
}
/* .section_1-title .span-h1-s1::after {
  position: absolute;
  content: "welcome to";
  top: 409px;
  left: -156px;
  transform: rotate(90deg) !important;
  height: 100%;
  width: 100%;
  font-size: 0.34em;
  color: black;
  background: white;
  width: fit-content;
  height: fit-content;
  padding: 0.4em;
  border-radius: 20px;

} */
.forT {
  animation-name: bounceBall;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  position: absolute;
}
.home .gallery0 {
  grid-column: 3 / span 3;
  grid-row: 1 / span 7;
  position: relative;
}
.home .gallery0::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: -38px;
  width: 189px;
  height: 62px;
  background: rgba(0, 0, 0, 0.597);
  opacity: 0.3;
  border-radius: 100%;
  transform: skew(61deg, 0) translateY(-30px);
  z-index: 2;
}
.home .gallery0 img {
  height: 60vh;
  width: auto;
  position: relative;
  top: 1vh;
  left: 8vw;
  z-index: 3;
}
.text-bottom {
  color: #fff;
  position: relative;
  grid-row: 8;
  grid-column: 1 / span 5;
  height: 23vh;
  display: block;
  padding: 0.2em;
  text-align: center;
  /* margin-left: 1em; */
  text-transform: uppercase;
  font-size: 1.8em;
  z-index: 1;
  margin-top: 0px;
}
.home .text-bottom::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(29, 29, 29, 0.557);
  border-radius: 20px;
  z-index: -1;
  opacity: 0.4;

  box-shadow: 5px 7px 5px rgb(0 0 0 / 90%);
}
.text-bottom ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.text-bottom ul li {
  line-height: 1;
  letter-spacing: -1.5px;
  margin-top: -2px;
}
/* .text-bottom .line1,
.text-bottom .line3 {
  font-size: 0.7em;
  letter-spacing: -0.5px;
}
.text-bottom .line2,
.text-bottom .line4 {
  text-align: center;
  font-weight: 700;
  margin-top: -0.25em;
}
.text-bottom .line2 {
  font-size: 2.28em;
}
.text-bottom .line2 span {
  font-size: 0.65em;
}
.text-bottom .line3 {
  margin-top: -0.5em;
}
.text-bottom .line4 {
  font-size: 2.15em;

} */

.inner_section_1 .text-bottom .line1 {
  font-size: 1.5em;
  font-weight: bold;
}
.inner_section_1 .text-bottom .line2 {
  font-size: 1em;
  font-style: italic;
}
.inner_section_1 .text-bottom .line3 {
  font-size: 1.5em;
  font-weight: bold;
}
.inner_section_1 .text-bottom .line4 {
  font-size: 0.95em;
  font-style: italic;
}
.inner_section_1 .modal_home_container {
  grid-column: 4;
  grid-row: 2;
  margin-left: -28px;
  margin-top: -11px;
}

/******EMBLEM BUTTON*********/

.btn-home:focus {
  outline: none;
}

#modal_info {
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
  height: 100%;
  background: #a0a0a0;
  color: #eee;
  font-size: 1em;
  text-align: center;
  z-index: 100;
  display: none;
}

#modal_info.activeTwo {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.close_emblem {
  /* width: 150px !important;
  max-width: 150px !important;
  padding: 0;
  background: rgba(247, 91, 13, 0.8);
  color: white;
  position: absolute;
  left: 10px;
  bottom: 110px;
  transition: 0.4s all;
  font-size: 1em;
  border: none;
  outline: none; */

  width: 150px !important;
  max-width: 150px !important;
  padding: 0;
  background: rgba(247, 91, 13, 0.8);
  color: white;
  transition: 0.4s all;
  font-size: 1em;
  border: none;
  outline: none;
  grid-row: 8;
  grid-column: 1;
  margin-top: 4vh;
}
.inner_section_1 .modal-content-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  background: #c31432;
  background: -webkit-linear-gradient(to top, #65000b, #850813);
  background: linear-gradient(to top, #65000b, #850813);
}
.inner_section_1 .modal-content-info img {
  width: 90%;
}
/******END========EMBLEM BUTTON*********/

/*TODO:section 1  end*/

/*TODO: START SECTION 2*************/

.section_2_container h1 {
  font-size: 1.4em;
}
.section_2_container h1 span:nth-child(1) {
  font-size: 1.55em;
}
.section_2_container h1 span:nth-child(3) {
  font-size: 1.2em;
}
.section_2_container #constent {
  grid-row: 4;
}

.section_2_container .gallery0 {
  grid-column: 3;
  grid-row: 2 / span 1;
}
.section_2_container .gallery0 img {
  height: 68vh;
  top: 1em;
  left: 40px;
  position: relative;
}
/* .section_2_container .grid-template {
  padding: 3em 3em 0;
} */

/* .section_2_container .content {
  position: absolute;
  width: 535px;
  left: 700px;
  top: 10%;
} */

/*TODO: END SECTION 2*************/

/*TODO: start SECTION 3*************/
.inner_section_3 .header-content-text {
  grid-row: 2 / 8;
  position: relative;
}

.inner_section_3 .gallery-wrapper {
  grid-column: 2 / span 4;
  grid-row: 2 / span 4;
}
.inner_section_3 .gallery-wrapper .gallery0 img {
  width: 120%;
}
.inner_section_3 .gallery2 {
  grid-column: 1 / 3;
  grid-row: 8;
  background-color: black;
  /* border: 5px solid rgb(10, 227, 224); */
  display: grid;
  place-items: center;
  /* position: absolute; */
  width: 100%;
  /* -webkit-transition: bottom 0.8s ease 0.4s;
  transition: bottom 0.8s ease 0.4s;
  position: relative;
  bottom: 0px; */
}
.inner_section_3 #constent {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60%;
}
/* 
.inner_section_3 .content {
    grid-column: 3 /span 3;
    grid-row: 2/ span 6;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    position: absolute;
    top: 72px;
} */

/*TODO: END SECTION 3*************/

/* .inner_section_3 .content {
  width: 535px;
  position: absolute;
  left: 650px;
  top: 50px;
} */

.inner_section_3 .gallery0 {
  top: 100%;
}
.inner_section_3 .gallery1 img {
  width: 40%;
}

.inner_section_3 .gallery0.moved {
  top: 10%;
  /* left: -144px; */
}

.inner_section_3 .gallery1 {
  /*left:275px;*/
  left: 0;
  top: 250px;
  /* max-height: 90%;
  height: 540px; */
}

.inner_section_3 .gallery1.moved {
  top: 76px;
  left: 60px;
  z-index: 23;
}

.inner_section_3 .gallery0,
.inner_section_3 .gallery1 {
  position: absolute;
  -webkit-transition: top 1.1s ease;
  transition: top 1.1s ease;
}

.inner_section_3 .gallery2 {
  /* -webkit-transition: bottom 0.8s ease 0.4s;
  transition: bottom 0.8s ease 0.4s;
  position: relative;
  bottom: 0px; */
}

.inner_section_3 .gallery2.moved {
  bottom: -100px;
}

.inner_section_3 .gallery-wrapper {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
}

.inner_section_3 .content-placeHold {
  top: 38px;
  left: -50px;
}
/*TODO: END SECTION 3*************/

/*TODO:start SECTION 4*************/
.inner_section_4 .content-box {
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0.5s;
  transition: opacity 0.8s ease 0.5s;
  top: 30px;
  position: absolute;
  width: 65%;
  margin: auto;
  left: 0;
  right: 0;
  background: #1706ce;
}

.inner_section_4 .content-box.moved {
  opacity: 1;
}

.inner_section_4 .gallery-wrap {
  margin: auto;
  left: 0;
  right: 0;
  top: 45%;
  height: 100%;
  position: absolute;
}

.inner_section_4 .gallery0,
.inner_section_4 .gallery1 {
  position: relative;
}

.inner_section_4 .gallery0 {
  left: 40px;
  top: -260px;
  -webkit-transition: top 1s ease;
  transition: top 1s ease;
}

.inner_section_4 .gallery1 {
  left: 129px;
  top: -233px;
}

.inner_section_4 .gallery0.moved {
  top: 0;
}

.section_4_img img {
  width: 100%;
  margin-left: 40px;
}
/* .inner_section_4 .header-content-text {
    grid-row: 1 /span 8;
}
.inner_section_4 .vertical-title {
    font-size: 1em;
} */
.inner_section_4 .content-box {
  grid-column: 3;
  grid-row: 4;

  width: 170px;
  height: 120px;
  background-color: grey;
  opacity: 0.6;
  border: 2px solid black;
}
.inner_section_4 .chartJs-section4 {
  border: 2px solid black;
  background-color: pink;
  grid-column: 2 / span 4;
  grid-row: 5 / span 3;
  width: 100%;
  position: relative;
}
.inner_section_4 .header-content-text {
  grid-row: 2 / span 5;
  z-index: 44;
  width: 100%;
  height: fit-content;
}
.inner_section_4 .header-content-text h1 {
  font-size: 2.2em;
  text-align: end;
  line-height: 0.7;
}
.inner_section_4 .header-content-text .turneu {
  font-size: 0.42em;
}
.carousel {
  grid-column: 1 / span 5;
  grid-row: 8 / span 3;
  overflow: hidden;
  background-color: rgba(79, 79, 79, 0.241);
  color: white;
  padding: 0 0.2em;
  margin: auto 0;
}
.inner_section_4 #constent {
  grid-row: 3;
  position: relative;
  top: 3em;
}

/*TODO:start css carousel */
.carousel__wrapper {
  padding: 5px;
}
.carousel__content {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.carousel__container {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}
.carousel__container::-webkit-scrollbar {
  display: none;
}
.carousel__slide {
  min-width: 50%;
}
.card__description {
  display: flex;
  column-gap: 2px;
  align-items: center;
  align-self: flex-start;
  z-index: 3;
}
.card__description img {
  width: 20px;
}
.card__description span {
  padding: 5px 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
}
.card__description span.fire {
  background-color: rgba(220, 20, 60, 0.824);
}
.card__description span.psychic {
  background-color: rgb(146, 100, 108);
}
.card__description span.electric {
  background-color: rgb(231, 210, 88);
}
.card__description span.rock {
  background-color: rgb(114, 102, 32);
}
.card__description span.grass {
  background-color: rgb(32, 114, 69);
}
.card_self {
  position: relative;
}
.card_self::after {
  position: absolute;
  left: 0;
  top: 0.2em;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  content: "Stadium";
  width: 100%;
  height: 20%;
  z-index: 20;
}

.card__inner {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 7px;
  flex-direction: column;
  row-gap: 0.5rem;
  height: 200px;
  border-radius: 15px;
  background-color: rgb(46, 46, 46);
  padding: 0 0.5rem 0.5rem 0;
  position: relative;
  overflow: hidden;
}
.card__inner h4 {
  font-size: 1rem;
  margin: 0;
  color: #fff;
  z-index: 3;
  text-transform: uppercase;
}
.card__image img {
  /* max-height: 100px; */
  margin-bottom: 1rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.card__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a1a1aac;
  z-index: 2;
  opacity: 0.3;
}
.arrow-card {
  display: none;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: calc(50% - 10px);
  background-color: rgba(3, 101, 214, 0.664);
  padding: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.arrow.arrow--right {
  right: 0%;
}
.arrow.arrow--left {
  left: 0%;
}

@media screen and (min-width: 1180px) {
  .carousel__wrapper {
    padding: 50px;
  }
  .carousel__slide {
    min-width: 33.33%;
    scroll-snap-align: center;
    position: relative;
  }
  .arrow-card {
    display: flex;
  }
}
@media screen and (max-width: 1180px) {
  .card__inner {
    height: 170px;
  }
}

/*TODO:start css carousel */
/*TODO: end SECTION 4*************/

/*TODO: start SECTION 5*************/

.inner_section_5 .gallery0 img {
  width: 100%;
}
.inner_section_5 h1 {
  font-size: 1.7em;
}
.inner_section_5 h1 .line-1-s5 {
  font-size: 1.42em;
}
.inner_section_5 .content-placeHold .card_reverse {
  left: -20%;
}
.inner_section_5 .gallery-wrapper {
  /* grid-column: 2 / span 7; */
  position: relative;
}
.inner_section_5 .gallery0 img {
  left: 20px;
  top: 10px;
  position: relative;
}
.inner_section_5 .gallery1 .box-style {
  width: 20%;
  left: 20px;
  top: 10px;
  position: absolute;
  background-color: pink;
  font-size: 0.8em;
  width: 60px;
  height: 60px;
}
.inner_section_5 .place-bottom {
  position: relative;
  top: 2vh;
}
.inner_section_5 #constent {
  grid-row: 3;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 70%;
}
/*TODO: START SECTION 6 *************/

.inner_section_6 .gallery0 img {
  width: 95%;
  position: absolute;
  top: 50px;
  left: 15px;
}
.inner_section_6 .place-bottom {
  border: 1px solid black;
  background: black;
  color: white;
  height: 15vh;
  max-height: 15vh;
}

.inner_section_6 .gallery-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 16px;
  left: 41px;
}
.inner_section_6 .section_6-title {
  font-size: 1.58em;
  margin-bottom: 5px;
}

.inner_section_6 .gallery-wrapper .gallery1 img,
.inner_section_6 .gallery-wrapper .gallery2 img {
  width: 70%;
}
.inner_section_6 #constent {
  grid-row: 3;
}

/*TODO: end SECTION 6 *************/

/*TODO:7 start SECTION 7 *************/

.inner_section_7 .pole-section7 {
  grid-column: 2;
  grid-row: 2 / span 8;
  height: 100%;
}
.inner_section_7 .flag-container {
  grid-column: 2;
  grid-row: 2;
  margin-left: 10px;
}
.inner_section_7 .flag-section7 {
  width: 230px;
}
.inner_section_7 .gallery0 {
  grid-column: 2 / span 4;
  grid-row: 4 / span 3;

  margin-top: 50px;
}
.inner_section_7 .gallery0 img {
  width: 100%;
}

.inner_section_7 .header-content-text {
  grid-row: 7;
}
.inner_section_7 .section-7-bottom.place-bottom {
  height: 16vh;
}
.inner_section_7 #constent {
  grid-row: 3;
}

/*TODO:7 end SECTION 7 *************/

/*TODO:8 start SECTION 8 *************/

.inner_section_8 .line-1s8 {
  font-size: 0.5em;
}
.inner_section_8 .line-2s8 {
  font-size: 1.03em;
}
.inner_section_8 .gallery0 {
  grid-row: 1 / span 9;
  grid-column: 1 / 6;
}
.inner_section_8 .gallery0 img {
  width: 100%;
  margin-top: 1.5em;
}
.inner_section_8 .place-bottom {
  grid-row: 9;
  grid-column: 3 / span 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: 10px;
}
.inner_section_8 .header-content-text {
  grid-row: 9;
}
.inner_section_8 .header-content-text .vertical-title {
  font-size: 1.8em;
  line-height: 0.65;
}
.inner_section_8 .section-8-bottom img {
  width: 100%;
}
.inner_section_8 .section-8-bottom .cup-s8 {
  width: 83% !important;
}
.inner_section_8 #constent {
  grid-row: 2;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 60%;
}
/*TODO:8 end SECTION 8 *************/

/*TODO:9 start SECTION 9 *************/

.inner_section_9 .header-content-text {
  grid-row: 9;
  font-size: 3.6vh;
}
.inner_section_9 .line-2s9 {
  font-size: 0.78em;
}
.inner_section_9 .gallery1 img {
  height: 100%;
}
.inner_section_9 .gallery1 {
  grid-column: 2 / span 2;
  grid-row: 2 / span 6;
}
.inner_section_9 .gallery2 img {
  width: 100%;
}
.inner_section_9 .gallery2 {
  grid-column: 1 / span 5;
  grid-row: 8 / span 2;
  height: fit-content;
  margin-top: 60px;
}
.inner_section_9 .gallery0 {
  grid-column: 1 / span 5;
  grid-row: 1 / span 8;
}
.inner_section_9 #constent {
  grid-row: 4;
}

/*TODO:9 end SECTION 9 *************/

/*TODO:10 start SECTION 10 *************/

.inner_section_10 .gallery0 img {
  height: 95%;
}
.inner_section_10 .gallery1 img {
  width: 90%;
  margin-left: -2em;
}
.inner_section_10 .gallery3 img {
  width: 100%;
}
.inner_section_10 .gallery0 {
  grid-column: 4 / span 2;
  grid-row: 2 / span 6;
  z-index: 33;
}
.inner_section_10 .gallery1 {
  grid-column: 1 / span 5;
  grid-row: 7 / span 3;
  transform: rotate(-35deg);
  -webkit-transform: rotate(-35deg);
}
.inner_section_10 .gallery2 {
  grid-column: 4;
  grid-row: 7;
  position: relative;
  top: -58px;
  left: -9px;
}
.inner_section_10 .gallery2 img {
  height: 100%;
}
.inner_section_10 .gallery3 {
  grid-column: 3 / span 4;
  grid-row: 2 / span 2;
  position: relative;
  top: 20px;
  transform: rotate(-30deg);
  z-index: 2;
}
.inner_section_10 .header-content-text {
  font-size: 3.7vh;
}
.inner_section_10 #constent {
  grid-row: 3;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 70%;
}

/*TODO:10 end SECTION 10 *************/

/*TODO:11 start SECTION 11 *************/
.inner_section_11 .gallery-wrapper {
  grid-row: 2 / span 6;
}
.inner_section_11 .gallery-wrapper img {
  height: 100%;
  width: 100%;
}
.inner_section_11 .header-content-text {
  grid-row: 4 / span 6;
}
.inner_section_11 .line-1s11 {
  font-size: 0.95em;
}
.inner_section_11 .place-bottom {
  grid-column: 2 / span 4;
  background: black;
}
.inner_section_11 #constent {
  grid-row: 4;
}

/*TODO:11 end SECTION 11 *************/

/*TODO:12 start SECTION 12 *************/
.inner_section_12 .gallery-wrapper {
  grid-column: 3 / span 6;
  grid-row: 2 / span 8;
  z-index: 100;
}
.inner_section_12 .gallery-wrapper img {
  height: 100%;
}
.inner_section_12 .gallery0 {
  grid-column: 2 / span 3;
  grid-row: 5 / span 2;
}
.inner_section_12 .gallery0 img {
  width: 90%;
  margin-left: 1em;
}
.inner_section_12 .header-content-text {
  text-align: start;
  font-size: 3.6vh;
  grid-row: 7;
}
.inner_section_12 .header-content-text .line-2s12 {
  font-size: 1.25em;
}
.inner_section_12 .place-bottom {
  grid-column: 1 / span 5;
  grid-row: 8 / span 3;
  background: crimson;
  z-index: 120;
}
.inner_section_12 #constent {
  grid-row: 4;
}

/*TODO:9 end SECTION 12 *************/

/*TODO:9 start SECTION 13 *************/

.inner_section_13 .header-content-text {
  grid-row: 3 / span 7;
  margin-bottom: 0.5em;
}
.inner_section_13 .vertical-title {
  font-size: 2em;
  line-height: 0.95;
}

.inner_section_13 .gallery0 {
  grid-column: 3 / span 3;
  grid-row: 1 / span 9;
  z-index: 20;
}
.inner_section_13 .gallery1 {
  grid-column: 2 / span 4;
  grid-row: 3 / span 5;
  z-index: 15;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inner_section_13 .gallery0 img {
  width: 100%;
  height: 100%;
  transform: translateX(15px);
  -webkit-transform: translateX(15px);
}
.inner_section_13 .gallery1 img {
  width: 100%;
  position: relative;
  left: 6.5em;
}
.inner_section_13 .place-bottom {
  z-index: 12;
}

.inner_section_13 .place-bottom .gallery2 {
  width: 500px;
  margin-left: -20px;
}
.inner.inner_section_13.grid-template,
.inner.inner_section_14.grid-template {
  overflow: hidden;
}
.inner_section_13 .gallery1 .rotate-imgS13 {
  animation: animation_rotate 25s 0.5s linear alternate infinite;
}
@keyframes animation_rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.inner_section_13 #constent {
  grid-row: 2;
}
/*TODO:9 end SECTION 13 *************/

/*TODO:9 start SECTION 14 *************/

.inner_section_14 .gallery0 {
  grid-column: 1 / span 4;
  grid-row: 2 / span 6;
  z-index: 3;
}
.inner_section_14 .gallery0 img {
  opacity: 1;
  width: 100%;
}
.inner_section_14 .gallery1 {
  grid-column: 4 / span 2;
  grid-row: 4 / span 7;
  z-index: 4;
}
.inner_section_14 .gallery1 img {
  height: 120%;
}
.inner_section_14 .header-content-text {
  grid-row: 9;
  font-size: 2.8vh;
}
.inner_section_14 .place-bottom {
  grid-row: 9 / span 2;
  grid-column: 2 / span 6;
  background-color: crimson;
}
.inner_section_14 #constent {
  grid-row: 3;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 70%;
}
/* height: 100%;

/*TODO:9 end SECTION 14 *************/

/*TODO:9 start SECTION 15 *************/

.inner_section_15 .gallery0 {
  grid-column: 2 / span 2;
  grid-row: 2 / span 6;
  margin-left: -20px;
  margin-top: 20px;
  z-index: 3;
}
.inner_section_15 .gallery0 img {
  opacity: 1;
  height: 100%;
}
.inner_section_15 .gallery1 {
  grid-column: 3 / span 3;
  grid-row: 2 / span 7;
  z-index: 5;
}
.inner_section_15 .gallery1 img {
  width: 100%;
}
.inner_section_15 .gallery2 {
  grid-column: 3 / span 3;
  grid-row: 2 / span 6;
  margin-left: 20px;
  margin-top: 10px;
  z-index: 4;
}
.inner_section_15 .gallery2 img {
  height: 100%;
}
.inner_section_15 .header-content-text {
  grid-row: 7;
  font-size: 3vh;
}
.inner_section_15 .place-bottom {
  grid-row: 8 / span 3;
  grid-column: 1 / span 6;
  background-color: crimson;
}
.inner_section_15 #constent {
  grid-row: 3;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 70%;
}

/* height: 100%;

/*TODO:15 end SECTION 15 *************/

/*TODO:16 start SECTION 16 *************/

.inner_section_16 .gallery0 {
  grid-column: 2 / span 2;
  grid-row: 2 / span 7;
  z-index: 9;
}
.inner_section_16 .gallery0 img {
  opacity: 1;
  height: 120%;
}
.inner_section_16 .gallery1 {
  grid-column: 2 / span 2;
  grid-row: 7 / span 3;
  z-index: 9;
}
.inner_section_16 .gallery1 img {
  height: 120%;
}
.inner_section_16 .gallery2 {
  grid-column: 1 / span 5;
  grid-row: 9 / span 2;
  z-index: 10;
}
.inner_section_16 .gallery2 img {
  width: 100%;
}
.inner_section_16 .gallery3 {
  grid-column: 2 / span 3;
  grid-row: 9;
  z-index: 9;
}
.inner_section_16 .gallery3 img {
  margin-top: 30px;
  height: 150%;
}
.inner_section_16 .header-content-text {
  grid-row: 9;
  font-size: 4vh;
}
.inner_section_16 #constent {
  grid-row: 4;
}

/*TODO:16 end SECTION 16 *************/

/*TODO:17 start SECTION 17 *************/

.inner_section_17 .gallery0 {
  grid-column: 1 / span 3;
  grid-row: 2 / span 8;
  z-index: 9;
}
.inner_section_17 .gallery0 img {
  opacity: 1;
  height: 100%;
}
.inner_section_17 .gallery1 {
  grid-column: 3;
  grid-row: 8 / span 2;
  z-index: 9;
  margin-left: -1.8em;
}
.inner_section_17 .gallery1 img {
  height: 130%;
}

.inner_section_17 .header-content-text {
  grid-row: 7;
  font-size: 4vh;
}

.inner_section_17 #constent {
  grid-row: 4;
}

/*TODO:17 end SECTION 17*************/

/*TODO:18 start SECTION 18 *************/

.inner_section_18 .gallery0 {
  grid-column: 2 / span 3;
  grid-row: 2 / span 6;
  z-index: 9;
}
.inner_section_18 .header-content-text {
  grid-row: 9;
  font-size: 3.6vh;
}
.inner_section_18 .gallery0 img {
  opacity: 1;
  height: 100%;
  animation: animation_rotate 40s 0.5s linear alternate infinite;
}

@keyframes animation_rotate_reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(960deg);
  }
}
.inner_section_18 .gallery1 {
  grid-column: 3;
  grid-row: 6 / span 2;
  z-index: 9;
  margin-left: -1.8em;
}
.inner_section_18 .gallery1 img {
  height: 130%;
  animation: animation_rotate_reverse 40s 0.5s linear alternate-reverse infinite;
}

.inner_section_18 #constent {
  grid-row: 4;
}

/*TODO:18 end SECTION 18*************/

/*TODO:19 start SECTION 19 *************/

.inner_section_19 .gallery0 {
  grid-column: 2 / span 4;
  grid-row: 6 / span 4;
  z-index: 6;
}

.inner_section_19 .gallery0 img {
  opacity: 1;
  height: 100%;
}

.inner_section_19 .gallery1 {
  grid-column: 2;
  grid-row: 6 / span 3;
  z-index: 2;
}
.inner_section_19 .gallery1 img {
  height: 130%;
}

.inner_section_19 .header-content-text {
  font-size: 3.6vh;
  grid-row: 9;
}
.inner_section_19 .header-content-text .vertical-title {
  line-height: 0.8;
}
.inner_section_19 .line-2s19 {
  font-size: 1.6em;
}
.inner_section_19 .chart_s19 {
  grid-column: 2 / span 4;
  grid-row: 2 / span 2;
  background-color: crimson;
}
.inner_section_19 .chart_two_s19 {
  grid-column: 2 / span 4;
  grid-row: 4 / span 2;
  background-color: blue;
}

/*TODO:19 end SECTION 19*************/

/*TODO:20 start SECTION 20 *************/

.inner_section_20 .gallery0 {
  grid-column: 3 / span 3;
  grid-row: 2 / span 8;
  z-index: 6;
}

.inner_section_20 .gallery0 img {
  opacity: 1;
  height: 120%;
}

.inner_section_20 .gallery1 {
  grid-column: 1 / span 6;
  grid-row: 7 / span 2;
  position: relative;
  left: -2em;
  z-index: 2;
}
.inner_section_20 .gallery1 img {
  width: 140%;
}

.inner_section_20 .header-content-text {
  font-size: 4vh;
  grid-row: 8;
}
.inner_section_20 .header-content-text .line-2s20 {
  font-size: 2em;
}
.inner_section_20 .chart_s20 {
  grid-column: 2 / span 4;
  grid-row: 2 / span 2;
}
.inner_section_20 .chart_two_s20 {
  grid-column: 2 / span 4;
  grid-row: 4 / span 2;
  background-color: blue;
}
.inner_section_20 #constent {
  grid-row: 2;
}
/*TODO:20 end SECTION 20*************/

/*TODO:21 start SECTION 21 *************/

.inner_section_21 .gallery0 {
  grid-column: 2 / span 2;
  grid-row: 9 / span 2;
  z-index: 6;
}

.inner_section_21 .gallery0 img {
  opacity: 1;
  height: 100%;
}

.inner_section_21 .gallery1 {
  grid-column: 2 / span 4;
  grid-row: 4 / span 4;
  position: relative;
  z-index: 2;
}
.inner_section_21 .gallery1 img {
  width: 100%;
}

.inner_section_21 .header-content-text {
  font-size: 2.7vh;
  grid-row: 9;
}

.inner_section_21 .chart_s21 {
  grid-column: 2 / span 4;
  grid-row: 2 / span 3;
  background-color: black;
}

/*TODO:21 end SECTION 21*************/

/*TODO:22 start SECTION 22 *************/

.inner_section_22 .gallery0 {
  grid-column: 2 / span 2;
  grid-row: 2 / span 9;
  z-index: 6;
}

.inner_section_22 .gallery0 img {
  opacity: 1;
  height: 100%;
}

.inner_section_22 .header-content-text {
  font-size: 3.5vh;
  grid-row: 9;
}

/*TODO:22 end SECTION 22*************/

.gallery0 img,
.gallery1 img,
.gallery2 img {
  width: auto;
}

/* .header-content-text p {
  font-size: 2em;
  line-height: 1.4;
  margin-top: 20px;
} */

.arrow {
  position: relative;
  padding-right: 15px;
}

.arrow:before,
.arrow:after {
  content: "";
  position: absolute;
  right: 0;
  top: 4px;

  width: 2px;
  height: 12px;
  background: #666;
}

.arrow:before {
  transform: rotate(45deg);
  top: 12px;
}

.arrow:after {
  transform: rotate(-45deg);
}

/************open content section 1**************/

.container-shape {
  display: grid;
  grid-template-columns: repeat(7, minmax(10vw, 1fr));
  grid-template-rows: repeat(10, minmax(10vh, 1fr));
  height: 100%;
  padding: 0em 0.5em;
}
.container-shape > .item {
  text-align: start;
  padding: 0.3em;
  width: 100%;
  height: fit-content;
  max-height: 200px;
  max-width: 250px;
}
.container-shape .item > h2 {
  font-size: 2vh;
  line-height: 0.9;
  margin-bottom: 0.2em;
}

.container-shape .item > p {
  font-size: 0.75rem;
}
@media screen and (min-width: 992px) {
  .container-shape {
    grid-template-columns: repeat(auto, minmax(10vw, 1fr));
    place-items: center;
    margin: 0 auto;
  }
}

.title-shape {
  grid-column: 1 / 8;
  /* background: purple; */
  grid-row: 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-1 {
  grid-column: 1 / span 3;
  grid-row: 2;
  /* margin-top: 1.5em; */
  /* width: 10em !important; */
}
.item-2 {
  grid-column: 1 / span 3;
  grid-row: 4;
  margin-top: -7vh;
  width: 150px !important;
}
.item-3 {
  grid-column: 1 / span 3;
  grid-row: 4;
  width: 131px !important;
  margin-top: 7vh;
}

.item-4 {
  grid-column: 5 / span 2;
  grid-row: 4;
  width: 150px !important;
  text-align: right;
}
.item-4 h2 {
  text-align: right;
}
.item-4 p {
  font-size: 0.75vh;
  text-align: end;
  margin-left: 3.2em;
}

.item-5 {
  grid-column: 5 / span 4;
  grid-row: 2 / span 2;
  /* position: relative;
  left: 4.5em;
  top: -3em; */
  margin-left: -5px;
  /* margin-top: -33px; */
  width: 161px !important;
}
.item-6 {
  grid-column: 1 / span 2;
  grid-row: 6;
  width: 150px !important;
  margin-top: 2vh;
}
.item-7 {
  grid-column: 5 / span 5;
  grid-row: 7;
  width: 153px !important;
  margin-left: -0.5em;
  margin-top: 0.5em;
  text-align: end !important;
}
.item-8 {
  grid-row: 8;
  grid-column: 3 / span 3;
  position: relative;
  /* left: 1.5em; */
  /* top: 1em; */
  width: 100%;
}

.item-shape {
  grid-column: 4;
  grid-row: 3 / span 6;
  display: grid;
  place-content: center;
  /* position: relative; */
  /* left: -3.5em; */
}
.inner_section_1 .modal-content-info .shape-modal {
  width: 15vh;
  margin: 0 auto;
  /* max-width: 300px; */
  /* background: red; */
}
/* 
.title-shape-bottom {
  grid-column: 1 / span 3;
  grid-row: 9 / span 2;

} */
/**************end content section 1**************/

/****************** start chat menu *****************/

.chartMenu {
  width: 100%;
  height: 40px;
  background: #1a1a1a;
  color: rgba(255, 26, 104, 1);
}
.chartMenu p {
  padding: 10px;
  font-size: 20px;
}
.chartCard {
  width: 100%;
  height: calc(100% - 40px);
  background: rgba(255, 26, 104, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.chartBox {
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  border: solid 3px rgba(255, 26, 104, 1);
  background: white;
}

/****************** start chat menu *****************/

#ball-loading-wrap {
  position: relative;
  height: 75px;
  width: 30px;
}

#ball-loading-wrap::after {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  content: "";
  height: 30px;
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 50%;
  transform: scaley(0.1);
  transform-origin: center bottom;
  -webkit-animation-name: bounceballShadow;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-delay: 0;
  -webkit-animation-timing-function: ease-out;
  animation-name: bounceballShadow;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 0;
  animation-timing-function: ease-out;
  animation-play-state: running;
  animation-fill-mode: none;
}

#ball-loading-wrap #ball {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-animation-name: bounceball-splash;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-delay: 0;
  -webkit-animation-timing-function: ease-out;
  animation-name: bounceball-splash;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 0;
  animation-timing-function: ease-out;
  animation-play-state: running;
  animation-fill-mode: none;
  overflow: hidden;
}

#ball-loading-wrap #ball svg {
  height: 30px;
  width: 30px;
}

@-webkit-keyframes bounceball-splash {
  from {
    bottom: 0;
    height: 20px;
  }

  10% {
    bottom: 0;
    height: 30px;
  }

  to {
    bottom: 50%;
  }
}

@keyframes bounceball-splash {
  from {
    bottom: 0;
    height: 20px;
  }

  10% {
    bottom: 0;
    height: 30px;
  }

  to {
    bottom: 50%;
  }
}

@keyframes bounceballShadow {
  from {
    background: rgba(0, 0, 0, 0.2);
    transform: scaleY(0.1) scaleX(1);
  }

  10% {
    background: rgba(0, 0, 0, 0.3);
    transform: scaleY(0.1) scaleX(0.8);
  }

  to {
    background: rgba(0, 0, 0, 0.2);
    transform: scaleY(0.1) scaleX(1);
  }
}

/*TODO:CARDS** cards CARDS****/

.container-cards {
  max-width: 50vh;
  min-width: 28vh;
  border-radius: 10px;
  width: 100%;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#constent {
  grid-column: 3 / span 2;
  grid-row: 2;
  z-index: 2100;
  position: absolute;
  left: -3em;
}
.entry-cards {
  position: relative;
  /* overflow: hidden; */
  margin: 30px 0;
  padding: 0.8em 1em 1em 1em;
  background: #3f3f3fb3;
  box-shadow: 0 0 15px #999;
  color: white;
  transition: all ease 1s;
}

.entry-title {
  margin-bottom: 0.3em;
  font-family: Oswald, sans-serif;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
}

.entry-title:hover {
  color: #555;
}

.more-link {
  display: block;
  width: 80%;
  height: 25px;
  text-align: center;
  line-height: 1;
  font-size: 0.65em;
  letter-spacing: -0.5px;
  padding: 8px;
  background: var(--btn-append);
  color: #fff;
  border-radius: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  border: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.692);
  outline: none;
  border: none;
  margin-top: 1.8em;
}

/* .more-link:hover {
  background: #c4d905;
} */

.more-link:after {
  content: "\2193";
  margin-left: 8px;
  font-size: 0.8em;
}

.more-link.open:after {
  content: "\2191";
}

.entry-content.expanded {
  overflow-y: scroll;
}

.entry-content {
  overflow: hidden;
  line-height: 1;
}
.entry-content p {
  font-size: 0.76em;
  word-break: break-all;
}
.entry-content.intro {
  overflow-y: scroll;
  max-height: 350px;
}
.container-cards.card_normal::after {
  content: "";
  position: absolute;
  top: -1.3em;
  left: -1em;
  width: 50px;
  background-image: url(./images/icon_50.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
}

.container-cards.card_normal .more-link {
  float: left;
}
.container-cards.card_normal .entry-title {
  text-align: end;
}
.container-cards.card_reverse .more-link {
  float: right;
}
.container-cards.card_reverse::after {
  content: "";
  position: absolute;
  top: -1em;
  right: -1em;
  width: 50px;
  background-image: url(./images/icon_5.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
}

/*TODO:CARDS**END cards CARDS****/

/*TODO:start TABLE **************************/

.table_section7 {
  grid-column: 1 / span 5;
  grid-row: 8;

  width: 90%;
  position: relative;
  left: 1em;
  z-index: 50;
}
.inner_section_7 table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.inner_section_7 table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

.inner_section_7 table tr {
  background-color: #f8f8f8e6;
  border: 1px solid #ddd;
  padding: 0 0.35em;
}

.inner_section_7 table th,
.inner_section_7 table td {
  padding: 0.625em;
  text-align: center;
}

.inner_section_7 table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.td-label {
  text-align: start;
}
@media screen and (max-width: 600px) {
  .inner_section_7 table {
    border: 0;
  }

  .inner_section_7 table caption {
    font-size: 1.3em;
  }

  .inner_section_7 table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .td-label {
    font-size: 0.7em;
    text-align: start !important;
  }
  .inner_section_7 table tr {
    border: none;
    display: block;
  }

  .inner_section_7 table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  .inner_section_7 table td::before {
    content: attr(data-label);
    float: left;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
  }

  .inner_section_7table td:last-child {
    border-bottom: 0;
  }
}

/*TODO:end TABLE **************************/

/*button*/
.bg-pulse {
  position: absolute;
  /* width: 50px;
  height: 50px; */
  border-radius: 100%;
}
.bg-pulse {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5em;
  width: 3.2em;
}

.bg-pulse {
  animation: pulse 0.9s ease infinite;
  background: var(--pulse-btn);
}
.button-pulse {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 99;
  border: none;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 100%;
  color: #fff;
  font-size: 1.8em;
  opacity: 0.9;
  background: transparent;
}
.button-pulse a {
  position: absolute;
  color: #fff;
  font-size: 17px;
}
.button-pulse::before {
  content: "\26BD";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4.3vh;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.button-pulse::after {
  width: fit-content;
  height: 50px;
  content: "Apasă aici \279C";
  position: absolute;
  left: -6.5em;
  display: flex;
  align-items: center;
  top: 0;
  font-size: 0.5em;
  -webkit-animation: bounceRight 2s infinite;
  animation: bounceRight 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
    opacity: 0.1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.6;
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}
@keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  60% {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
}

/****************************************************/

/* assign bounce */

.Quick-navigation {
  /* padding: 0 0 0 95px; */
  position: fixed;
  right: -100px;
  z-index: 2500;
  top: 13%;
  display: block;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.Quick-navigation:hover {
  right: -35px;
}

.Quick-navigation ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.Quick-navigation ul.pagination li {
  border-left: 1px solid #6b6b6b;
  border-top: 1px solid #6b6b6b;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  white-space: nowrap;
  font-size: 0.5em;
  line-height: 0.3em;
  overflow: hidden;
  clear: both;
  background-color: rgba(234, 234, 234, 0.786);
  color: rgb(0, 0, 0);
  margin: 0;
  -webkit-border-radius: 6px 0 0 6px;
  border-radius: 5px 0 0 5px;
}

.Quick-navigation ul.pagination li em {
  border-right: 1px solid var(--background-nav-gradient);
  padding: 1.3vh;
  text-decoration: none;
  font-style: normal;
  overflow: hidden;
  color: #000000;
  display: block;
  width: 28px;
  float: left;
}

.Quick-navigation ul.pagination li > a {
  padding: 1.3vh;
  text-decoration: none;
  font-weight: bold;
  display: block;
  width: 100px;
  float: left;
  color: rgb(6, 6, 6);
}

.Quick-navigation ul.pagination li a {
  /* -webkit-transition: 0.5s;
  transition: 0.5s; */
}

.Quick-navigation ul.pagination li.active a,
.Quick-navigation ul.pagination li:hover a,
.Quick-navigation ul.pagination li.active em {
  color: rgb(22, 247, 191);
}

.Quick-navigation ul.pagination li:first-child em,
.Quick-navigation ul.pagination li:last-child em {
  white-space: nowrap;
  /* text-indent: 200%; */
  overflow: hidden;
}

.Quick-navigation ul.pagination li:first-child em {
  background: #08d7d1;
}

.Quick-navigation ul.pagination li:last-child em {
  background: #e0d20d;
}

@media screen and (min-width: 500px) {


  
  .panel {
    /* background: var(--panelBg-D); */
    z-index: 1;
  }
  body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://go.netbet.ro/lp-asset/netbetro/sport/sport2022/bg-desktop.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
  }
  .header-content-text {
    width: fit-content;
  }

  .gallery0 {
    width: fit-content;
  }

  .logo-top img {
    width: 60%;
  }
  .header-content-text {
    font-size: 4vh;
  }
  .inner.grid-template {
    overflow: hidden;
  }
  .grid-template {
    display: grid;
    grid-template-columns: repeat(10, minmax(5vw, 1fr));
    grid-template-rows: repeat(10, minmax(7vh, 1fr));
    place-content: flex-start;
    padding: 0.5em 0.6em;
    height: 100%;
    border: 2px solid white;
    background: rgb(230, 46, 86);
  }
  .container-cards {
    width: 80%;
    max-width: 50vh;
    min-width: 28vh;
  }

  .home .gallery0 img {
    height: 60vh;
    top: 5vh;
    left: 6vw;
  }
  .logo-top {
    grid-column: 1 / span 10;
    grid-row: 1;
  }
  .place-bottom {
    grid-row: 9 / span 2;
    grid-column: 1 /span 10;
    z-index: 30;
    color: white;
    place-self: center;
  }
  .carousel {
    grid-column: 1 / span 10;
    grid-row: 8 / span 3;
}
  .place-bottom img {
    height: 100% !important;
  }
  .left-grid-template {
    grid-column: 1 / 6;
    grid-row: 1 / 9;
    z-index: 0;
  }
  .section_2_container #constent {
    grid-row: 5;
    grid-column: 5 / span 3;
    left: unset;
}
  .section_2_container .gallery0 {
    grid-column: 8;
    grid-row: 2 / span 7;
  }
  .section_2_container .gallery0 img {
    height: 78vh;
    top: 0;
    left: 0;
    position: relative;
  }

  .inner_section_3 .gallery-wrapper .gallery0 img {
    width: 100%;
  }
  .inner_section_3 .gallery-wrapper {
    position: initial;
  }
  .inner_section_3 .gallery-wrapper {
    grid-column: 2 / span 2;
    grid-row: 2 / span 4;
  }
  .inner_section_3 .gallery2 {
    grid-column: 1 / span 4;
    grid-row: 5;
  }
  .inner_section_4 .content-place-items {
    grid-column: 6 / span 5;
  }
  .inner_section_5 .gallery-wrapper {
    grid-column: 4 / span 7;
    /* position: relative; */
    grid-row: 2 / span 4;
}
  .inner_section_5 #constent {
    grid-column: 3 / span 2;
    grid-row: 3;
    left: unset;
    justify-content: space-evenly;
    height: 50%;
}
.inner_section_5 .place-bottom {
  top: unset;
}
.inner_section_6 .gallery-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  top: unset;
  left: unset;
  background: #b31b4791;
  grid-column: 7 / span 3;
  border-radius: 26px;
  grid-row: 3 / span 7;
}
.inner_section_6 .gallery0 img {
  width: 60vh;
  position: absolute;
  top: -43px;
  left: unset;
}


 
.inner_section_6 .gallery-wrapper .gallery2 img {
  width: 20vh;
}
.inner_section_6 .gallery-wrapper .gallery1 img {
  width: 30vh;
}

.inner_section_6 .place-bottom {
  width: 100%;
  height: 100%;
  grid-row: 3 / span 5;
  grid-column: 2 / span 4;
  margin-left: 9vh;
  max-height: 100%;
}

.inner_section_6 #constent {
  grid-row: 5;
  grid-column: 8 / span 3;
  left: -6em;
}

.table_section7 {
  width: 100%;
  grid-column: 2 / span 5;
  grid-row: 7;
}
.inner_section_7 table {
  width: 75vh;
}

}



@media screen and (min-width: 991px) {
  .inner_section_4 .chartJs-section4 {
    grid-column: 2 / span 4;
    grid-row: 3 / span 6;
    width: 100%;
    max-width: 60vh;
    max-height: 48vh;
  }
  .inner_section_4 #constent {
    grid-row: 3;
    grid-column: 7 / span 4;
    position: unset;
  }
  .inner_section_5 #constent {
    grid-column: 2 / span 2;
    grid-row: 3;
    left: unset;
    justify-content: space-evenly;
    height: 50%;
}
}

@media screen and (min-width: 1200px) {
  .grid-template {
    max-width: 1200px;
  }
}
/*********************END NAV LINKS LEFT*****************************/
