.container-table {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  position: relative;
}
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.sorting {
  text-align: start;
  padding-bottom: 0.5em;
}

.sorting:nth-child(3),
.sorting:nth-child(1) {
  text-align: center;
}

#streamersTable_wrapper {
  padding: 13px;
  /* background: var(--header_color); */
  height: 100%;
}

.parent-avatar {
  margin: 7px 0;
}

.parent-table {
  cursor: pointer;
}

.t-table {
  background: var(--button_color);
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 6%;
}

.ps {
  text-align: center;
  padding-right: 10px;
}

@media screen and (max-width: 768px) {
  .container-table {
    flex-direction: column;
    gap: 20px;
  }
}

.table-responsive {
  width: 48%;
  max-width: 100%;
  /* overflow: hidden; */
  border-radius: 10px;
  padding: 20px;
  min-height: 560px;
  position: relative;
}

/* test */

.blob1 {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mask: var(--mask-reverse2);
  z-index: -1;
  border-radius: 19px;
  height: 100%;
  background: rgb(3 8 28 / 78%);
  box-shadow: -10px 10px 30px #ffffff5c;
}

.blob2 {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mask: var(--mask-reverse2);
  z-index: -1;
  border-radius: 19px;
  height: 100%;
  background: rgb(3 8 28 / 78%);
  border: 1px solid #a7c1ff;
}

@media (orientation: portrait) {
  .table-responsive {
    width: 100%;
    max-width: 100%;
  }
}

#usersTable tbody .parent-table {
  height: 55px;
}

.parent-table:hover {
  background: white;
  color: black;
  transition: all 0.3s ease;
}

.table-responsive::after {
  /* background: radial-gradient(circle 80px at 80% -50%, #777777, #18182e); */
}
.dataTables_wrapper {
  background: #00000014;
}
.table-responsive::before {
  content: "";
  position: absolute;
  width: 45%;
  height: 45%;
  border-radius: 12px;
  top: 0;
  right: 0;
  box-shadow: 10px -10px 24px #ffffff38;
  z-index: -1;
}

div.dataTables_wrapper div.dataTables_paginate {
  position: absolute;
  bottom: -6%;
  left: 0;
  background: var(--header_color);
}

.table-responsive:nth-child(2) .dataTables_wrapper div.dataTables_paginate {
  right: 0;
  left: unset;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  color: var(--color-white);
  background: var(--button_color);
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 2em;
  padding: 0.2rem 0.5rem;
  margin-left: 2px;
  text-align: center;
  cursor: pointer;
  color: inherit !important;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 8px 15px;
}

.avatar-table {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 4;
  overflow: hidden;
}

.avatar-table img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.avatar-table::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #8dbcf1;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0.4;
}

.parent-avatar {
  gap: 10px;
}
