*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: wheat;
  color: white;
  font-family: "DM Mono", monospace;
}
.info  {
    font-size: 1.6em;
}

.swiper .swiper-slide:not(.swiper-slide-active) {
  /* transform: translate3d(0px, 0px, -200px) rotateX(0deg) rotateY(0deg) scale(1) !important; */
 padding: 2em 0 0;
 transition: all 0.5s ease;
  /* opacity: 0.7; */
}


.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
}


.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  /* transform: skew(8deg, 5deg); */
}
.swiper .swiper-slide {
  position: relative;
  width: 15%;
  height: 20em;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  filter: grayscale(80%);
  transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
  border-radius: 15px;
  background: linear-gradient(to right, #c31432, #240b36);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width:480px) {
  .swiper .swiper-slide {
    width: 10em;
    height: 20em;
  }
  
}
.swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.swiper .swiper-slide .info {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 10;
  padding: 20px;
  box-shadow: inset 0 -120px 120px -120px black,
    inset 0 -120px 120px -120px black;
}
/* .swiper .swiper-slide .info h4 {
  margin: 0;
  padding-bottom: 10px;
} */
.swiper .swiper-slide-active {
  filter: none;
}
/* .swiper .swiper-pagination-bullet-active {
  background-color: #c31432 !important;
}
.swiper .swiper-pagination-bullet {
  background-color: grey;
} */
/* .swiper .swiper-button-prev,
.swiper .swiper-button-next {
  top: 50%;
  width: 40px;
  height: 40px;
  background: white;
  border: 3px solid #240b36;
  border-radius: 50%;
  color: #c31432;
  font-weight: 700;
  outline: 0;
  transition: background-color 0.2s ease, color 0.2s ease;
} */
/* .swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  font-size: 18px;
}
.swiper .swiper-button-prev:after {
  position: relative;
  left: -1px;
} */
.swiper .swiper-button-next:after {
  position: relative;
  left: 1px;
}
.swiper .swiper-button-prev,
.swiper .swiper-container-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}
.swiper .swiper-button-next,
.swiper .swiper-container-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}
.swiper .swiper-button-prev.swiper-button-disabled,
.swiper .swiper-button-next.swiper-button-disabled {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}

.swiper-slide.swiper-slide-visible.swiper-slide-active {
    margin-right: 0 !important;
}




