*, *::after, *::before {

margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    background-color: #333;
    color: white;
}


.hidden-content {
    display: none;
}

.hidden-content.reveal-btn {
    display: block;
}