*,
*::after,
*::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans:wght@300&display=swap");

.js-scroll {
  color: black;
}

.wrapper {
  overflow: hidden;
}

/*General styling for structure*/
body {
  background-color: #333;
  color: white;
  font-family: "Play", sans-serif;
}

@media screen and (min-width: 300px) {
  body {
    font-size: 50%;
  }
}

@media screen and (min-width: 478px) {
  body {
    font-size: 70%;
  }
}
@media screen and (min-width: 991px) {
  body {
    font-size: 100%;
  }
}

/* .container {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
} */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Play", sans-serif;
  height: 100vh;
}

header h1 {
  font-size: 10vmin;
}

header h2 {
  font-weight: 400;
}
header > div {
  font-size: 3vmin;
  margin-top: 0.1em;
}
header > div:nth-child(2) {
  font-size: 2.5vmin;
  margin-top: 1em;
}
.chartMenu {
  width: 100vw;
  height: 40px;
  background: #1a1a1a;
  color: rgba(255, 26, 104, 1);
}
.chartMenu p {
  padding: 10px;
  font-size: 20px;
}
.chartCard {
  width: 100vw;
  height: calc(100vh - 40px);
  background: rgba(255, 26, 104, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.chartBox {
  width: 700px;
  padding: 20px;
  border-radius: 20px;
  border: solid 3px rgba(255, 26, 104, 1);
  background: white;
}

.section_c {
  background-image: url(./pngs/page3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background: transparent;
}

.scroll-container {
  height: 100vh;
  min-height: 450px;
  padding: 2rem 1rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4,10vh);
  grid-template-rows: repeat(7,14em);
  background: red !important;
  box-sizing: border-box;
}

.scroll-container:nth-of-type(1) {
  background-color: black;
}
.scroll-container:nth-of-type(2) {
  background-color: brown;
}
.scroll-container:nth-of-type(3) {
  background-color: #9ab7d3;
}
.scroll-container:nth-of-type(4) {
  background-color: pink;
}
.scroll-container:nth-of-type(5) {
  background-color: cyan;
}
.scroll-container:nth-of-type(6) {
  background-color: crimson;
}
.scroll-container:nth-of-type(even) {
  flex-direction: row-reverse;
}

.scroll-element,
.scroll-caption {
  width: 50%;
}

.scroll-element {
  min-height: 300px;
  height: 100%;
  background-color: #a13f3f3b;
}

.scroll-caption {
  margin: 1rem;
}

footer {
  text-align: center;
  padding: 0.5rem 0;
  background-color: #faddad;
  height: 240px !important;
}

footer p {
  font-size: 0.75rem;
  margin: 0.25rem 0;
  color: #221133;
}

footer a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 650px) {
  .scroll-container,
  .scroll-container:nth-of-type(even) {
    flex-direction: column;
    align-content: inherit;
  }

  .scroll-element {
    height: 100%;
  }

  .scroll-element,
  .scroll-caption {
    width: 100%;
  }
}

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fixed-content {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.content {
  width: 640px;
  margin: 50px auto;
}

.device-frame {
  position: relative;
  float: left;
}
.device {
  width: 17em;
  position: relative;
}

.device-slide1 {
  background: white;
  width: 121px;
  height: 207px;
  border: 7px dashed grey;
  color: grey;
  font-size: 3em;
}

.device-slide {
  position: absolute;
  top: 26px;
  left: 7px;
  z-index: 15;
  text-align: center;
}

.section-bg,
.layer-object {
  position: absolute;
  z-index: 1;
}

.inner {
  position: relative;
  height: 100%;
}
.leash {
  top: 270px;
  left: -260px;
}
.newspaper {
  right: -210px;
  bottom: -460px;
}
.sunglasses {
  right: 140px;
  top: -100px;
}
.section-bg {
  z-index: 0;
}

.Quick-navigation {
  position: fixed;
  z-index: 221;
  margin: 0;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: burlywood;
  color: white;
}

.Quick-navigation-item {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
  font-size: 1.3em;
  transition: color 0.3s;
  padding: 0.5em;
  display: block;
}

.Quick-navigation-item:hover .Quick-navigation-item.current {
  color: #fff;
}

.Scroll-progress-indicator {
  will-change: opacity, transform;
  transition: all 0.5s;
  left: -10px;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  opacity: 0;
  padding: 2em;
  transform: translateX(200%) translateY(-50%);
  background-color: rgba(0, 0, 0, 0.1);
}

.Scroll-progress-indicator.visible {
  transform: translateX(-100%) translateY(-50%);
  opacity: 1;
}

/* #A {
  background-color: beige;
}

#B {
  background-color: lighten(crimson, 10%);
  height: 600px;
}

#C {
  background-color: lighten(crimson, 20%;);
}

#D {
  background-color: lighten(crimson, 30%);
  height: 200px;
}

#E {
  background-color: lighten(crimson, 40%);
} */

.Scroll-to-top {
  position: fixed;
  right: 20px;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
  padding: 0.5em;
  cursor: pointer;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.3s;
  outline: none;
  z-index: 222;
}

.Scroll-to-top.visible {
  opacity: 1;
  transform: translateY(0);
}

.Scroll-to-top:hover {
  color: rgba(255, 255, 255, 0.9);
}

.inner {
  position: relative;
  height: 100%;
}

.home {
  background: #4fd0ea;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #4fd0ea),
    color-stop(100%, #4bb7b9)
  );
  background: -webkit-linear-gradient(top, #4fd0ea 0%, #4bb7b9 100%);
  background: linear-gradient(to bottom, #4fd0ea 0%, #4bb7b9 100%);
  background-repeat: no-repeat;
}

.panel1 {
  /* background: #4bb7b9;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #4bb7b9),
    color-stop(100%, #6ab981)
  );
  background: -webkit-linear-gradient(top, #4bb7b9 0%, #6ab981 100%);
  background: linear-gradient(to bottom, #4bb7b9 0%, #6ab981 100%);
  background-repeat: no-repeat; */
}

.panel2 {
  background: #6ab981;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #6ab981),
    color-stop(100%, #aad292)
  );
  background: -webkit-linear-gradient(top, #6ab981 0%, #aad292 100%);
  background: linear-gradient(to bottom, #6ab981 0%, #aad292 100%);
  background-repeat: no-repeat;
}

.panel3 {
  background: #aad292;
}

.section-bg,
.layer-object {
  position: absolute;
  z-index: 1;
}

.coffee {
  right: 10%;
  top: 0;
}

.napkin {
  left: -150px;
  top: 375px;
}
.dohnut {
  top: 520px;
  right: -100px;
}
.section-bg {
  z-index: 0;
}

.content-text {
  position: relative;
  float: right;
  width: 370px;
}
.content {
  width: 640px;
  margin: 50px auto;
}
.slide.active {
  z-index: 10;
}
.slide {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  z-index: 0;
}

.slide .animatable {
  opacity: 0;
  -webkit-transform: translate(0, 30px);
  transform: translate(0, 30px);
  -webkit-transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
  transition: opacity 0.4s ease, transform 0.4s ease;
}
p {
  font-size: 2em;
  line-height: 1.4;
  margin-bottom: 10px;
}
a:link,
a:visited {
  color: white;
  text-decoration: none;
}

.arrow:before,
.arrow:after {
  content: "";
  position: absolute;
  right: 0;
  top: 4px;
  width: 2px;
  height: 12px;
  background: white;
}

.arrow:before {
  transform: rotate(45deg);
  top: 12px;
}
.arrow:after {
  transform: rotate(-45deg);
}

/****************************SECTION 5***********************************/

@media screen and (orientation: portrait) {
  .section_5 {
    background-image: url(./images/section5/bg-section5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
  }
  .section_5::before {
    content: "";
    position: absolute;
    right: -39px;
    top: -5px;
    width: 100%;
    height: 100%;
    background-image: url(./images/section5/palmier_5.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .section_5 h2 {
    font: bold 4.5em Sans-Serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    padding: 5px 10px;
    margin: 10px 0 0;
    line-height: 1;
    writing-mode: tb-rl;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    white-space: nowrap;
    display: block;
  }
  .section_5 h2 span:nth-child(1) {
    font-size: 2.6rem;
  }
  .scroll-element h1 {
    text-align: center;
  }

  .section_5 .quatarLogo {
    height: 7vh;
    position: relative;
    margin-top: -10px;
  }

  .card-box-section5.card-box {
    border: 1.5px solid white;
    background: rgba(29, 29, 35, 0.516);
    border-radius: 15px;
    width: 220px;
    height: 100px;
    color: white;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
  }
  .box-Section.box-section5 {
    position: absolute;
    top: 20vh;
    left: 118px;
    display: flex;
    flex-direction: column;
    gap: 161px;
  }
  .card-box .arrow-box {
    background: rgba(15, 15, 15, 0.478);
    font-size: 20px;
    width: 30%;
  }
  .card-box-text {
    display: block;
    margin: 4px;
  }
  .card-box-section5.card-box.card2 {
    flex-direction: row-reverse;
  }

  .card-box-section5.card-box::after,
  .card-box-section5.card-box::after {
    content: "";
    position: absolute;
    width: 127px;
    height: 128px;
    background-repeat: no-repeat;
    background-size: 7.5em;
    position: absolute;
  }

  .card-box-section5.card-box.card1::after {
    background-image: url(./images/section5/icon_50.png);
    top: -28px;
    right: -90px;
  }
  .card-box-section5.card-box.card2::after {
    background-image: url(./images/section5/icon_5.png);
    top: -25px;
    left: -27px;
  }
  .scroll-caption {
    z-index: 212;
  }
  .footer-section .stadion_picture {
    width: 100%;
    z-index: 20;
  }
}
/****************************END SECTION 5***********************************/









    /* Smartphones (portrait and landscape) ----------- */
    @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 480px) {
    /* Styles */
    }
    
    /* Smartphones (landscape) ----------- */
    @media only screen 
    and (min-width : 321px) {
    /* Styles */
    }
    
    /* Smartphones (portrait) ----------- */
    @media only screen 
    and (max-width : 320px) {
    /* Styles */
    }
    
    /* iPads (portrait and landscape) ----------- */
    @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) {
    /* Styles */
    }
    
    /* iPads (landscape) ----------- */
    @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : landscape) {
    /* Styles */
    }
    
    /* iPads (portrait) ----------- */
    @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : portrait) {
    /* Styles */
    }
    
    /* Desktops and laptops ----------- */
    @media only screen 
    and (min-width : 1224px) {
    /* Styles */
    }
    
    /* Large screens ----------- */
    @media only screen 
    and (min-width : 1824px) {
    /* Styles */
    }
    
    /* iPhone 4 ----------- */
    @media
    only screen and (-webkit-min-device-pixel-ratio : 1.5),
    only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
    }