*,
*::after,
*::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans:wght@300&display=swap");

:root {
  /*responsive*/
  --auto-grid-min-size: 53%;
  /*Logo-img*/
  --logo-header: url(./images/section5/Quatar-logo/png);
  /*responsive*/
  --scrollSectionsColumns: 25%;
  --scrollSectionsRows: 20%;
  /*Bg-img*/
  --bg-section-one: url(./images/section1/bg-section1.jpg);
  --bg-section-two: url(./images/section2/bg-section2.png);
  --bg-section-three: url(./images/section3/bg-section3.png);
  --bg-section-four: url(./images/section4/bg-section4.png);
  --bg-section-five: url(./images/section5/bg-section5.jpg);
  /*colors all*/
  --background-gradient: crimson;
  --light-bg: white;
  --light-primary: rgb(247, 249, 250);
  --dark-bg: black;
  --dark-primary: #15181c;
  --gray-text: rgb(153, 153, 153);
  /*colors all*/


  /**container box for text**/
  --width-container-box-text: 30em !important;
  /**end container box for text**/
}

html {
  font-family: "Play", sans-serif;
}

.wrapper {
  overflow: hidden;
}

.js-scroll {
  color: black;
}

body {
  background-color: #333;
  color: white;
}

@media screen and (min-width: 300px) {
  body {
    font-size: 50%;
  }
}

@media screen and (min-width: 478px) {
  body {
    font-size: 70%;
  }
}

@media screen and (min-width: 991px) {
  body {
    font-size: 100%;
  }
}

/* .container {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
} */

/* p {
  font-size: 0.9rem;
  line-height: 1;
} */

a:link,
a:visited {
  color: white;
  text-decoration: none;
}

.scroll-container {
  height: 100vh;
  min-height: 450px !important;
  padding: 1.2rem 1rem;
  display: grid;
  align-items: center;
  place-items: center;
  justify-content: center;
  /* --auto-grid-min-size: 16rem; */
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  /* grid-gap: 1rem; */
  /* grid-template-columns: repeat(4,10vh);
  grid-template-rows: repeat(7,14em); */

  box-sizing: border-box;
}

.scroll-container:nth-of-type(1) {
  background-color: black;
}

.scroll-container:nth-of-type(2) {
  background-color: brown;
}

.scroll-container:nth-of-type(3) {
  background-color: #9ab7d3;
}

.scroll-container:nth-of-type(4) {
  background-color: pink;
}

.scroll-container:nth-of-type(5) {
  background-color: cyan;
}

.scroll-container:nth-of-type(6) {
  background-color: crimson;
}

.scroll-container:nth-of-type(even) {
  flex-direction: row-reverse;
}

.scroll-element,
.scroll-caption {
  width: 50%;
}

.scroll-element {
  grid-column: 1;
  grid-row: 1;
  min-height: 300px;
  height: 100%;
  background-color: #d815153b !important;
}

.scroll-caption {
  margin: 1rem;
}


footer {
  text-align: center;
  padding: 0.5rem 0;
  background-color: #faddad;
  height: 240px !important;
}

footer p {
  font-size: 0.75rem;
  margin: 0.25rem 0;
  color: #221133;
}

footer a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 650px) {
  .scroll-container,
  .scroll-container:nth-of-type(even) {
    flex-direction: column;
    align-content: inherit;
  }

  .scroll-element {
    height: 100%;
  }

  .scroll-element,
  .scroll-caption {
    width: 100%;
  }
}

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
/* 
.fixed-content {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.content {
  width: 640px;
  margin: 50px auto;
} */

/* .Quick-navigation {
  position: fixed;
  z-index: 221;
  margin: 0;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: burlywood;
  color: white;
}

.Quick-navigation-item {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
  font-size: 1.3em;
  transition: color 0.3s;
  padding: 0.5em;
  display: block;
}

.Quick-navigation-item:hover .Quick-navigation-item.current {
  color: #fff;
} */

.Scroll-progress-indicator {
  will-change: opacity, transform;
  transition: all 0.5s;
  left: -10px;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  opacity: 0;
  padding: 2em;
  transform: translateX(200%) translateY(-50%);
  background-color: rgba(0, 0, 0, 0.1);
}

.Scroll-progress-indicator.visible {
  transform: translateX(-10%) translateY(-50%);
  opacity: 1;
}

.Scroll-to-top {
  position: fixed;
  right: 20px;
  bottom: 0;
  background-color: rgba(216, 14, 14, 0.2);
  border: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
  padding: 0.5em;
  cursor: pointer;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.3s;
  outline: none;
  z-index: 222;
}

.Scroll-to-top.visible {
  opacity: 1;
  transform: translateY(0);
}

.Scroll-to-top:hover {
  color: rgba(255, 255, 255, 0.9);
}



/***************************** //TODO: section 1- HEADER - HOME- SECTION 1 ***********************************/
.section_1 {
  background-image: var(--bg-sectsion-one);
}

.section_1 {
  display: block;
}
.top-section_1 img {
  width: 65%;
  margin-left: 8vh;
  margin-top: 2vh;
}
.info-section1{
  display: block;
}
.line1, .line3{
  font-size: 3em;
}
.scroll-container:nth-of-type(2)
.h1-section1 {
  font-size: 5.2em !important;
  letter-spacing: 0;
}




/*****************************END  HEADER - HOME 1 ***********************************/

/**************************** //TODO:SECTION 2***********************************/
.section_2 {
  background-image: var(--bg-section-two);
}
/**************************** //TODO:SECTION 3***********************************/
.section_3 {
  background-image: var(--bg-section-three);
}

/**************************** //TODO:SECTION 4***********************************/
.section_4 {
  background-image: var(--bg-section-four);
}

/**************************** //TODO:SECTION 5***********************************/

.section_5 {
  background-image: var(--bg-section-five);
}

.firstItem {
  grid-column: 1 / span 4;
  grid-row: 1;
}

.secondItem {
  grid-column: 1;
  grid-row: 5 / span 3;
}

.thirdItem {
  grid-column: 2;
  grid-row: 5 / span 1;
}
.fourItem {
  grid-column: 2;
  grid-row: 3 / span 3;
}


@media screen and (orientation: portrait) {
  .section_5 {
    background-image: url(./images/section5/bg-section5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  }

  /* .section_5::before {
   content: "";
    position: absolute;
    right: -39px;
    top: -5px;
    width: 100%;
    height: 100%; 
    background-image: url(./images/section5/palmier_5.png);
    background-size: 80%; 
    background-repeat: no-repeat;
    background-position: center;
  } */



  /* .section_5 .secondItem {
    font: bold 4.5em Sans-Serif;
    text-transform: uppercase;
    color: #fff;
    padding: 5px 10px;
    margin: 10px -20px 0px;
    line-height: 0.85;
    writing-mode: tb-rl;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    white-space: nowrap;
    display: block;
  } */

  .section_5 .secondItem span:nth-child(1) {
    font-size: 3rem;
    letter-spacing: 0.05em;
  }
  .section_5 .secondItem span:nth-child(3) {
    font-size: 2.44rem;
    letter-spacing: -1.5px;
  }

  .scroll-element h1 {
    text-align: center;
  }

  .quatarLogo {
    height: 7vh;
    position: relative;
    margin-top: -10px;
  }

  .card-box-section5.card-box {
    border: 1.5px solid white;
    background: rgba(29, 29, 35, 0.516);
    border-radius: 15px;
    width: 220px;
    height: 100px;
    color: white;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
  }

 
  .card-box-section5.card-box::after,
  .card-box-section5.card-box::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: scale(0.46);
  }

  .card-box-section5.card-box.card1::after {
    content: "";
    background-image: url(./images/section5/icon_50.png);
    top: -45px;
    right: -100px;
  }

  .card-box-section5.card-box.card2::after {
    background-image: url(./images/section5/icon_5.png);
    top: -45px;
    left: -102px;
  }

  .scroll-caption {
    z-index: 212;
  }

  .footer-section .stadion_picture {
    width: 100%;
    height: 100%;
    z-index: 20;
  }
}

/****************************END SECTION 5***********************************/
/******************* //TODO:General *****************************/

.scroll-element {
  display: grid;
  grid-template-columns: repeat(4, minmax(10vw, 1fr));
  grid-template-rows: repeat(7, 70px);
}

.all-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.vertical-title {
  font: bold 4.5em Sans-Serif;
  text-transform: uppercase;
  color: #fff;
  padding: 5px 10px;
  margin: 10px -20px 0px;
  line-height: 0.85;
  writing-mode: tb-rl;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  white-space: nowrap;
  display: block;
}









.section_1,
.section_2,
.section_3,
.section_4,
.section_5,
.section_6 {
  background-size: cover;
  background-repeat: no-repeat;
}
/*******************END General *****************************/


/*********************NAV LINKS LEFT*****************************/

.Quick-navigation {
  padding: 0 0 0 95px;
  position: fixed;
  right: -95px;
  z-index: 200;
  top: 35%;
  display: block;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transform: translate3d(0, 0, 0);
}

.Quick-navigation:hover {
  right: 0px;
}

.Quick-navigation ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.Quick-navigation ul.primaryNav li {
  border-bottom: 1px solid #181818;
  border-left: 1px solid #181818;
  border-top: 1px solid #181818;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  white-space: nowrap;
  font-size: 0.625em;
  line-height: 1em;
  overflow: hidden;
  clear: both;
  background-color: rgba(32, 3, 124, 0.786);
  color: #fff;
  margin: 0;
  -webkit-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
}

.Quick-navigation ul.primaryNav li em {
  border-right: 2px solid var(--background-gradient);
  padding: 10px 8px 10px 12px;
  text-decoration: none;
  font-style: normal;
  overflow: hidden;
  color: #e5e5e5;
  display: block;
  width: 40px;
  float: left;
}

.Quick-navigation ul.primaryNav li > a {
  border-left: 2px solid #2a2a2a;
  padding: 10px 25px 10px 10px;
  text-decoration: none;
  font-weight: bold;
  display: block;
  width: 100px;
  float: left;
  color: #fff;
}

.Quick-navigation ul.primaryNav li a {
  /* -webkit-transition: 0.5s;
  transition: 0.5s; */
}

.Quick-navigation ul.primaryNav li.active a,
.Quick-navigation ul.primaryNav li:hover a,
.Quick-navigation ul.primaryNav li.active em {
  color: rgb(22, 247, 191);
}

.Quick-navigation ul.primaryNav li:first-child em,
.Quick-navigation ul.primaryNav li:last-child em {
  white-space: nowrap;
  /* text-indent: 200%; */
  overflow: hidden;
}

.Quick-navigation ul.primaryNav li:first-child em {
  background: #021b42;
}

.Quick-navigation ul.primaryNav li:last-child em {
  background: #391dd7;
}

/*********************END NAV LINKS LEFT*****************************/

/* Smartphones (portrait and landscape) ----------- */
@media screen and (orientation: portrait) {
  .Scroll-progress-indicator {
    left: 40px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .Quick-navigation {
    padding: 0px 0px 0px 15px;
    /* margin: -320px 0px 0px; */
    position: fixed;
    right: -118px;
    z-index: 2000;
    top: 10%;
    display: block;
    /* transition: all 0.5s ease;
    transform: translate3d(0px, 25px, 0px); */
  }

  .Quick-navigation:hover {
    right: -30px;
  }

  .Scroll-progress-indicator {
    left: 40px;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
