*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.d-flex-center,
.d-flex-around,
.d-flex {
  display: flex;
}
.d-flex-center {
  align-items: center;
  justify-content: center;
}

.d-flex-around {
  align-items: center;
  justify-content: space-around;
}
.d-flex-between {
  align-items: center;
  justify-content: space-between;
}
.d-flex-evenly {
  align-items: center;
  justify-content: space-evenly;
}
.d-flex-column {
  display: flex;
  flex-direction: column;
}
.d-flex-row {
  display: flex;
  flex-direction: row;
}
.d-flex-row-reverse {
  flex-direction: row-reverse;
}

._parent_social {
  /* height: 100%;
  width: 100%; */
  gap: 10px;
  position: relative;
  background-color: white;
  overflow: hidden;
  /* background: grey; */
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

._child_title {
  font-size: 3.6em;
  font-family: product-sans;
  font-weight: 700;
  /* transform: translateX(210px); */
  /* animation: title_left 1s 0.2s forwards ease; */
  opacity: 1;
}

/* @keyframes title_left {
    0% {
      transform: translateX(210px);
    }
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  } */

._child_icon {
  background-color: #ed7e14;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "SF-Heavy";
  font-size: 2.6em;
  color: black;
  margin-top: 0.2em;
  margin-left: 0.1em;
  font-weight: 800;
  width: 50px;
  height: 50px;
  z-index: 10;
}

._parrent_subtitle {
  font-family: "SF-Thin";
  font-style: oblique;
  letter-spacing: 0.6px;
  margin-top: -0.6em;
  font-size: 0.9em;
}

._social_motto {
  font-size: 13px;
  text-transform: inherit;
  font-weight: 300;
  position: relative;
  bottom: -150px;
  text-align: center;
  color: #959595;
}

/* ._parent_social {
  animation: bg-animation 1s ease-in-out forwards;
} */

._parrent_subtitle {
  animation: fade_title 1.5s 2.8s ease forwards;
  opacity: 0;
  background-color: red !important;
}
@keyframes fade_title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    /* background-color: red; */
  }
}

._social_loading_bar_parent {
  animation: opacity-linkbar2 0.2s 2.4s ease-in-out forwards;
  opacity: 1;
  /* transform: translateY(-20px); */
}
@keyframes opacity-linkbar2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
._social_loading_bar {
  background: #bcbdbe;
  animation: opacity-linkbar 0.5s linear forwards;
  transform: translateX(0px);
  opacity: 0;
  width: 235px;
  height: 7px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
@keyframes opacity-linkbar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
._social_loading_bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 7px;
  background: #292c33;
  animation: loading-linkbar 2s 1s linear forwards;
  border-radius: 10px;
}
@keyframes loading-linkbar {
  0% {
    width: 0px;
  }
  100% {
    width: 350px;
  }
}

/* ._social_motto {
  animation: motto-social 0.5s 2.5s ease forwards;
  opacity: 0;
}
@keyframes motto-social {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
   */
.animation_parent {
  animation: parent_move 1s 2.5s ease forwards;
  transform: translateY(55px);
  overflow: inherit;
  position: relative;
}
@keyframes parent_move {
  0% {
    transform: translateY(55px);
  }
  100% {
    transform: translateY(0px);
  }
}
._parent_subtitle {
    font-family: "SF-Thin";
    font-style: oblique;
    letter-spacing: 0.6px;
    margin-top: -0.6em;
    font-size: 0.9em;
}
.btn-social-animation,
._parent_subtitle {
  opacity: 0;
  animation: fade_title 1.5s 2.8s ease forwards;
}
