<!DOCTYPE html>
<html lang="ro">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <!-- <link rel="stylesheet" type="text/css" href="./pages/header/header.css"> -->
    <link rel="stylesheet" href="./style.css" />

    <title>Luna Page</title>
  </head>

  <body>
    <div class="wrapper">
      <header id="header-container" class="header-container"></header>
      <div class="container">
        <div class="container-itemsPage">
          <div class="section4_middle_grid">
            <div
              class="overlays modal"
              id="finder_Container"
              style="z-index: 500"
            >
              <div class="content">
                <div id="finderBox">
                  <div id="finderBoxJs"></div>
                </div>
              </div>
            </div>
            <div class="overlays modal" id="aboutMe_Container">
              <div class="content">
                <div id="aboutmeBox">
                  <div class="container-contact">
                    <div class="contact-topnav" id="aboutmeBoxheader">
                      <div
                        class="contact-topnav-items finder-topnav-items header append_circles"
                      ></div>
                      <p>macOs Luna</p>
                    </div>

                    <div class="container-footer-contact">
                      <i class="fas fa-home"></i>
                      <div>wallet code{} <span>donate</span></div>
                      <div>Marian Iordache</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="overlays modal" id="myMacMaster">
              <div class="content">
                <div id="aboutmacBox"></div>
              </div>
            </div>
            <div class="overlays modal" id="TerminalMaster">
              <div class="content">
                <div id="terminalBox">
                  <div id="terminalBoxJs"></div>
                </div>
              </div>
            </div>
            <div class="overlays modal" id="chromePageMaster">
              <div class="content">
                <div id="chromePageBox">
                  <div id="chromePageBoxJs"></div>
                </div>
              </div>
            </div>
            <div class="overlays modal" id="adobeXDMaster">
              <div class="content">
                <div id="adobeXDBox">
                  <div id="adobeXDBoxJs"></div>
                </div>
              </div>
            </div>
            <div class="overlays modal" id="linkdinMaster" style="z-index: 500">
              <div class="content">
                <div id="linkdinBox">
                  <div id="linkdinBoxJs"></div>
                </div>
              </div>
            </div>
            <div
              class="overlays modal"
              id="unfinishMaster"
              style="z-index: 500"
            >
              <div class="content">
                <div id="unfinishBox">
                  <div id="unfinishBoxJs"></div>
                </div>
              </div>
            </div>
            <div class="overlays modal" id="githubMaster" style="z-index: 500">
              <div class="content">
                <div id="githubBox">
                  <div id="githubBoxJs"></div>
                </div>
              </div>
            </div>
            <div class="active-popup" id="overlasyP" style="z-index: -2"></div>
          </div>
        </div>
      </div>
      <div class="container-mobile" style="display: none">
        <div class="text-container-mobile">
          <h2>Attention:</h2>
          <div>
            this site cannot be run on devices smaller than 1024px, <br />
            <span>please use pc or laptop for better experience</span>
          </div>
          <div>
            recommended resolution <br />
            min:1440px - max:2560px
          </div>
        </div>
        <button
          class="like-mobile-button btn like__btn"
          id="like-mobile-button"
        >
          <span id="icon"><i class="far fa-thumbs-up"></i></span>
          <span id="count">0</span> Like
        </button>
        <br />
        <a href="https://www.crafties.ro" target="_blank"
          >run second choice <br />
          <button class="like-mobile-button crafties">
            www.crafties.ro
          </button></a
        >
      </div>
      <footer id="footer-container" class="footer-container"></footer>
    </div>

    <script>
      console.log("fetch Nav-and-Icons");
      fetch("./pages/header/header.html")
        .then((response) => {
          return response.text();
        })
        .then((data_include) => {
          document.querySelector("#header-container").innerHTML = data_include;
        });

      fetch("./pages/icons/icons.html")
        .then((response) => {
          return response.text();
        })
        .then((data_include) => {
          document.querySelector("#footer-container").innerHTML = data_include;
        });
    </script>

    <script async type="module" >
      import { openNavLink } from "./pages/settings.js";
      openNavLink();

    </script>

  </body>
</html>
