.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    background: rgb(55, 55, 55);
    overflow: hidden;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    height: 200px;
    transform-style: preserve-3d;
    perspective: 4600px;
}

@media (max-width: 768px) {
    .wrapper {
        height: 400px;
    }
}

.card {
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    width: 30vh;
    height: 40vh;
    border: 2px solid #12dfd4;
    color: white;
    background: crimson;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 0 20px 0 #00fff3;
}

.card h1 {
    font-size: 1.5em;
    margin-top: 2vh;
}

.card p {
    margin-top: 2vh;
}

.spin {
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translate(-50%, 0);
    width: 40%;
    opacity: 0.5;
}
#dragOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 10;
}

@media (max-width: 1280px) {
    .spin {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .spin {
        width: 100%;
    }
}

.notice {
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 1.3em;
    color: yellow;
    text-align: center;
    pointer-events: none;
}

@media (max-width: 480px) {
    .notice {
        bottom: 1vh;
        font-size: 0.8em;
    }
}
