/* @font-face {
  font-family: 'GT-Maru';
  src: url('fonts/GT-Maru-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'GT-Maru';
  src: url('fonts/GT-Maru-Bold.woff2') format('woff2');
  font-weight: bold;
} */

:root {
  --orange: #f89e4f;
  --purple: #a15bb3;
  --red: #f16164;
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  /* font-family: 'GT-Maru', sans-serif; */
}

.hidden {
  visibility: hidden;
}
body{
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  overflow: hidden;

}
body::after {
  content:"";
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./img/bg-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.container-input {
  display: none;
}

main {
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  color: white;
}

button {
  all: unset;
  height: 40px;
  padding: 0 25px;
  color: white;
  background-color: var(--purple);
  border-radius: 2rem;
  cursor: pointer;
  user-select: none;
}

button:hover {
  opacity: 0.8;
}

p {
  font-size: 1.8rem;
  margin: 1rem 0;
}

#doors {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
#controls,#stats {
  display: none !important;
}

.door-container {
  /* width: 8rem; */
  /* height: 12rem; */
  width: 270px;
  /* background: red !important; */
  height: 400px;
  position: relative;
  clip-path: polygon(91% 1%, 87% 8%, 87% 100%, 14% 100%, 14% 10%, 11% 5%, 10% 1%);
  /* background-color: red !important; */
  /* -webkit-mask-image: url(./img/test2.png);
  mask-image: url(./img/test2.png); */
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-size: cover;
}
.revealedNone {
  display: none;
}

/* .door-container:nth-child(1) {
  background-image: url(./img/door_left.png);
}
.door-container:nth-child(2){
  background-image: url(./img/door_center.png);
}
.door-container:nth-child(3){
  background-image: url(./img/door_right.png);
} */
.door-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size:60%;
  background-position:center bottom;
  z-index: 0;
  background-image: url(./img/door_open2.png);
}

/* .door-container:nth-child(1)::after {
  background-image: url(./img/door_open.png);
}

.door-container:nth-child(2)::after {
  background-image: url(./img/door_open.png);

}
.door-container:nth-child(3)::after {
  background-image: url(./img/door_open.png);

} */

.door-container:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}
.door-container:nth-child(1)::before {
  background-image: url(./img/door_left.png);
  
  /* transform: skew(-50deg) rotateX(70deg); */
  /* left: -15px; */
}
.door-container:nth-child(2)::before {
  background-image: url(./img/door_center.png);
  clip-path: polygon(91% 1%, 87% 8%, 87% 100%, 14% 100%, 14% 10%, 11% 5%, 10% 1%);

  /* left: 40px;
  transform: skewX(0deg);
  background-color: unset !important; */
}
.door-container:nth-child(3)::before {
  background-image: url(./img/door_right.png);
  /* left: 115px; */
}

.door-container:hover::after{
transition: 0.5s ease;
  background-position: -100% bottom;
}


.door {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  /* font-family: 'Goldman', cursive; */
  z-index: 42;
  font-size: 3rem;
  /* text-shadow: 0 0 0 transparent, 0 0 10px #0099ff, 0 0 20px rgba(0, 195, 255, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c, 0 0 1000px #ff003c; */
  /* -webkit-animation: blink 4s infinite alternate; */

  /* box-shadow: inset 0px 0px 22px 3px rgb(38 149 255 / 35%), 0px 0px 28px 5px rgb(38 149 255 / 45%); */
}
.door::before {
  
  /* content: "";
  position: absolute;
  bottom: 0;
  left: 30%;
  color: rgba(255, 255, 255, 0.623);
  width: fit-content;
  height: fit-content; */
  /* box-shadow: inset 0px 0px 22px 3px rgb(38 149 255 / 35%), 0px 0px 28px 5px rgb(38 149 255 / 45%); */

}

/* @keyframes buzz {
  70% {
    opacity: 0.80;
  }
} */



.light_door {
  position: absolute;
  top: 0;
  left: 3%;
  width: 285px;
  height: 100%;
  z-index: 10;
  animation: blink 3s infinite alternate linear;
}
.light_door::after {
  content: 'MI';
  position: absolute;
  border-radius: 1em;
  color: #ddc883;
  /* background: radial-gradient(rgb(233, 191, 7) 30%, #f0bc12, #e0af0d) !important; */
  transform: perspective(1.2em) rotateX(30deg) translateY(100%);
  filter: blur(8px);
  z-index: 11;
  top: -1%;
  left: 35%;
  width: 20%;
  height: 5%;
  background: rgba(255, 255, 255, 0.9) !important;
  font-size: 3rem;
    /* animation: change-op 10s infinite linear !important; */
    /* animation: flicker 2s cubic-bezier(0.645, 0.045, 0.355, 1) infinite 1s; */
}

.light_n_door0 { 
  left:-5%;
  animation-delay:1s;
}
.light_n_door1 { 
  animation-delay: 2s;
}

.light_n_door2{
left: 9%;
animation-delay:4s;
}



.bar_light {
  position: absolute;

  top: 15%;
  left: 18%;
  width: 5px;
  height: 240px;
  background-color: #ffebabd9 ;
  z-index: 20;
  /* border-radius: 10px; */
  transform: rotate(1deg);
  color: #d4eaff;
  animation: buzz 0.09s infinite alternate;
  /* -webkit-box-shadow: inset 0px 0px 18px 2px rgba(255,0,60,0.35), 0px 0px 18px 5px rgba(255,0,60,0.95);  */
  box-shadow: inset 0px 0px 23px 9px rgba(255, 178, 46, 0.14), 3px 0px 15px 2px rgba(255, 190, 49, 0.6);
}
@keyframes buzz {
  70% {
    opacity: 0.80;
  }
}
.bar_n_light1 {
  left: 16%;
}

.bar_n_light2 {
  right: 18%;
  left: unset !important;
}


@keyframes blink {

  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.2;
  }
  46% {
    opacity: 1;
  }

  
  
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
  z-index: 100;
}

/* .door::after {
	content: "";
	position: absolute;
	right: 0.5rem;
	top: 50%;
	transform: translateY(-50%);
	width: 1rem;
	height: 1rem;
	background-color: var(--red);
	border-radius: 50%;
} */

.door-container.revealed > .door {
  /* transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px)
    rotateY(-85deg); */
  cursor: default;
}

/* .door-container.picked > .door {
  border-width: 5px;
} */

.door-container.picked > .content::after {
  content: 'win';
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: 'fontisto'; */
  font-size: 1.4rem;
  position: absolute;
  left: 50%;
  top: 100%;
 
  padding: 0.4em;
  width: fit-content;
  height: fit-content;
  background: red;
  transform: translateX(-50%);
  /* color: crimson; */
}

.door-container.picked.won > .content::after {
  color: forestgreen;
}

.door-container.small {
  width: 4rem;
  height: 6rem;
}

.door-container.small > .door {
  font-size: 1.5rem;
}

.door-container.small > .content {
  font-size: 2rem;
}

#instruction {
  margin: 2rem 0;
  min-height: 120px;
  z-index: 10;
}

#instruction > p {
  font-weight: bold;
  text-align: center;
}

#instruction > .choices {
  text-align: center;
}

#instruction > .choices > button:last-child {
  margin-left: 1rem;
}

#stats {
  width: 90%;
  max-width: 32rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#stats p {
  font-size: 1.2rem;
  margin: 0.25rem 0;
}

#stats .bar {
  width: 0;
  height: 2rem;
  background-color: var(--purple);
  position: relative;
}

#stats .bar > .win-rate {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(120%, -50%);
}


/*animation*/
/*animation*/
/*animation*/

.door{
  position: relative;
}


@keyframes flicker {
  0% {
    opacity: 1;
 }
  3% {
    opacity: 1;
 }
  6% {
    opacity: 1;
 }
  10% {
    opacity: 1;
 }
  13% {
    opacity: 0.4;
 }
  16% {
    opacity: 0.2;
 }
  20% {
    opacity: 0.2;
 }
  23% {
    opacity: 0.3;
 }
  26% {
    opacity: 0.2;
 }
  30% {
    opacity: 0.2;
 }
  33% {
    opacity: 0.6;
 }
  36% {
    opacity: 0.2;
 }
  40% {
    opacity: 0.2;
 }
  43% {
    opacity: 0.2;
 }
  46% {
    opacity: 0.4;
 }
  50% {
    opacity: 0.2;
 }
  53% {
    opacity: 0.2;
 }
  56% {
    opacity: 0.5;
 }
  60% {
    opacity: 0.2;
 }
  63% {
    opacity: 0.2;
 }
  66% {
    opacity: 0.2;
 }
  70% {
    opacity: 0.7;
 }
  73% {
    opacity: 0.2;
 }
  76% {
    opacity: 0.2;
 }
  80% {
    opacity: 0.2;
 }
  83% {
    opacity: 0.2;
 }
  86% {
    opacity: 0.2;
 }
  90% {
    opacity: 0.2;
 }
  93% {
    opacity: 0.2;
 }
  96% {
    opacity: 0.2;
 }
  100% {
    opacity: 1;
 }
}




.sign {
  position: relative;
  background: none;
  color: #303030;
  font-size: 5rem;
  display: inline-block;
  /* font-family: 'Varela Round', sans-serif; */
}



#three {
  -webkit-animation: flicker-0 10s infinite linear;
  -moz-animation: flicker-0 10s infinite linear;
  animation: color-change 10s infinite forwards;
}


#three::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f84aa7;
  border-radius: 50%;
  filter: blur(2em);
  opacity: 0;

  animation: color-change 10s infinite linear;
  animation: change-op 10s infinite linear;
}



@keyframes change-op {

  0%,
  4%,
  6%,
  9%,
  11%,
  29%,
  41%,
  54%,
  56%,
  76%,
  78%,
  89%,
  91%,
  93%,
  95%,
  100% {
      opacity: 0;
  }


  5%,
  10%,
  30%,
  40%,
  55%,
  77%,
  90%,
  92%,
  94% {
      opacity: 1;

  }

}

@keyframes color-change {

  0%,
  4%,
  6%,
  9%,
  11%,
  29%,
  41%,
  54%,
  56%,
  76%,
  78%,
  89%,
  91%,
  93%,
  95%,
  100% {
      color: #303030;
      text-shadow: none;
  }



  5%,
  10%,
  30%,
  40%,
  55%,
  77%,
  90%,
  92%,
  94% {
      color: white;
      text-shadow: 0 0 0.125em rgba(248, 74, 167, 1);

  }

}




input {
  background: #FFF;
}
.container-input {
  width: 60%;
}
#form {
  width: 40wv;
  margin: 0 auto;
  margin-top:50px;
}
.input-box.active-grey .input-1 {
 border: 1px solid #dadce0;
}
.input-box.active-grey .input-label {
 color: #80868b;
 top: -8px;
 background: #fff;
 font-size: 11px;
 transition: 250ms;
}
.input-box.active-grey .input-label svg {
 position: relative;
 width: 11px;
 height: 11px;
 top: 2px;
 transition: 250ms;
}
.input-box {
 position: relative;
 margin: 10px 0;
}
/* .input-box .input-label {
 position: absolute;
 color: #80868b;
 font-size: 16px;
 font-weight: 400;
 max-width: calc(100% - (2 * 8px));
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
 left: 8px;
 top: 13px;
 padding: 0 8px;
 transition: 250ms;
 user-select: none;
 pointer-events: none;
} */
/* .input-box .input-label svg {
 position: relative;
 width: 15px;
 height: 15px;
 top: 2px;
 transition: 250ms;
} */
.input-box .input-1 {
 box-sizing: border-box;
 height: 50px;
 width: 100%;
 border-radius: 4px;
 color: #202124;
 border: 1px solid #dadce0;
 padding: 13px 15px;
 transition: 250ms;
}
.input-box .input-1:focus {
 outline: none;
 border: 2px solid #1a73e8;
 transition: 250ms;
}
.input-box.error .input-label {
 color: #f44336;
 top: -8px;
 background: #fff;
 font-size: 11px;
 transition: 250ms;
}
.input-box.error .input-1 {
 border: 2px solid #f44336;
}
.input-box.focus .input-label, .input-box.active .input-label {
 color: #1a73e8;
 top: -8px;
 background: #fff;
 font-size: 11px;
 transition: 250ms;
}
.input-box.focus .input-label svg, .input-box.active .input-label svg {
 position: relative;
 width: 11px;
 height: 11px;
 top: 2px;
 transition: 250ms;
}
.input-box.active .input-1 {
 border: 2px solid #1a73e8;
}
.btn {
 background: #fff;
 color: #333;
 cursor: pointer;
 border: none;
 white-space: normal;
 letter-spacing: 0.25px;
 font-weight: 400;
 font-size: 14px;
 padding: 8px 16px;
 border-radius: 4px;
 line-height: 20px;
 min-width: 88px;
 transition: 250ms;
}
.btn:hover {
 background: #ddd;
 transition: 250ms;
}
.btn:focus {
 outline: none;
}
.btn-primary {
 background: #1a73e8;
 color: #fff;
 transition: 250ms;
}
.btn-primary:hover {
 background: #287ae6;
 box-shadow: 0 1px 1px 0 rgba(66, 133, 244, 0.45), 0 1px 3px 1px rgba(66, 133, 244, 0.3);
 transition: 250ms;
}
.pull-right {
 float: right;
}
.clear {
 clear: both;
}



@media screen and (orientation:portrait) {
  body::after{
    background-image: url(./img/bg-mobile.png);
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;

  }

  #app {
    /* width: 400px; */
    max-width: 48em;
    /* background-color: red !important; */
  }
  .door-container {
    width: 14rem !important;
    height: 20rem !important;
  }
}
/*
#controls {
  position: fixed;
  top: 0;
  right: 0;
  padding: 2rem;
  text-align: right;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

#controls h3 {
  margin: 0;
  font-size: 1.4rem;
}

#controls > select {
  display: block;
  margin: 0.5rem 0;
}

#controls > #autorun {
}

#controls > #autorun::before {
  content: '\e9e4';
  display: inline-block;
  font-family: 'fontisto';
  margin-right: 0.5rem;
  width: 1rem;
}

#controls > #autorun.on::before {
  content: '\e9e2';
}

#coding-train {
  position: absolute;
  bottom: 0;
  left: 1rem;
  width: 24rem;
}
*/