@font-face {
  font-family: "CROWDEN";
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/CROWDEN-Regular.ttf") format("truetype");
}

:root {
  /* --orange: #f89e4f; */
  --button_color: #ff4c16;
  --modal-input: #333743;
  --modal-inputBg: #dbdbdb;

  --bg-white: #fff;
  --color-white: #fff;

  --border-input: #dadce0;
  --border-inputFocus: #1a73e8;
  --border-error: #ff4c16;
  /* --red: #f16164; */

  --h1-title: #ff4c16;

  --color-focusText: #1a73e8;

  --neon-text-color: rgb(234, 238, 20);
  --neon-border-color: #08f;

  --transition-mask: 0.5s ease-out;
  --transition-input: ease 250ms;

  --letter_door: azure;
  --letter_pause: azure;

  --bg-doorInside: url(./img/INSIDE_V8.png);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
}

/* .hidden {
visibility: hidden;
} */

body {
position: relative;
z-index: 2;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
overflow: hidden;
font-family: "Play", sans-serif;
user-select: none;
}

.letter-door {
  font-family: "CROWDEN" !important;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./img/bg-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  /* animation: f-universe 30s infinite alternate linear 0.5s; */
}

/* body::before {
content: "";
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-image: url(./img/bg-desktop.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: left;
z-index: -1;
} */

.wrapper-all {
  /* display: flex;
flex-direction: row-reverse; */
  width: 100%;
  max-width: 1200px;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  place-content: center;
  place-items: center;
  /* overflow: hidden; */
}

@keyframes f-universe {
  0% {
    transform: translateX(0px) scale(1) rotate(0deg);
  }
  100% {
    transform: translateX(-100px) scale(1.2) rotate(0deg);
  }
}

@keyframes f-universes {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
/* .container-input {
display: none;
} */

.app-main {
  width: 100%;
  /*  max-width: 1300px; */
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  color: white;
  z-index: 100;
}

#doors {
  display: flex;
  gap: 2em;
  position: relative;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease;
}

#doors.doorNon-Active {
  /* visibility: hidden; */
  opacity: 0.9;
}

.door-container {
  width: 27vh;
  position: relative;
  background-size: 61%;
  z-index: 10;
  cursor: pointer;
}

.door-container.revealed::before {
  transition: var(--transition-mask);
  background-position: -400% bottom;
  cursor: default;
}

.door-container.revealedNone {
  display: none;
}

.door-container.revealed {
  animation: hidden-door 0.4s 1s linear forwards;
}
.door-container.revealed.won,
.door-container.rev_open {
  animation: unset;
}
@keyframes hidden-door {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.door-container,
.door-container:before,
.door-container::after {
  height: 50vh;
  max-height: 50vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.door-container.open::before {
  transition: var(--transition-mask);
  background-position: 0% bottom;
}
.letter-door.open {
  transition: var(--transition-mask);
  left: -11%;
  top: -38%;
  font-size: 6.6vh;
  color: var(--letter_door);
}
.letter-door.pause {
  transition: var(--transition-mask);
  left: 1.5%;
  top: -19vh;
  font-size: 6.6vh;
  color: var(--letter_pause);
  /* text-shadow:
0 0 23px rgba(0, 252, 105, 0.7),
0 0 53px rgba(10, 226, 255, 0.7),
0 0 113px rgba(1, 247, 235, 0.7); */
}
.letter-door.pause.revealed {
  opacity: 0;
}
.letter-door.revealed {
  transition: var(--transition-mask);
  left: -20vh;
  top: -15vh;
  /* opacity: 0; */
  transition: left 0.5s ease;
}
.letter-door.revealed.rev_open {
  left: 1.5%;
  top: -18.6vh;
  opacity: 1;
}
.door-container.open.revealed.rev_open::before {
  transition: var(--transition-mask);
  background-position: center bottom;
}
.door-container.open.revealed::before {
  transition: var(--transition-mask);
  background-position: -100% center;
}

.door-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url(./img/door_open2.png);
  background-size: 75.5%;
  background-position: center bottom;
  z-index: 0;
  clip-path: polygon(
    8% 88%,
    9% 10%,
    3% 0%,
    100% 0%,
    97% 0%,
    97% 87%,
    97% 100%,
    100% 100%,
    77% 100%,
    38% 100%,
    6% 100%,
    6% 90%
  );
}

.door-container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-size: contain;
  z-index: 0;
}

.door-container:nth-child(1)::after {
  background-image: url(./img/door_left2.png);
}
.door-container:nth-child(2)::after {
  background-image: url(./img/door_center3.png);
}
.door-container:nth-child(3)::after {
  background-image: url(./img/door_right2.png);
}

.door {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  z-index: -2;
  font-size: 2rem;
  color: rgb(20, 89, 116);
  text-shadow: 0 0 0 transparent, 0 0 1px #0099ff,
    0 0 20px rgb(0 195 255 / 50%), 0 0 4px #c2e3d5, 0 0 4px #61ddab,
    0 0 10px #0bd2e07e, 0 0 3px #29d0d9a9, 0 0 4px #0082a7, 0 0 41px #12547e;
}

.door::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 76%;
  background-position: center bottom;
  z-index: -1;
  background-image: var(--bg-doorInside);
}

.door-container.picked {
  transform: scale(1.04);
  transition: var(--transition-input);
}

/* .door-container.picked.won > .content::after {
content: "win";
background: green;
z-index: 30;
width: 40px;
height: 40px;
position: absolute;
top: 50%;
transform: translate(50%, 50%);
left: 30%;
display: flex;
align-items: center;
justify-content: center;
color: white;
} */

.content {
  position: absolute;
  padding: 2em;
  top: 3.8vh;
  left: -0.35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 3.4vh;
  /* line-height: 0.8; */
  z-index: -1;
  color: rgb(8, 28, 83);
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 0 0 transparent, 0 0 1px #e1dcff,
    0 0 20px rgb(133 253 255 / 96%), 0 0 4px #e8fbff, 0 0 4px #ccf1ff,
    0 0 10px #5de7f0a3, 0 0 3px #5ee5eca9, 0 0 4px #79e3ff, 0 0 41px #d8e5ea;
}
.content-l1 {
  font-size: 1.5em;
  margin-bottom: -0.3em;
}
.content-l2 {
  font-size: 0.75em;
}
.content-l3 {
  margin-top: -0.3em;
  font-size: 0.52em;
}

.BonusCodeText .line-two .content-l1,
.BonusCodeText .line-two .content-l2,
.BonusCodeText .line-two .content-l3 {
  margin-right: 5px;
  margin-bottom: unset;
  font-size: unset;
  /* margin: unset; */
}

.content::after {
  position: absolute;
  content: "";
  width: 60%;
  height: 30%;
  /* background-color: red; */
  border-radius: 1em;
  left: 50%;
  top: 51%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background: rgba(255, 255, 255, 0.149);
  border-radius: 25px;
  filter: blur(2px);
  opacity: 0.9;
  backdrop-filter: blur(1px);
  box-shadow: rgb(0 0 0 / 20%) 0px 12px 46px, rgb(0 0 0 / 20%) 0px 12px 22px,
    inset rgb(255 255 255 / 10%) 0px -10px 20px -5px,
    inset rgb(255 255 255 / 50%) 0px -1px 1px -1px;
  /* text-shadow: 0 0 0 transparent, 0 0 1px #dcf1ff, 0 0 20px rgb(0 195 255 / 50%), 0 0 4px #c2e3d5, 0 0 4px #ddfff9, 0 0 10px #2fb6bf94, 0 0 3px #29d0d9a9, 0 0 4px #168cad, 0 0 41px #12617e; */
}

.shadow {
  width: 24vh;
  height: 60%;
  position: relative;
  display: flex;
  border-radius: 2px;
  z-index: -1;
  /* gap: 26px; */
  justify-content: flex-end;
  background-color: rgba(12, 12, 12, 0.493);
  background: #1b1b1b; /* Old browsers */
  background: linear-gradient(
    to bottom,
    #0000009d 0%,
    #1b1b1b6e 70%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: blur(5px);
  perspective: 1000px;
  perspective-origin: 3d;
  /* bottom: -20em; */
}
.shadow_n_0 {
  /* background-color: red; */
  transform: skewX(-45deg) translateX(-14vh) translateY(-1vh);
}

.shadow_n_1 {
  transform: skewX(-5deg) translateX(0px) translateY(-1vh);
  /* background-color: rgb(27, 150, 23); */
}
.shadow_n_2 {
  transform: skewX(45deg) translateX(17vh) translateY(-1vh);
  /* background-color: rgb(0, 20, 87); */
}

.letter-door {
  position: absolute;
  bottom: 18px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  z-index: 2;
  font-size: 3.7vh;
  color: rgb(20, 89, 116);
  /* text-shadow: 0 0 0 transparent, 0 0 1px #dcf1ff, 0 0 20px rgb(0 195 255 / 50%), 0 0 4px #c2e3d5, 0 0 4px #ddfff9, 0 0 10px #2fb6bf94, 0 0 3px #29d0d9a9, 0 0 4px #168cad, 0 0 41px #12617e; */
}
.letter-door.light {
  text-shadow: 0 0 0 transparent, 0 0 1px #dcf1ff,
    0 0 20px rgb(0 195 255 / 50%), 0 0 4px #c2e3d5, 0 0 4px #ddfff9,
    0 0 10px #2fb6bf94, 0 0 3px #29d0d9a9, 0 0 4px #168cad, 0 0 41px #12617e;
}

.light_door {
  position: absolute;
  top: 1%;
  left: 3%;
  width: 29vh;
  height: 45vh;
  z-index: 10;
  animation: blink 3s infinite alternate linear;
}

.light_door::after {
  content: "MM";
  position: absolute;
  /* border-radius: 1em; */
  color: #e8d5cba8;
  /* background: radial-gradient(rgb(233, 191, 7) 30%, #f0bc12, #e0af0d) !important; */
  transform: perspective(0.9em) rotateX(32deg) translateY(100%);
  filter: blur(7px);
  z-index: 11;
  top: -1%;
  left: 28%;
  width: 30%;
  height: 4%;
  background: rgba(255, 255, 255, 0.9) !important;
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

.light_n_door0 {
  left: -5%;
  animation-delay: 1s;
}

.light_n_door1 {
  animation-delay: 2s;
}

.light_n_door2 {
  left: 14%;
  animation-delay: 4s;
}

.bar_light {
  position: absolute;
  top: 15.5%;
  left: 9%;
  width: 5px;
  height: 74%;
  background-color: #ffffffd9;
  color: #d4eaff;
  z-index: 20;
  /* border-radius: 10px; */
  animation: buzz 0.09s infinite alternate;
  transform: rotate(0.2deg);
  /* -webkit-box-shadow: inset 0px 0px 18px 2px rgba(255,0,60,0.35), 0px 0px 18px 5px rgba(255,0,60,0.95);  */
  box-shadow: inset 0px 0px 19px 9px rgb(240, 240, 240),
    10px 0px 19px 5px rgba(245, 94, 24, 0.57);
}
@keyframes buzz {
  70% {
    opacity: 0.8;
  }
}
.bar_n_light1 {
  left: 7%;
}
.bar_n_light1::after {
  content: "";
  position: absolute;
  background-color: #ffffffd9;
  color: #d4eaff;
  left: 22.7vh;
  top: 0.2vh;
  width: 5px;
  height: 99%;
  z-index: 20;
  transform: rotate(-180deg);
  /* -webkit-box-shadow: inset 0px 0px 18px 2px rgb(255 0 60 / 35%), 0px 0px 18px 5px rgb(255 0 60 / 95%); */
  box-shadow: inset 0px 0px 19px 9px rgb(240, 240, 240),
    10px 0px 19px 5px rgba(245, 94, 24, 0.57);
}
.bar_n_light2 {
  right: 8.5%;
  left: unset !important;
  transform: rotate(-180.1deg);
}
@keyframes blink {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.2;
  }
  46% {
    opacity: 1;
  }
}

#instruction {
  margin: 2rem 0;
  /* min-height: 120px; */
  /* z-index: 120; */
  background-image: url(./img/speachBubble.png);
  width: 55vh;
  height: 100%;
  /* background: black; */
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 16vh;
  top: -9em;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  /* overflow: hidden; */
}

#instruction::after {
  content: "";
  position: absolute;
  top: 29vh;
  left: -26vh;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url(./img/astronaut.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 60%;
}
#instr_text {
  width: 50%;
  text-align: center;
}

#instruction > p {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8vh;
  margin: 2rem auto;
  display: grid;
  /* display: flex;
justify-content: center;
align-items: center;
flex-direction: column; */
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100px;
  /* background: grey; */
  /* transform: translateX(30px); */
}

#instruction > .choices,
#instruction > p,
#instruction > #play-again,
#instruction > .start_game,
.p_continue,
.select_door {
  transform: translateX(18px) translateY(-10px);
}
#instruction > .choices {
  text-align: center;
}
#instruction > #play-again,
#instruction > .choices {
  z-index: 40;
}

#instruction > .choices > button:last-child {
  margin-left: 1rem;
  z-index: 20;
}

/* text instruction */
/* text instruction */
/* text instruction */
/* text instruction */
/* text instruction */

.first_text_t1,
.first_text_t3,
.first_text_t5,
.second_text_t5 {
  font-size: 1.8em;
}
.second_text_t1,
.second_text_t2,
.second_text_t3 {
  font-size: 1.4em;
  /* background: yellow; */
}

.first_text_t2,
.third_text_t5 {
  font-size: 1.3em;
}

.door {
  position: relative;
}

.sign {
  position: relative;
  background: none;
  color: #303030;
  font-size: 5rem;
  display: inline-block;
}

.container-input {
  width: 100%;
  /* background-color: var(--modal-inputBg); */
  padding: 1em;
}
.h2-input {
  color: var(--h1-title);
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 16px auto;
  text-align: center;
}
.h3-input {
  color: black;
}
.BonusCodeText {
  color: black;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  flex-direction: column;
  font-weight: bold;
}
.span_code_input,
.span_game_input {
  color: var(--button_color);
}
.BonusCodeText .line-one {
  font-size: 1.4em;
  padding: 3px 0;
  margin-top: -10px;
}
.BonusCodeText .line-two {
  padding: 0 0 10px;
  line-height: 1.3;
  font-size: 1.2em;
}

#inputForm {
  width: 35em;
  max-width: 600px;
  padding: 0.5em 1em;
  margin: 0 auto;
}
@media screen and (max-width: 650px) {
  #inputForm {
    width: 100%;
  }
}

.input-box.active-grey .input-input {
  border: 1px solid #dadce0;
}
.input-box.active-grey .input-label {
  color: #80868b;
  top: -8px;
  background: #fff;
  font-size: 11px;
}
.input-box.active-grey .input-label svg {
  position: relative;
  width: 11px;
  height: 11px;
  top: 2px;
}
.input-box {
  position: relative;
  margin: 20px 0;
  /* background-color: black; */
}
.input-box .input-label {
  position: absolute;
  color: azure;
  font-size: 0.9em;
  font-weight: 400;
  max-width: calc(100% - (2 * 8px));
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: capitalize;
  left: 8px;
  top: 17px;
  padding: 0 8px;
  user-select: none;
  pointer-events: none;
}

.input-box .input-label,
.input-box.active-grey .input-label,
.input-box .input-input,
.input-box .input-input:focus,
.input-box.error .input-label,
.input-box.focus .input-label,
.input-box.active .input-label {
  transition: var(--transition-input);
}

.input-box .input-input {
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  border-radius: 4px;
  color: azure;
  border: 1px solid var(--border-input);
  padding: 13px 15px;
}
.input-box .input-input:focus {
  outline: none;
  border: 1px solid var(--border-inputFocus);
}
.input-box.error .input-label {
  color: #f44336;
  top: -8px;
  background: var(--bg-white);
  font-size: 11px;
}
.input-box.error .input-input {
  border: 1px solid var(--border-error);
}
.input-box.focus .input-label,
.input-box.active .input-label {
  color: var(--color-focusText);
  top: -8px;
  background: var(--bg-white);
  font-size: 11px;
}
.input_n3 {
  position: relative;
  overflow: hidden;
  /* background-color: red; */
}
.input_n4 {
  color: var(--color-white) !important;
}
.input-box.box_n3 .input-label {
  padding: 0 40px;
}
.input-input.input_n3 {
  padding: 0px 8em;
}
.input-box.active .input-input {
  border: 2px solid #1a73e8;
}
.input-input::placeholder {
  font-size: 1.1em;
  text-transform: uppercase;
  color: azure;
  font-weight: bold;
}

.phone-group {
  display: flex;
  position: absolute;
  overflow: hidden;
}
.phone-prefix {
  display: flex;
  width: 6em;
  position: relative;
  align-items: center;
  justify-content: center;
  /* margin-right: 0.1em; */
  /* font-size: 0.6em; */
  height: 3.1em;
  color: #000000;
  z-index: 12;
}
.phone-prefix::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  /* border-radius: 1.25em; */
  border: 1px solid var(--modal-input);
  width: 150%;
  height: 99%;
  box-sizing: border-box;
  background-color: var(--modal-inputBg);
}
.phone-prefix-content {
  position: relative;
  z-index: 1;
}
.phone-number {
  flex: 1;
  margin-bottom: 0;
  position: relative;
}

.flag {
  width: 1.5em;
  height: 0.9em;
  margin-left: 0.5em;
  display: flex;
  position: relative;
  z-index: 1;
  bottom: -1px;
  margin-right: 0.5em;
}
.flag div {
  height: 100%;
  flex: 1;
}
.flag .blue {
  background-color: #002b7f;
}
.flag .yellow {
  background-color: #fcd116;
}
.flag .red {
  background-color: #ce1126;
}

input[type="text"],
input[type="number"],
input[type="email"] {
  color: white;
  background-color: var(--modal-input);
}

.privOne,
.privTwo {
  color: grey;
}
.privOne {
  margin: 12px 0 0;
}
.privTwo {
  margin: 0 0 20px;
}

.btnNew:active {
  transform: scale(0.9);
}

.btnNew {
  height: 40px;
  line-height: 20px;
  min-width: 88px;
  padding: 8px 16px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  white-space: normal;
  letter-spacing: 0.5px;
  color: white;
  background-color: var(--button_color);
  border-radius: 0.3em;
  border: none;
  outline: none;
  box-shadow: 4px 5px 5px rgb(10 10 10 / 36%);
  cursor: pointer;
  user-select: none;
  font-weight: bold;
}

.btnNew:focus {
  outline: none;
}

.btnNew:hover {
  box-shadow: 0 1px 1px 0 rgba(245, 102, 20, 0.45),
    0 1px 3px 1px rgba(248, 108, 28, 0.3);
  transition: var(--transition-input);
  opacity: 0.9;
}
.btn_send {
  float: right;
}
.btn_send.disabled {
  float: right;
  background-color: grey;
}

.clear {
  clear: both;
}

.close-modal {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 30px;
  color: azure;
  background: transparent;
  cursor: pointer;
  border: 0;
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 73, 94, 0.8);
  z-index: 50;
  visibility: hidden;
  opacity: 0;
  transition: var(--transition-mask);
}
.modal-input {
  position: fixed;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  background-color: var(--modal-inputBg);
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: var(--transition-mask);
  transform: translateY(45px);
}
.mask {
  z-index: -44;
}
.mask.active {
  visibility: visible;
  opacity: 1;
  display: block;
  z-index: 240;
  pointer-events: none;
}
/* .modal-input.active *:not(#inputForm) {
pointer-events: none;
} */

.modal-input {
  display: none !important;
}

.active + .modal-input {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  display: block !important;
  z-index: 255;
}

/*commets*/

#comets {
  position: absolute;
  top: -10em;
  width: 100vw;
  text-align: left;
  height: 100%;
  min-height: 95vh;
}

#comets .cometsFall {
  display: inline-block;
  width: 250px;
  height: 150px;
  position: absolute;
  border-radius: 5% 40% 70%;
  box-shadow: inset 0px 0px 1px #294b67;
  border: 1px solid #333;
  z-index: 1;
  background-color: #fff;
  opacity: 0.7;
  -webkit-animation: falling 12s 0s infinite;
  -webkit-animation-timing-function: ease-in;
}

#comets .cometsFall:nth-child(1) {
  left: 30vw;
  height: 73px;
  width: 3px;
  background-color: #fff;
}
#comets .cometsFall:nth-child(2) {
  height: 70px;
  width: 3px;
  -webkit-animation: falling3 10s 5s infinite;
  left: 10vw;
  background-color: #fff;
}
#comets .cometsFall:nth-child(3) {
  -webkit-animation: falling2 8s 3s infinite;
  left: 30vw;
  height: 40px;
  width: 4px;
  background-color: #fff;
}
#comets .cometsFall:nth-child(4) {
  -webkit-animation: falling2 5s 1.5s infinite;
  left: -10vw;
  height: 73px;
  width: 3px;
  background-color: #fff;
}

#comets .cometsFall:nth-child(5) {
  -webkit-animation: falling 5s 2s infinite;
  left: 60vw;
  height: 60px;
  width: 4px;
  background-color: #fff;
}

#comets .cometsFall:nth-child(6) {
  -webkit-animation: falling3 5s 2s infinite;
  left: 90vw;
  height: 60px;
  width: 4px;
  background-color: #fff;
}

@-webkit-keyframes falling {
  0% {
    -webkit-transform: translate3d(100px, 0px, 0px) rotate(160deg);
  }

  3% {
    -webkit-transform: translate3d(450px, 900px, 0) rotate(160deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(450px, 900px, 0) rotate(160deg);
    opacity: 0;
  }
}

@-webkit-keyframes falling3 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(150deg);
  }

  10% {
    -webkit-transform: translate3d(430px, 640px, 0) rotate(150deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate3d(430px, 640px, 0) rotate(150deg);
    opacity: 0;
  }
}

@-webkit-keyframes falling2 {
  0% {
    -webkit-transform: translate3d(100px, 0, 0) rotate(130deg);
  }

  15% {
    -webkit-transform: translate3d(800px, 580px, 0) rotate(130deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate3d(800px, 680px, 0) rotate(180deg);
    opacity: 0;
  }
}

#satelit {
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
animation-direction: normal;
  animation-name: test-satelite2;
  animation-duration: 24s;
  /* animation-delay: 3s; */
  background-image: url(./img/coding-train2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 20vh;
  height: 15vh;
  color: white;
  position: absolute;
  top: 0;
  left:0 ;
  opacity: 0;
  z-index: 0;
}

@keyframes test-satelite {
  from {
    transform: perspective(50px) rotateX(40deg) rotateY(0deg) rotateZ(-5deg)
      scale(8) translateY(0px) translateX(-400px);
    opacity: 1;
  }
  to {
    opacity: 1;
    transform: perspective(1800px) rotateX(20deg) rotateY(20deg)
      rotateZ(-45deg) scale(0) translateY(0px) translateX(10px);
  }
}
@keyframes test-satelite2 {
  from {
    transform:perspective(1800px) rotateZ(5deg) translateY(260px)  translateX(90em);
    opacity: 1;
  }
  to {
    opacity: 1;
    transform:perspective(1800px) rotateZ(-5deg) translateY(-50px) translateX(-100em);
  }
}

@media screen and (orientation: portrait) {
  .app-main {
    margin-left: 0;
    /* top: -9vh; */
    position: relative;
  }
  .wrapper-all {
    position: relative;
    /* top: -4vh; */
  }
  .modal-input {
    width: 22em;
  }
  .h2-input {
    font-size: 1rem;
  }
  .BonusCodeText {
    flex-direction: column;
    line-height: 0.5;
  }
  .BonusCodeText b {
    margin: 2px 0;
    padding: 2px;
  }
  .privOne label,
  .privTwo label {
    font-size: 0.8em;
  }
  #instruction > .choices,
  #instruction > p,
  #instruction > #play-again,
  #instruction > .start_game,
  .p_continue,
  .select_door {
    transform: translateX(34px) translateY(-12px);
  }
  #instruction {
    width: 95%;
    left: 1vh;
    top: 7em;
  }
  #instruction > p {
    font-size: 1.2vh;
    height: 42px;
  }

  #instruction::after {
    background-size: 30%;
    left: 0vh;
    top: 0vh;
  }

  .btnNew {
    height: 33px;
    line-height: 18px;
    min-width: 85px;
    padding: 8px 20px;
    font-size: 12px;
  }
}

@media screen and (orientation: portrait) {
  body::after {
    /* background-image: url(./bg-mobileM.png); */
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
  }
  .separator-mobile {
    display: none;
  }
  #doors {
    gap: 0em;
  }
  .door-container {
    width: 120px;
  }
  .door-container,
  .door-container:before,
  .door-container::after {
    height: 220px;
    max-height: 240px;
    /* background-position: center bottom;
background-repeat: no-repeat; */
  }
}