@import 'https://fonts.googleapis.com/css?family=Lato:300,300i,400';
/* https://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
 *,*::after,*::before{
	 margin: 0;
	 padding: 0;
	 border: 0;
	 font-size: 100%;
	 font: inherit;
	 vertical-align: baseline;
	 box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	 display: block;
}
 body {
	 line-height: 1;
}
 ol, ul {
	 list-style: none;
}
 blockquote, q {
	 quotes: none;
}

 table {
	 border-collapse: collapse;
	 border-spacing: 0;
}

 body {
	 color: white;
	 font-size: 62.5%;
	 font-family: 'Lato', sans-serif;
}
 h1 {
	 font-size: 13em;
}
 h2 {
	 font-size: 8em;
}
 p {
	 font-size: 4em;
	 line-height: 1.3;
}
 h2 + p {
	 font-size: 3em;
}
 .vertical-center {
	 text-align: center;
	 width: 100%;
	 position: absolute;
	 top: 47%;
	 transform: translateY(-47%);
}
 .vertical-center p {
	 margin-top: 23px;
}
 .inner {
	 position: relative;
	 height: 100%;
	 width: 80%;
	 margin: 0 auto;
}
 .home {
	 background: #6dcb94;
	 background: #3ecc98;
}
 .panel1 {
	 background: #ec8200;
	 background: #ff7c0a;
}
 .panel1 .gallery-wrap {
	 position: relative;
}
 .panel1 .gallery-wrap .ga1, .panel1 .gallery-wrap .ga2, .panel1 .gallery-wrap .ga3 {
	 position: absolute;
	 top: 50%;
	 transition: all 1s ease-in-out;
}
 .panel1 .gallery-wrap .ga1 {
	 left: 350px;
}
 .panel1 .gallery-wrap .ga3 {
	 left: 610px;
}
 .panel1.actived .ga1 {
	 left: 40px;
}
 .panel1.actived .ga2 {
	 left: 350px;
}
 .panel1.actived .ga3 {
	 left: 640px;
}


.panel2 .gallery-wrap .ga1, .panel2 .gallery-wrap .ga2, .panel2 .gallery-wrap .ga3 {
	position: absolute;
	top: 50%;
	transition: all 1s ease-in-out;
}

.panel2 .gallery-wrap {
	position: relative;
}
.panel2 .gallery-wrap2 .ga1 {
	left: 350px;
}
.panel2 .gallery-wrap2 .ga3 {
	left: 610px;
}
.panel2.actived .ga1 {
	left: 40px;
}
.panel2.actived .ga2 {
	left: 350px;
}
.panel2.actived .ga3 {
	left: 640px;
}
 .panel2 {
	 background: #64a0d4;
	 background: #47a3d1;
}
 .panel3 {
	 background: #e14456;
	 background: #f73656;
}
 .panel4 {
	 background: #ff5722;
	 background: #ff5724;
}
 .code {
	 background: rgba(0, 0, 0, 0.2);
}
 .pagination {
	 position: fixed;
	 right: 20px;
	 top: 50%;
	 transform: translateY(-50%);
	 font-size: 1.4em;
	 z-index: 10;
}
 .pagination a {
	 display: block;
	 height: 20px;
	 margin-bottom: 5px;
	 color: white;
	 position: relative;
	 padding: 4px;
}
 .pagination a.active:after {
	 box-shadow: inset 0 0 0 5px;
}
 .pagination a .hover-text {
	 position: absolute;
	 right: 15px;
	 top: 7px;
	 opacity: 0;
	 -webkit-transition: opacity 0.5s ease;
	 transition: opacity 0.5s ease;
	 padding-right: 15px;
}
 .pagination a:hover .hover-text {
	 opacity: 1;
}
 .pagination a:after {
	 -webkit-transition: box-shadow 0.5s ease;
	 transition: box-shadow 0.5s ease;
	 width: 10px;
	 height: 10px;
	 display: block;
	 border: 1px solid;
	 border-radius: 50%;
	 content: '';
	 position: absolute;
	 margin: auto;
	 top: 0;
	 right: 4px;
	 bottom: 0;
}
 .social-corner {
	 position: absolute;
	 top: 18px;
	 right: 40px;
}
 .social-corner iframe:first-child {
	 margin-right: 3px;
}
 .vertical-center p.cta {
	 margin-top: 5px;
}
 .vertical-center a:link, .vertical-center a:visited {
	 color: white;
	 text-decoration: none;
	 font-size: 0.6em;
}
 .vertical-center a:hover {
	 text-decoration: underline;
}
 .arrow {
	 position: relative;
	 padding-right: 15px;
}
 .arrow:before, .arrow:after {
	 content: '';
	 position: absolute;
	 right: 0;
	 top: 7px;
	 width: 2px;
	 height: 12px;
	 background: white;
}
 .arrow:before {
	 transform: rotate(45deg);
	 top: 15px;
}
 .arrow:after {
	 transform: rotate(-45deg);
}
 @media (max-width: 800px) {
	 h1 {
		 font-size: 15vw;
	}
	 h2 {
		 font-size: 12vw;
	}
	 .inner {
		 width: 70%;
	}
}
 .fix-bar {
	 position: fixed;
	 top: 0;
	 width: 100%;
	 background: rgba(255, 255, 255, .8);
	 height: 50px;
	 line-height: 50px;
	 z-index: 9;
}
 .fix-bar ul {
	 text-align: center;
	 position: relative;
	 z-index: 99;
}
 .fix-bar ul li {
	 display: inline-block;
}
 .fix-bar ul li a {
	 text-decoration: none;
	 color: #191919;
	 font-size: 15px;
	 display: inline-block;
	 height: 50px;
	 padding: 0 25px;
}
 .fix-bar ul li a:after {
	 content: none;
}
 .panel4 .content {
	 text-align: center;
	 opacity: 0;
	 -webkit-transition: all 0.8s ease 0.5s;
	 transition: all 0.8s ease 0.5s;
	 -webkit-transform: translate3d(0px, 30px, 0px);
	 transform: translate3d(0px, 30px, 0px);
	 width: 65%;
	 margin: auto;
	 left: 0;
	 right: 0;
}
 .panel4 .content.moved {
	 opacity: 1;
	 -webkit-transform: translate3d(0, 0, 0);
	 transform: translate3d(0px, 0px, 0px);
}





.slideInUp {
	
	animation: test 4s ease forwards;
}

@keyframes test {
	from{
		transform: translate(0px, 0px);
	}
	to{
		transform: translate(0px ,100px);
	}
	
}
 